<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <div v-if="exchangeAnswerSet">
        <h2 class="jh-entity-heading" data-cy="exchangeAnswerSetDetailsHeading">
          <span v-text="$t('exchangeApp.exchangeAnswerSet.detail.title')">ExchangeAnswerSet</span> {{ exchangeAnswerSet.id }}
        </h2>
        <dl class="row jh-entity-details">
          <dt>
            <span v-text="$t('exchangeApp.exchangeAnswerSet.tag')">Tag</span>
          </dt>
          <dd>
            <span>{{ exchangeAnswerSet.tag }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.exchangeAnswerSet.createdAt')">Created At</span>
          </dt>
          <dd>
            <span>{{ exchangeAnswerSet.createdAt }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.exchangeAnswerSet.updatedAt')">Updated At</span>
          </dt>
          <dd>
            <span>{{ exchangeAnswerSet.updatedAt }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.exchangeAnswerSet.createdBy')">Created By</span>
          </dt>
          <dd>
            <span>{{ exchangeAnswerSet.createdBy }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.exchangeAnswerSet.updatedBy')">Updated By</span>
          </dt>
          <dd>
            <span>{{ exchangeAnswerSet.updatedBy }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.exchangeAnswerSet.price')">Price</span>
          </dt>
          <dd>
            <div v-if="exchangeAnswerSet.price">
              <router-link :to="{ name: 'ExchangePriceView', params: { exchangePriceId: exchangeAnswerSet.price.id } }">{{
                exchangeAnswerSet.price.id
              }}</router-link>
            </div>
          </dd>
        </dl>
        <button type="submit" v-on:click.prevent="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
        </button>
        <router-link
          v-if="exchangeAnswerSet.id"
          :to="{ name: 'ExchangeAnswerSetEdit', params: { exchangeAnswerSetId: exchangeAnswerSet.id } }"
          custom
          v-slot="{ navigate }"
        >
          <button @click="navigate" class="btn btn-primary">
            <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
          </button>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./exchange-answer-set-details.component.ts"></script>
