<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate v-on:submit.prevent="save()">
        <h2
          id="exchangeApp.exchangeAnswerSet.home.createOrEditLabel"
          data-cy="ExchangeAnswerSetCreateUpdateHeading"
          v-text="$t('exchangeApp.exchangeAnswerSet.home.createOrEditLabel')"
        >
          Create or edit a ExchangeAnswerSet
        </h2>
        <div>
          <div class="form-group" v-if="exchangeAnswerSet.id">
            <label for="id" v-text="$t('global.field.id')">ID</label>
            <input type="text" class="form-control" id="id" name="id" v-model="exchangeAnswerSet.id" readonly />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.exchangeAnswerSet.tag')" for="exchange-answer-set-tag">Tag</label>
            <input
              type="text"
              class="form-control"
              name="tag"
              id="exchange-answer-set-tag"
              data-cy="tag"
              :class="{ valid: !$v.exchangeAnswerSet.tag.$invalid, invalid: $v.exchangeAnswerSet.tag.$invalid }"
              v-model="$v.exchangeAnswerSet.tag.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.exchangeAnswerSet.createdAt')" for="exchange-answer-set-createdAt"
              >Created At</label
            >
            <b-input-group class="mb-3">
              <b-input-group-prepend>
                <b-form-datepicker
                  aria-controls="exchange-answer-set-createdAt"
                  v-model="$v.exchangeAnswerSet.createdAt.$model"
                  name="createdAt"
                  class="form-control"
                  :locale="currentLanguage"
                  button-only
                  today-button
                  reset-button
                  close-button
                >
                </b-form-datepicker>
              </b-input-group-prepend>
              <b-form-input
                id="exchange-answer-set-createdAt"
                data-cy="createdAt"
                type="text"
                class="form-control"
                name="createdAt"
                :class="{ valid: !$v.exchangeAnswerSet.createdAt.$invalid, invalid: $v.exchangeAnswerSet.createdAt.$invalid }"
                v-model="$v.exchangeAnswerSet.createdAt.$model"
              />
            </b-input-group>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.exchangeAnswerSet.updatedAt')" for="exchange-answer-set-updatedAt"
              >Updated At</label
            >
            <b-input-group class="mb-3">
              <b-input-group-prepend>
                <b-form-datepicker
                  aria-controls="exchange-answer-set-updatedAt"
                  v-model="$v.exchangeAnswerSet.updatedAt.$model"
                  name="updatedAt"
                  class="form-control"
                  :locale="currentLanguage"
                  button-only
                  today-button
                  reset-button
                  close-button
                >
                </b-form-datepicker>
              </b-input-group-prepend>
              <b-form-input
                id="exchange-answer-set-updatedAt"
                data-cy="updatedAt"
                type="text"
                class="form-control"
                name="updatedAt"
                :class="{ valid: !$v.exchangeAnswerSet.updatedAt.$invalid, invalid: $v.exchangeAnswerSet.updatedAt.$invalid }"
                v-model="$v.exchangeAnswerSet.updatedAt.$model"
              />
            </b-input-group>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.exchangeAnswerSet.createdBy')" for="exchange-answer-set-createdBy"
              >Created By</label
            >
            <input
              type="text"
              class="form-control"
              name="createdBy"
              id="exchange-answer-set-createdBy"
              data-cy="createdBy"
              :class="{ valid: !$v.exchangeAnswerSet.createdBy.$invalid, invalid: $v.exchangeAnswerSet.createdBy.$invalid }"
              v-model="$v.exchangeAnswerSet.createdBy.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.exchangeAnswerSet.updatedBy')" for="exchange-answer-set-updatedBy"
              >Updated By</label
            >
            <input
              type="text"
              class="form-control"
              name="updatedBy"
              id="exchange-answer-set-updatedBy"
              data-cy="updatedBy"
              :class="{ valid: !$v.exchangeAnswerSet.updatedBy.$invalid, invalid: $v.exchangeAnswerSet.updatedBy.$invalid }"
              v-model="$v.exchangeAnswerSet.updatedBy.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.exchangeAnswerSet.price')" for="exchange-answer-set-price"
              >Price</label
            >
            <select class="form-control" id="exchange-answer-set-price" data-cy="price" name="price" v-model="exchangeAnswerSet.price">
              <option v-bind:value="null"></option>
              <option
                v-bind:value="
                  exchangeAnswerSet.price && exchangePriceOption.id === exchangeAnswerSet.price.id
                    ? exchangeAnswerSet.price
                    : exchangePriceOption
                "
                v-for="exchangePriceOption in exchangePrices"
                :key="exchangePriceOption.id"
              >
                {{ exchangePriceOption.id }}
              </option>
            </select>
          </div>
        </div>
        <div>
          <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" v-on:click="previousState()">
            <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            :disabled="$v.exchangeAnswerSet.$invalid || isSaving"
            class="btn btn-primary"
          >
            <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script lang="ts" src="./exchange-answer-set-update.component.ts"></script>
