<template>
  <div>
    <h2 id="page-heading" data-cy="ExchangeAnswerSetHeading">
      <span v-text="$t('exchangeApp.exchangeAnswerSet.home.title')" id="exchange-answer-set-heading">Exchange Answer Sets</span>
      <div class="d-flex justify-content-end">
        <button class="btn btn-info mr-2" v-on:click="handleSyncList" :disabled="isFetching">
          <font-awesome-icon icon="sync" :spin="isFetching"></font-awesome-icon>
          <span v-text="$t('exchangeApp.exchangeAnswerSet.home.refreshListLabel')">Refresh List</span>
        </button>
        <router-link :to="{ name: 'ExchangeAnswerSetCreate' }" custom v-slot="{ navigate }">
          <button
            @click="navigate"
            id="jh-create-entity"
            data-cy="entityCreateButton"
            class="btn btn-primary jh-create-entity create-exchange-answer-set"
          >
            <font-awesome-icon icon="plus"></font-awesome-icon>
            <span v-text="$t('exchangeApp.exchangeAnswerSet.home.createLabel')"> Create a new Exchange Answer Set </span>
          </button>
        </router-link>
      </div>
    </h2>
    <br />
    <div class="alert alert-warning" v-if="!isFetching && exchangeAnswerSets && exchangeAnswerSets.length === 0">
      <span v-text="$t('exchangeApp.exchangeAnswerSet.home.notFound')">No exchangeAnswerSets found</span>
    </div>
    <div class="table-responsive" v-if="exchangeAnswerSets && exchangeAnswerSets.length > 0">
      <table class="table table-striped" aria-describedby="exchangeAnswerSets">
        <thead>
          <tr>
            <th scope="row" v-on:click="changeOrder('id')">
              <span v-text="$t('global.field.id')">ID</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'id'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('tag')">
              <span v-text="$t('exchangeApp.exchangeAnswerSet.tag')">Tag</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'tag'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('createdAt')">
              <span v-text="$t('exchangeApp.exchangeAnswerSet.createdAt')">Created At</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'createdAt'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('updatedAt')">
              <span v-text="$t('exchangeApp.exchangeAnswerSet.updatedAt')">Updated At</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'updatedAt'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('createdBy')">
              <span v-text="$t('exchangeApp.exchangeAnswerSet.createdBy')">Created By</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'createdBy'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('updatedBy')">
              <span v-text="$t('exchangeApp.exchangeAnswerSet.updatedBy')">Updated By</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'updatedBy'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('price.id')">
              <span v-text="$t('exchangeApp.exchangeAnswerSet.price')">Price</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'price.id'"></jhi-sort-indicator>
            </th>
            <th scope="row"></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="exchangeAnswerSet in exchangeAnswerSets" :key="exchangeAnswerSet.id" data-cy="entityTable">
            <td>
              <router-link :to="{ name: 'ExchangeAnswerSetView', params: { exchangeAnswerSetId: exchangeAnswerSet.id } }">{{
                exchangeAnswerSet.id
              }}</router-link>
            </td>
            <td>{{ exchangeAnswerSet.tag }}</td>
            <td>{{ exchangeAnswerSet.createdAt }}</td>
            <td>{{ exchangeAnswerSet.updatedAt }}</td>
            <td>{{ exchangeAnswerSet.createdBy }}</td>
            <td>{{ exchangeAnswerSet.updatedBy }}</td>
            <td>
              <div v-if="exchangeAnswerSet.price">
                <router-link :to="{ name: 'ExchangePriceView', params: { exchangePriceId: exchangeAnswerSet.price.id } }">{{
                  exchangeAnswerSet.price.id
                }}</router-link>
              </div>
            </td>
            <td class="text-right">
              <div class="btn-group">
                <router-link
                  :to="{ name: 'ExchangeAnswerSetView', params: { exchangeAnswerSetId: exchangeAnswerSet.id } }"
                  custom
                  v-slot="{ navigate }"
                >
                  <button @click="navigate" class="btn btn-info btn-sm details" data-cy="entityDetailsButton">
                    <font-awesome-icon icon="eye"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.view')">View</span>
                  </button>
                </router-link>
                <router-link
                  :to="{ name: 'ExchangeAnswerSetEdit', params: { exchangeAnswerSetId: exchangeAnswerSet.id } }"
                  custom
                  v-slot="{ navigate }"
                >
                  <button @click="navigate" class="btn btn-primary btn-sm edit" data-cy="entityEditButton">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.edit')">Edit</span>
                  </button>
                </router-link>
                <b-button
                  v-on:click="prepareRemove(exchangeAnswerSet)"
                  variant="danger"
                  class="btn btn-sm"
                  data-cy="entityDeleteButton"
                  v-b-modal.removeEntity
                >
                  <font-awesome-icon icon="times"></font-awesome-icon>
                  <span class="d-none d-md-inline" v-text="$t('entity.action.delete')">Delete</span>
                </b-button>
              </div>
            </td>
          </tr>
        </tbody>
        <infinite-loading
          ref="infiniteLoading"
          v-if="totalItems > itemsPerPage"
          :identifier="infiniteId"
          slot="append"
          @infinite="loadMore"
          force-use-infinite-wrapper=".el-table__body-wrapper"
          :distance="20"
        >
        </infinite-loading>
      </table>
    </div>
    <b-modal ref="removeEntity" id="removeEntity">
      <span slot="modal-title"
        ><span
          id="exchangeApp.exchangeAnswerSet.delete.question"
          data-cy="exchangeAnswerSetDeleteDialogHeading"
          v-text="$t('entity.delete.title')"
          >Confirm delete operation</span
        ></span
      >
      <div class="modal-body">
        <p id="jhi-delete-exchangeAnswerSet-heading" v-text="$t('exchangeApp.exchangeAnswerSet.delete.question', { id: removeId })">
          Are you sure you want to delete this Exchange Answer Set?
        </p>
      </div>
      <div slot="modal-footer">
        <button type="button" class="btn btn-secondary" v-text="$t('entity.action.cancel')" v-on:click="closeDialog()">Cancel</button>
        <button
          type="button"
          class="btn btn-primary"
          id="jhi-confirm-delete-exchangeAnswerSet"
          data-cy="entityConfirmDeleteButton"
          v-text="$t('entity.action.delete')"
          v-on:click="removeExchangeAnswerSet()"
        >
          Delete
        </button>
      </div>
    </b-modal>
  </div>
</template>

<script lang="ts" src="./exchange-answer-set.component.ts"></script>
