<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <div v-if="deliveryPartner">
        <h2 class="jh-entity-heading" data-cy="deliveryPartnerDetailsHeading">
          <span v-text="$t('exchangeApp.deliveryPartner.detail.title')">DeliveryPartner</span> {{ deliveryPartner.id }}
        </h2>
        <dl class="row jh-entity-details">
          <dt>
            <span v-text="$t('exchangeApp.deliveryPartner.name')">Name</span>
          </dt>
          <dd>
            <span>{{ deliveryPartner.name }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.deliveryPartner.deliveryPartnerApiKey')">Delivery Partner Api Key</span>
          </dt>
          <dd>
            <span>{{ deliveryPartner.deliveryPartnerApiKey }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.deliveryPartner.isActive')">Is Active</span>
          </dt>
          <dd>
            <span>{{ deliveryPartner.isActive }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.deliveryPartner.createdAt')">Created At</span>
          </dt>
          <dd>
            <span>{{ deliveryPartner.createdAt }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.deliveryPartner.updatedAt')">Updated At</span>
          </dt>
          <dd>
            <span>{{ deliveryPartner.updatedAt }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.deliveryPartner.createdBy')">Created By</span>
          </dt>
          <dd>
            <span>{{ deliveryPartner.createdBy }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.deliveryPartner.updatedBy')">Updated By</span>
          </dt>
          <dd>
            <span>{{ deliveryPartner.updatedBy }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.deliveryPartner.approvedBy')">Approved By</span>
          </dt>
          <dd>
            <div v-if="deliveryPartner.approvedBy">
              <router-link :to="{ name: 'ExchangeOpsUserView', params: { exchangeOpsUserId: deliveryPartner.approvedBy.id } }">{{
                deliveryPartner.approvedBy.id
              }}</router-link>
            </div>
          </dd>
        </dl>
        <button type="submit" v-on:click.prevent="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
        </button>
        <router-link
          v-if="deliveryPartner.id"
          :to="{ name: 'DeliveryPartnerEdit', params: { deliveryPartnerId: deliveryPartner.id } }"
          custom
          v-slot="{ navigate }"
        >
          <button @click="navigate" class="btn btn-primary">
            <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
          </button>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./delivery-partner-details.component.ts"></script>
