<template>
  <div>
    <h2 id="page-heading" data-cy="DeliveryPartnerHeading">
      <span v-text="$t('exchangeApp.deliveryPartner.home.title')" id="delivery-partner-heading">Delivery Partners</span>
      <div class="d-flex justify-content-end">
        <button class="btn btn-info mr-2" v-on:click="handleSyncList" :disabled="isFetching">
          <font-awesome-icon icon="sync" :spin="isFetching"></font-awesome-icon>
          <span v-text="$t('exchangeApp.deliveryPartner.home.refreshListLabel')">Refresh List</span>
        </button>
        <router-link :to="{ name: 'DeliveryPartnerCreate' }" custom v-slot="{ navigate }">
          <button
            @click="navigate"
            id="jh-create-entity"
            data-cy="entityCreateButton"
            class="btn btn-primary jh-create-entity create-delivery-partner"
          >
            <font-awesome-icon icon="plus"></font-awesome-icon>
            <span v-text="$t('exchangeApp.deliveryPartner.home.createLabel')"> Create a new Delivery Partner </span>
          </button>
        </router-link>
      </div>
    </h2>
    <br />
    <div class="alert alert-warning" v-if="!isFetching && deliveryPartners && deliveryPartners.length === 0">
      <span v-text="$t('exchangeApp.deliveryPartner.home.notFound')">No deliveryPartners found</span>
    </div>
    <div class="table-responsive" v-if="deliveryPartners && deliveryPartners.length > 0">
      <table class="table table-striped" aria-describedby="deliveryPartners">
        <thead>
          <tr>
            <th scope="row" v-on:click="changeOrder('id')">
              <span v-text="$t('global.field.id')">ID</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'id'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('name')">
              <span v-text="$t('exchangeApp.deliveryPartner.name')">Name</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'name'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('deliveryPartnerApiKey')">
              <span v-text="$t('exchangeApp.deliveryPartner.deliveryPartnerApiKey')">Delivery Partner Api Key</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'deliveryPartnerApiKey'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('isActive')">
              <span v-text="$t('exchangeApp.deliveryPartner.isActive')">Is Active</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'isActive'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('createdAt')">
              <span v-text="$t('exchangeApp.deliveryPartner.createdAt')">Created At</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'createdAt'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('updatedAt')">
              <span v-text="$t('exchangeApp.deliveryPartner.updatedAt')">Updated At</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'updatedAt'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('createdBy')">
              <span v-text="$t('exchangeApp.deliveryPartner.createdBy')">Created By</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'createdBy'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('updatedBy')">
              <span v-text="$t('exchangeApp.deliveryPartner.updatedBy')">Updated By</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'updatedBy'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('approvedBy.id')">
              <span v-text="$t('exchangeApp.deliveryPartner.approvedBy')">Approved By</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'approvedBy.id'"></jhi-sort-indicator>
            </th>
            <th scope="row"></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="deliveryPartner in deliveryPartners" :key="deliveryPartner.id" data-cy="entityTable">
            <td>
              <router-link :to="{ name: 'DeliveryPartnerView', params: { deliveryPartnerId: deliveryPartner.id } }">{{
                deliveryPartner.id
              }}</router-link>
            </td>
            <td>{{ deliveryPartner.name }}</td>
            <td>{{ deliveryPartner.deliveryPartnerApiKey }}</td>
            <td>{{ deliveryPartner.isActive }}</td>
            <td>{{ deliveryPartner.createdAt }}</td>
            <td>{{ deliveryPartner.updatedAt }}</td>
            <td>{{ deliveryPartner.createdBy }}</td>
            <td>{{ deliveryPartner.updatedBy }}</td>
            <td>
              <div v-if="deliveryPartner.approvedBy">
                <router-link :to="{ name: 'ExchangeOpsUserView', params: { exchangeOpsUserId: deliveryPartner.approvedBy.id } }">{{
                  deliveryPartner.approvedBy.id
                }}</router-link>
              </div>
            </td>
            <td class="text-right">
              <div class="btn-group">
                <router-link
                  :to="{ name: 'DeliveryPartnerView', params: { deliveryPartnerId: deliveryPartner.id } }"
                  custom
                  v-slot="{ navigate }"
                >
                  <button @click="navigate" class="btn btn-info btn-sm details" data-cy="entityDetailsButton">
                    <font-awesome-icon icon="eye"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.view')">View</span>
                  </button>
                </router-link>
                <router-link
                  :to="{ name: 'DeliveryPartnerEdit', params: { deliveryPartnerId: deliveryPartner.id } }"
                  custom
                  v-slot="{ navigate }"
                >
                  <button @click="navigate" class="btn btn-primary btn-sm edit" data-cy="entityEditButton">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.edit')">Edit</span>
                  </button>
                </router-link>
                <b-button
                  v-on:click="prepareRemove(deliveryPartner)"
                  variant="danger"
                  class="btn btn-sm"
                  data-cy="entityDeleteButton"
                  v-b-modal.removeEntity
                >
                  <font-awesome-icon icon="times"></font-awesome-icon>
                  <span class="d-none d-md-inline" v-text="$t('entity.action.delete')">Delete</span>
                </b-button>
              </div>
            </td>
          </tr>
        </tbody>
        <infinite-loading
          ref="infiniteLoading"
          v-if="totalItems > itemsPerPage"
          :identifier="infiniteId"
          slot="append"
          @infinite="loadMore"
          force-use-infinite-wrapper=".el-table__body-wrapper"
          :distance="20"
        >
        </infinite-loading>
      </table>
    </div>
    <b-modal ref="removeEntity" id="removeEntity">
      <span slot="modal-title"
        ><span
          id="exchangeApp.deliveryPartner.delete.question"
          data-cy="deliveryPartnerDeleteDialogHeading"
          v-text="$t('entity.delete.title')"
          >Confirm delete operation</span
        ></span
      >
      <div class="modal-body">
        <p id="jhi-delete-deliveryPartner-heading" v-text="$t('exchangeApp.deliveryPartner.delete.question', { id: removeId })">
          Are you sure you want to delete this Delivery Partner?
        </p>
      </div>
      <div slot="modal-footer">
        <button type="button" class="btn btn-secondary" v-text="$t('entity.action.cancel')" v-on:click="closeDialog()">Cancel</button>
        <button
          type="button"
          class="btn btn-primary"
          id="jhi-confirm-delete-deliveryPartner"
          data-cy="entityConfirmDeleteButton"
          v-text="$t('entity.action.delete')"
          v-on:click="removeDeliveryPartner()"
        >
          Delete
        </button>
      </div>
    </b-modal>
  </div>
</template>

<script lang="ts" src="./delivery-partner.component.ts"></script>
