<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate v-on:submit.prevent="save()">
        <h2
          id="exchangeApp.deliveryPartner.home.createOrEditLabel"
          data-cy="DeliveryPartnerCreateUpdateHeading"
          v-text="$t('exchangeApp.deliveryPartner.home.createOrEditLabel')"
        >
          Create or edit a DeliveryPartner
        </h2>
        <div>
          <div class="form-group" v-if="deliveryPartner.id">
            <label for="id" v-text="$t('global.field.id')">ID</label>
            <input type="text" class="form-control" id="id" name="id" v-model="deliveryPartner.id" readonly />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.deliveryPartner.name')" for="delivery-partner-name">Name</label>
            <input
              type="text"
              class="form-control"
              name="name"
              id="delivery-partner-name"
              data-cy="name"
              :class="{ valid: !$v.deliveryPartner.name.$invalid, invalid: $v.deliveryPartner.name.$invalid }"
              v-model="$v.deliveryPartner.name.$model"
              required
            />
            <div v-if="$v.deliveryPartner.name.$anyDirty && $v.deliveryPartner.name.$invalid">
              <small class="form-text text-danger" v-if="!$v.deliveryPartner.name.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label
              class="form-control-label"
              v-text="$t('exchangeApp.deliveryPartner.deliveryPartnerApiKey')"
              for="delivery-partner-deliveryPartnerApiKey"
              >Delivery Partner Api Key</label
            >
            <input
              type="text"
              class="form-control"
              name="deliveryPartnerApiKey"
              id="delivery-partner-deliveryPartnerApiKey"
              data-cy="deliveryPartnerApiKey"
              :class="{
                valid: !$v.deliveryPartner.deliveryPartnerApiKey.$invalid,
                invalid: $v.deliveryPartner.deliveryPartnerApiKey.$invalid,
              }"
              v-model="$v.deliveryPartner.deliveryPartnerApiKey.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.deliveryPartner.isActive')" for="delivery-partner-isActive"
              >Is Active</label
            >
            <input
              type="checkbox"
              class="form-check"
              name="isActive"
              id="delivery-partner-isActive"
              data-cy="isActive"
              :class="{ valid: !$v.deliveryPartner.isActive.$invalid, invalid: $v.deliveryPartner.isActive.$invalid }"
              v-model="$v.deliveryPartner.isActive.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.deliveryPartner.createdAt')" for="delivery-partner-createdAt"
              >Created At</label
            >
            <b-input-group class="mb-3">
              <b-input-group-prepend>
                <b-form-datepicker
                  aria-controls="delivery-partner-createdAt"
                  v-model="$v.deliveryPartner.createdAt.$model"
                  name="createdAt"
                  class="form-control"
                  :locale="currentLanguage"
                  button-only
                  today-button
                  reset-button
                  close-button
                >
                </b-form-datepicker>
              </b-input-group-prepend>
              <b-form-input
                id="delivery-partner-createdAt"
                data-cy="createdAt"
                type="text"
                class="form-control"
                name="createdAt"
                :class="{ valid: !$v.deliveryPartner.createdAt.$invalid, invalid: $v.deliveryPartner.createdAt.$invalid }"
                v-model="$v.deliveryPartner.createdAt.$model"
              />
            </b-input-group>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.deliveryPartner.updatedAt')" for="delivery-partner-updatedAt"
              >Updated At</label
            >
            <b-input-group class="mb-3">
              <b-input-group-prepend>
                <b-form-datepicker
                  aria-controls="delivery-partner-updatedAt"
                  v-model="$v.deliveryPartner.updatedAt.$model"
                  name="updatedAt"
                  class="form-control"
                  :locale="currentLanguage"
                  button-only
                  today-button
                  reset-button
                  close-button
                >
                </b-form-datepicker>
              </b-input-group-prepend>
              <b-form-input
                id="delivery-partner-updatedAt"
                data-cy="updatedAt"
                type="text"
                class="form-control"
                name="updatedAt"
                :class="{ valid: !$v.deliveryPartner.updatedAt.$invalid, invalid: $v.deliveryPartner.updatedAt.$invalid }"
                v-model="$v.deliveryPartner.updatedAt.$model"
              />
            </b-input-group>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.deliveryPartner.createdBy')" for="delivery-partner-createdBy"
              >Created By</label
            >
            <input
              type="text"
              class="form-control"
              name="createdBy"
              id="delivery-partner-createdBy"
              data-cy="createdBy"
              :class="{ valid: !$v.deliveryPartner.createdBy.$invalid, invalid: $v.deliveryPartner.createdBy.$invalid }"
              v-model="$v.deliveryPartner.createdBy.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.deliveryPartner.updatedBy')" for="delivery-partner-updatedBy"
              >Updated By</label
            >
            <input
              type="text"
              class="form-control"
              name="updatedBy"
              id="delivery-partner-updatedBy"
              data-cy="updatedBy"
              :class="{ valid: !$v.deliveryPartner.updatedBy.$invalid, invalid: $v.deliveryPartner.updatedBy.$invalid }"
              v-model="$v.deliveryPartner.updatedBy.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.deliveryPartner.approvedBy')" for="delivery-partner-approvedBy"
              >Approved By</label
            >
            <select
              class="form-control"
              id="delivery-partner-approvedBy"
              data-cy="approvedBy"
              name="approvedBy"
              v-model="deliveryPartner.approvedBy"
            >
              <option v-bind:value="null"></option>
              <option
                v-bind:value="
                  deliveryPartner.approvedBy && exchangeOpsUserOption.id === deliveryPartner.approvedBy.id
                    ? deliveryPartner.approvedBy
                    : exchangeOpsUserOption
                "
                v-for="exchangeOpsUserOption in exchangeOpsUsers"
                :key="exchangeOpsUserOption.id"
              >
                {{ exchangeOpsUserOption.id }}
              </option>
            </select>
          </div>
        </div>
        <div>
          <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" v-on:click="previousState()">
            <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            :disabled="$v.deliveryPartner.$invalid || isSaving"
            class="btn btn-primary"
          >
            <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script lang="ts" src="./delivery-partner-update.component.ts"></script>
