<template>
  <div>
    <h2 id="page-heading" data-cy="DifferentialAmountHeading">
      <span v-text="$t('exchangeApp.differentialAmount.home.title')" id="differential-amount-heading">Differential Amounts</span>
      <div class="d-flex justify-content-end">
        <button class="btn btn-info mr-2" v-on:click="handleSyncList" :disabled="isFetching">
          <font-awesome-icon icon="sync" :spin="isFetching"></font-awesome-icon>
          <span v-text="$t('exchangeApp.differentialAmount.home.refreshListLabel')">Refresh List</span>
        </button>
        <router-link :to="{ name: 'DifferentialAmountCreate' }" custom v-slot="{ navigate }">
          <button
            @click="navigate"
            id="jh-create-entity"
            data-cy="entityCreateButton"
            class="btn btn-primary jh-create-entity create-differential-amount"
          >
            <font-awesome-icon icon="plus"></font-awesome-icon>
            <span v-text="$t('exchangeApp.differentialAmount.home.createLabel')"> Create a new Differential Amount </span>
          </button>
        </router-link>
      </div>
    </h2>
    <br />
    <div class="alert alert-warning" v-if="!isFetching && differentialAmounts && differentialAmounts.length === 0">
      <span v-text="$t('exchangeApp.differentialAmount.home.notFound')">No differentialAmounts found</span>
    </div>
    <div class="table-responsive" v-if="differentialAmounts && differentialAmounts.length > 0">
      <table class="table table-striped" aria-describedby="differentialAmounts">
        <thead>
          <tr>
            <th scope="row" v-on:click="changeOrder('id')">
              <span v-text="$t('global.field.id')">ID</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'id'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('differentialAmount')">
              <span v-text="$t('exchangeApp.differentialAmount.differentialAmount')">Differential Amount</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'differentialAmount'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('chargedTo')">
              <span v-text="$t('exchangeApp.differentialAmount.chargedTo')">Charged To</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'chargedTo'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('approvedAt')">
              <span v-text="$t('exchangeApp.differentialAmount.approvedAt')">Approved At</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'approvedAt'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('createdAt')">
              <span v-text="$t('exchangeApp.differentialAmount.createdAt')">Created At</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'createdAt'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('updatedAt')">
              <span v-text="$t('exchangeApp.differentialAmount.updatedAt')">Updated At</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'updatedAt'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('createdBy')">
              <span v-text="$t('exchangeApp.differentialAmount.createdBy')">Created By</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'createdBy'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('updatedBy')">
              <span v-text="$t('exchangeApp.differentialAmount.updatedBy')">Updated By</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'updatedBy'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('order.id')">
              <span v-text="$t('exchangeApp.differentialAmount.order')">Order</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'order.id'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('approvedBy.id')">
              <span v-text="$t('exchangeApp.differentialAmount.approvedBy')">Approved By</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'approvedBy.id'"></jhi-sort-indicator>
            </th>
            <th scope="row"></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="differentialAmount in differentialAmounts" :key="differentialAmount.id" data-cy="entityTable">
            <td>
              <router-link :to="{ name: 'DifferentialAmountView', params: { differentialAmountId: differentialAmount.id } }">{{
                differentialAmount.id
              }}</router-link>
            </td>
            <td>{{ differentialAmount.differentialAmount }}</td>
            <td v-text="$t('exchangeApp.ChargedTo.' + differentialAmount.chargedTo)">{{ differentialAmount.chargedTo }}</td>
            <td>{{ differentialAmount.approvedAt }}</td>
            <td>{{ differentialAmount.createdAt }}</td>
            <td>{{ differentialAmount.updatedAt }}</td>
            <td>{{ differentialAmount.createdBy }}</td>
            <td>{{ differentialAmount.updatedBy }}</td>
            <td>
              <div v-if="differentialAmount.order">
                <router-link :to="{ name: 'ExchangeOrderView', params: { exchangeOrderId: differentialAmount.order.id } }">{{
                  differentialAmount.order.id
                }}</router-link>
              </div>
            </td>
            <td>
              <div v-if="differentialAmount.approvedBy">
                <router-link :to="{ name: 'ExchangeOpsUserView', params: { exchangeOpsUserId: differentialAmount.approvedBy.id } }">{{
                  differentialAmount.approvedBy.id
                }}</router-link>
              </div>
            </td>
            <td class="text-right">
              <div class="btn-group">
                <router-link
                  :to="{ name: 'DifferentialAmountView', params: { differentialAmountId: differentialAmount.id } }"
                  custom
                  v-slot="{ navigate }"
                >
                  <button @click="navigate" class="btn btn-info btn-sm details" data-cy="entityDetailsButton">
                    <font-awesome-icon icon="eye"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.view')">View</span>
                  </button>
                </router-link>
                <router-link
                  :to="{ name: 'DifferentialAmountEdit', params: { differentialAmountId: differentialAmount.id } }"
                  custom
                  v-slot="{ navigate }"
                >
                  <button @click="navigate" class="btn btn-primary btn-sm edit" data-cy="entityEditButton">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.edit')">Edit</span>
                  </button>
                </router-link>
                <b-button
                  v-on:click="prepareRemove(differentialAmount)"
                  variant="danger"
                  class="btn btn-sm"
                  data-cy="entityDeleteButton"
                  v-b-modal.removeEntity
                >
                  <font-awesome-icon icon="times"></font-awesome-icon>
                  <span class="d-none d-md-inline" v-text="$t('entity.action.delete')">Delete</span>
                </b-button>
              </div>
            </td>
          </tr>
        </tbody>
        <infinite-loading
          ref="infiniteLoading"
          v-if="totalItems > itemsPerPage"
          :identifier="infiniteId"
          slot="append"
          @infinite="loadMore"
          force-use-infinite-wrapper=".el-table__body-wrapper"
          :distance="20"
        >
        </infinite-loading>
      </table>
    </div>
    <b-modal ref="removeEntity" id="removeEntity">
      <span slot="modal-title"
        ><span
          id="exchangeApp.differentialAmount.delete.question"
          data-cy="differentialAmountDeleteDialogHeading"
          v-text="$t('entity.delete.title')"
          >Confirm delete operation</span
        ></span
      >
      <div class="modal-body">
        <p id="jhi-delete-differentialAmount-heading" v-text="$t('exchangeApp.differentialAmount.delete.question', { id: removeId })">
          Are you sure you want to delete this Differential Amount?
        </p>
      </div>
      <div slot="modal-footer">
        <button type="button" class="btn btn-secondary" v-text="$t('entity.action.cancel')" v-on:click="closeDialog()">Cancel</button>
        <button
          type="button"
          class="btn btn-primary"
          id="jhi-confirm-delete-differentialAmount"
          data-cy="entityConfirmDeleteButton"
          v-text="$t('entity.action.delete')"
          v-on:click="removeDifferentialAmount()"
        >
          Delete
        </button>
      </div>
    </b-modal>
  </div>
</template>

<script lang="ts" src="./differential-amount.component.ts"></script>
