<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate v-on:submit.prevent="save()">
        <h2
          id="exchangeApp.differentialAmount.home.createOrEditLabel"
          data-cy="DifferentialAmountCreateUpdateHeading"
          v-text="$t('exchangeApp.differentialAmount.home.createOrEditLabel')"
        >
          Create or edit a DifferentialAmount
        </h2>
        <div>
          <div class="form-group" v-if="differentialAmount.id">
            <label for="id" v-text="$t('global.field.id')">ID</label>
            <input type="text" class="form-control" id="id" name="id" v-model="differentialAmount.id" readonly />
          </div>
          <div class="form-group">
            <label
              class="form-control-label"
              v-text="$t('exchangeApp.differentialAmount.differentialAmount')"
              for="differential-amount-differentialAmount"
              >Differential Amount</label
            >
            <input
              type="number"
              class="form-control"
              name="differentialAmount"
              id="differential-amount-differentialAmount"
              data-cy="differentialAmount"
              :class="{
                valid: !$v.differentialAmount.differentialAmount.$invalid,
                invalid: $v.differentialAmount.differentialAmount.$invalid,
              }"
              v-model.number="$v.differentialAmount.differentialAmount.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.differentialAmount.chargedTo')" for="differential-amount-chargedTo"
              >Charged To</label
            >
            <select
              class="form-control"
              name="chargedTo"
              :class="{ valid: !$v.differentialAmount.chargedTo.$invalid, invalid: $v.differentialAmount.chargedTo.$invalid }"
              v-model="$v.differentialAmount.chargedTo.$model"
              id="differential-amount-chargedTo"
              data-cy="chargedTo"
            >
              <option
                v-for="chargedTo in chargedToValues"
                :key="chargedTo"
                v-bind:value="chargedTo"
                v-bind:label="$t('exchangeApp.ChargedTo.' + chargedTo)"
              >
                {{ chargedTo }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.differentialAmount.approvedAt')" for="differential-amount-approvedAt"
              >Approved At</label
            >
            <b-input-group class="mb-3">
              <b-input-group-prepend>
                <b-form-datepicker
                  aria-controls="differential-amount-approvedAt"
                  v-model="$v.differentialAmount.approvedAt.$model"
                  name="approvedAt"
                  class="form-control"
                  :locale="currentLanguage"
                  button-only
                  today-button
                  reset-button
                  close-button
                >
                </b-form-datepicker>
              </b-input-group-prepend>
              <b-form-input
                id="differential-amount-approvedAt"
                data-cy="approvedAt"
                type="text"
                class="form-control"
                name="approvedAt"
                :class="{ valid: !$v.differentialAmount.approvedAt.$invalid, invalid: $v.differentialAmount.approvedAt.$invalid }"
                v-model="$v.differentialAmount.approvedAt.$model"
              />
            </b-input-group>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.differentialAmount.createdAt')" for="differential-amount-createdAt"
              >Created At</label
            >
            <b-input-group class="mb-3">
              <b-input-group-prepend>
                <b-form-datepicker
                  aria-controls="differential-amount-createdAt"
                  v-model="$v.differentialAmount.createdAt.$model"
                  name="createdAt"
                  class="form-control"
                  :locale="currentLanguage"
                  button-only
                  today-button
                  reset-button
                  close-button
                >
                </b-form-datepicker>
              </b-input-group-prepend>
              <b-form-input
                id="differential-amount-createdAt"
                data-cy="createdAt"
                type="text"
                class="form-control"
                name="createdAt"
                :class="{ valid: !$v.differentialAmount.createdAt.$invalid, invalid: $v.differentialAmount.createdAt.$invalid }"
                v-model="$v.differentialAmount.createdAt.$model"
              />
            </b-input-group>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.differentialAmount.updatedAt')" for="differential-amount-updatedAt"
              >Updated At</label
            >
            <b-input-group class="mb-3">
              <b-input-group-prepend>
                <b-form-datepicker
                  aria-controls="differential-amount-updatedAt"
                  v-model="$v.differentialAmount.updatedAt.$model"
                  name="updatedAt"
                  class="form-control"
                  :locale="currentLanguage"
                  button-only
                  today-button
                  reset-button
                  close-button
                >
                </b-form-datepicker>
              </b-input-group-prepend>
              <b-form-input
                id="differential-amount-updatedAt"
                data-cy="updatedAt"
                type="text"
                class="form-control"
                name="updatedAt"
                :class="{ valid: !$v.differentialAmount.updatedAt.$invalid, invalid: $v.differentialAmount.updatedAt.$invalid }"
                v-model="$v.differentialAmount.updatedAt.$model"
              />
            </b-input-group>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.differentialAmount.createdBy')" for="differential-amount-createdBy"
              >Created By</label
            >
            <input
              type="text"
              class="form-control"
              name="createdBy"
              id="differential-amount-createdBy"
              data-cy="createdBy"
              :class="{ valid: !$v.differentialAmount.createdBy.$invalid, invalid: $v.differentialAmount.createdBy.$invalid }"
              v-model="$v.differentialAmount.createdBy.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.differentialAmount.updatedBy')" for="differential-amount-updatedBy"
              >Updated By</label
            >
            <input
              type="text"
              class="form-control"
              name="updatedBy"
              id="differential-amount-updatedBy"
              data-cy="updatedBy"
              :class="{ valid: !$v.differentialAmount.updatedBy.$invalid, invalid: $v.differentialAmount.updatedBy.$invalid }"
              v-model="$v.differentialAmount.updatedBy.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.differentialAmount.order')" for="differential-amount-order"
              >Order</label
            >
            <select class="form-control" id="differential-amount-order" data-cy="order" name="order" v-model="differentialAmount.order">
              <option v-bind:value="null"></option>
              <option
                v-bind:value="
                  differentialAmount.order && exchangeOrderOption.id === differentialAmount.order.id
                    ? differentialAmount.order
                    : exchangeOrderOption
                "
                v-for="exchangeOrderOption in exchangeOrders"
                :key="exchangeOrderOption.id"
              >
                {{ exchangeOrderOption.id }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.differentialAmount.approvedBy')" for="differential-amount-approvedBy"
              >Approved By</label
            >
            <select
              class="form-control"
              id="differential-amount-approvedBy"
              data-cy="approvedBy"
              name="approvedBy"
              v-model="differentialAmount.approvedBy"
            >
              <option v-bind:value="null"></option>
              <option
                v-bind:value="
                  differentialAmount.approvedBy && exchangeOpsUserOption.id === differentialAmount.approvedBy.id
                    ? differentialAmount.approvedBy
                    : exchangeOpsUserOption
                "
                v-for="exchangeOpsUserOption in exchangeOpsUsers"
                :key="exchangeOpsUserOption.id"
              >
                {{ exchangeOpsUserOption.id }}
              </option>
            </select>
          </div>
        </div>
        <div>
          <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" v-on:click="previousState()">
            <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            :disabled="$v.differentialAmount.$invalid || isSaving"
            class="btn btn-primary"
          >
            <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script lang="ts" src="./differential-amount-update.component.ts"></script>
