<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <div v-if="differentialAmount">
        <h2 class="jh-entity-heading" data-cy="differentialAmountDetailsHeading">
          <span v-text="$t('exchangeApp.differentialAmount.detail.title')">DifferentialAmount</span> {{ differentialAmount.id }}
        </h2>
        <dl class="row jh-entity-details">
          <dt>
            <span v-text="$t('exchangeApp.differentialAmount.differentialAmount')">Differential Amount</span>
          </dt>
          <dd>
            <span>{{ differentialAmount.differentialAmount }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.differentialAmount.chargedTo')">Charged To</span>
          </dt>
          <dd>
            <span v-text="$t('exchangeApp.ChargedTo.' + differentialAmount.chargedTo)">{{ differentialAmount.chargedTo }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.differentialAmount.approvedAt')">Approved At</span>
          </dt>
          <dd>
            <span>{{ differentialAmount.approvedAt }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.differentialAmount.createdAt')">Created At</span>
          </dt>
          <dd>
            <span>{{ differentialAmount.createdAt }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.differentialAmount.updatedAt')">Updated At</span>
          </dt>
          <dd>
            <span>{{ differentialAmount.updatedAt }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.differentialAmount.createdBy')">Created By</span>
          </dt>
          <dd>
            <span>{{ differentialAmount.createdBy }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.differentialAmount.updatedBy')">Updated By</span>
          </dt>
          <dd>
            <span>{{ differentialAmount.updatedBy }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.differentialAmount.order')">Order</span>
          </dt>
          <dd>
            <div v-if="differentialAmount.order">
              <router-link :to="{ name: 'ExchangeOrderView', params: { exchangeOrderId: differentialAmount.order.id } }">{{
                differentialAmount.order.id
              }}</router-link>
            </div>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.differentialAmount.approvedBy')">Approved By</span>
          </dt>
          <dd>
            <div v-if="differentialAmount.approvedBy">
              <router-link :to="{ name: 'ExchangeOpsUserView', params: { exchangeOpsUserId: differentialAmount.approvedBy.id } }">{{
                differentialAmount.approvedBy.id
              }}</router-link>
            </div>
          </dd>
        </dl>
        <button type="submit" v-on:click.prevent="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
        </button>
        <router-link
          v-if="differentialAmount.id"
          :to="{ name: 'DifferentialAmountEdit', params: { differentialAmountId: differentialAmount.id } }"
          custom
          v-slot="{ navigate }"
        >
          <button @click="navigate" class="btn btn-primary">
            <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
          </button>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./differential-amount-details.component.ts"></script>
