<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate v-on:submit.prevent="save()">
        <h2
          id="exchangeApp.address.home.createOrEditLabel"
          data-cy="AddressCreateUpdateHeading"
          v-text="$t('exchangeApp.address.home.createOrEditLabel')"
        >
          Create or edit a Address
        </h2>
        <div>
          <div class="form-group" v-if="address.id">
            <label for="id" v-text="$t('global.field.id')">ID</label>
            <input type="text" class="form-control" id="id" name="id" v-model="address.id" readonly />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.address.tag')" for="address-tag">Tag</label>
            <input
              type="text"
              class="form-control"
              name="tag"
              id="address-tag"
              data-cy="tag"
              :class="{ valid: !$v.address.tag.$invalid, invalid: $v.address.tag.$invalid }"
              v-model="$v.address.tag.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.address.firstLine')" for="address-firstLine">First Line</label>
            <input
              type="text"
              class="form-control"
              name="firstLine"
              id="address-firstLine"
              data-cy="firstLine"
              :class="{ valid: !$v.address.firstLine.$invalid, invalid: $v.address.firstLine.$invalid }"
              v-model="$v.address.firstLine.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.address.secondLine')" for="address-secondLine">Second Line</label>
            <input
              type="text"
              class="form-control"
              name="secondLine"
              id="address-secondLine"
              data-cy="secondLine"
              :class="{ valid: !$v.address.secondLine.$invalid, invalid: $v.address.secondLine.$invalid }"
              v-model="$v.address.secondLine.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.address.latitude')" for="address-latitude">Latitude</label>
            <input
              type="number"
              class="form-control"
              name="latitude"
              id="address-latitude"
              data-cy="latitude"
              :class="{ valid: !$v.address.latitude.$invalid, invalid: $v.address.latitude.$invalid }"
              v-model.number="$v.address.latitude.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.address.longitude')" for="address-longitude">Longitude</label>
            <input
              type="number"
              class="form-control"
              name="longitude"
              id="address-longitude"
              data-cy="longitude"
              :class="{ valid: !$v.address.longitude.$invalid, invalid: $v.address.longitude.$invalid }"
              v-model.number="$v.address.longitude.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.address.isActive')" for="address-isActive">Is Active</label>
            <input
              type="checkbox"
              class="form-check"
              name="isActive"
              id="address-isActive"
              data-cy="isActive"
              :class="{ valid: !$v.address.isActive.$invalid, invalid: $v.address.isActive.$invalid }"
              v-model="$v.address.isActive.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.address.createdAt')" for="address-createdAt">Created At</label>
            <b-input-group class="mb-3">
              <b-input-group-prepend>
                <b-form-datepicker
                  aria-controls="address-createdAt"
                  v-model="$v.address.createdAt.$model"
                  name="createdAt"
                  class="form-control"
                  :locale="currentLanguage"
                  button-only
                  today-button
                  reset-button
                  close-button
                >
                </b-form-datepicker>
              </b-input-group-prepend>
              <b-form-input
                id="address-createdAt"
                data-cy="createdAt"
                type="text"
                class="form-control"
                name="createdAt"
                :class="{ valid: !$v.address.createdAt.$invalid, invalid: $v.address.createdAt.$invalid }"
                v-model="$v.address.createdAt.$model"
              />
            </b-input-group>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.address.updatedAt')" for="address-updatedAt">Updated At</label>
            <b-input-group class="mb-3">
              <b-input-group-prepend>
                <b-form-datepicker
                  aria-controls="address-updatedAt"
                  v-model="$v.address.updatedAt.$model"
                  name="updatedAt"
                  class="form-control"
                  :locale="currentLanguage"
                  button-only
                  today-button
                  reset-button
                  close-button
                >
                </b-form-datepicker>
              </b-input-group-prepend>
              <b-form-input
                id="address-updatedAt"
                data-cy="updatedAt"
                type="text"
                class="form-control"
                name="updatedAt"
                :class="{ valid: !$v.address.updatedAt.$invalid, invalid: $v.address.updatedAt.$invalid }"
                v-model="$v.address.updatedAt.$model"
              />
            </b-input-group>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.address.createdBy')" for="address-createdBy">Created By</label>
            <input
              type="text"
              class="form-control"
              name="createdBy"
              id="address-createdBy"
              data-cy="createdBy"
              :class="{ valid: !$v.address.createdBy.$invalid, invalid: $v.address.createdBy.$invalid }"
              v-model="$v.address.createdBy.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.address.updatedBy')" for="address-updatedBy">Updated By</label>
            <input
              type="text"
              class="form-control"
              name="updatedBy"
              id="address-updatedBy"
              data-cy="updatedBy"
              :class="{ valid: !$v.address.updatedBy.$invalid, invalid: $v.address.updatedBy.$invalid }"
              v-model="$v.address.updatedBy.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.address.pincode')" for="address-pincode">Pincode</label>
            <select class="form-control" id="address-pincode" data-cy="pincode" name="pincode" v-model="address.pincode">
              <option v-bind:value="null"></option>
              <option
                v-bind:value="address.pincode && pincodeOption.id === address.pincode.id ? address.pincode : pincodeOption"
                v-for="pincodeOption in pincodes"
                :key="pincodeOption.id"
              >
                {{ pincodeOption.id }}
              </option>
            </select>
          </div>
        </div>
        <div>
          <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" v-on:click="previousState()">
            <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            :disabled="$v.address.$invalid || isSaving"
            class="btn btn-primary"
          >
            <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script lang="ts" src="./address-update.component.ts"></script>
