<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <div v-if="address">
        <h2 class="jh-entity-heading" data-cy="addressDetailsHeading">
          <span v-text="$t('exchangeApp.address.detail.title')">Address</span> {{ address.id }}
        </h2>
        <dl class="row jh-entity-details">
          <dt>
            <span v-text="$t('exchangeApp.address.tag')">Tag</span>
          </dt>
          <dd>
            <span>{{ address.tag }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.address.firstLine')">First Line</span>
          </dt>
          <dd>
            <span>{{ address.firstLine }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.address.secondLine')">Second Line</span>
          </dt>
          <dd>
            <span>{{ address.secondLine }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.address.latitude')">Latitude</span>
          </dt>
          <dd>
            <span>{{ address.latitude }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.address.longitude')">Longitude</span>
          </dt>
          <dd>
            <span>{{ address.longitude }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.address.isActive')">Is Active</span>
          </dt>
          <dd>
            <span>{{ address.isActive }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.address.createdAt')">Created At</span>
          </dt>
          <dd>
            <span>{{ address.createdAt }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.address.updatedAt')">Updated At</span>
          </dt>
          <dd>
            <span>{{ address.updatedAt }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.address.createdBy')">Created By</span>
          </dt>
          <dd>
            <span>{{ address.createdBy }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.address.updatedBy')">Updated By</span>
          </dt>
          <dd>
            <span>{{ address.updatedBy }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.address.pincode')">Pincode</span>
          </dt>
          <dd>
            <div v-if="address.pincode">
              <router-link :to="{ name: 'PincodeView', params: { pincodeId: address.pincode.id } }">{{ address.pincode.id }}</router-link>
            </div>
          </dd>
        </dl>
        <button type="submit" v-on:click.prevent="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
        </button>
        <router-link v-if="address.id" :to="{ name: 'AddressEdit', params: { addressId: address.id } }" custom v-slot="{ navigate }">
          <button @click="navigate" class="btn btn-primary">
            <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
          </button>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./address-details.component.ts"></script>
