<template>
  <div>
    <b-dropdown-item to="/exchange-ops-user">
      <font-awesome-icon icon="asterisk" />
      <span v-text="$t('global.menu.entities.exchangeOpsUser')">Exchange Ops User</span>
    </b-dropdown-item>
    <b-dropdown-item to="/client">
      <font-awesome-icon icon="asterisk" />
      <span v-text="$t('global.menu.entities.client')">Client</span>
    </b-dropdown-item>
    <b-dropdown-item to="/delivery-partner">
      <font-awesome-icon icon="asterisk" />
      <span v-text="$t('global.menu.entities.deliveryPartner')">Delivery Partner</span>
    </b-dropdown-item>
    <b-dropdown-item to="/product-context">
      <font-awesome-icon icon="asterisk" />
      <span v-text="$t('global.menu.entities.productContext')">Product Context</span>
    </b-dropdown-item>
    <b-dropdown-item to="/vendor">
      <font-awesome-icon icon="asterisk" />
      <span v-text="$t('global.menu.entities.vendor')">Vendor</span>
    </b-dropdown-item>
    <b-dropdown-item to="/document">
      <font-awesome-icon icon="asterisk" />
      <span v-text="$t('global.menu.entities.document')">Document</span>
    </b-dropdown-item>
    <b-dropdown-item to="/pincode">
      <font-awesome-icon icon="asterisk" />
      <span v-text="$t('global.menu.entities.pincode')">Pincode</span>
    </b-dropdown-item>
    <b-dropdown-item to="/address">
      <font-awesome-icon icon="asterisk" />
      <span v-text="$t('global.menu.entities.address')">Address</span>
    </b-dropdown-item>
    <b-dropdown-item to="/vendor-hub">
      <font-awesome-icon icon="asterisk" />
      <span v-text="$t('global.menu.entities.vendorHub')">Vendor Hub</span>
    </b-dropdown-item>
    <b-dropdown-item to="/vendor-hub-mapping">
      <font-awesome-icon icon="asterisk" />
      <span v-text="$t('global.menu.entities.vendorHubMapping')">Vendor Hub Mapping</span>
    </b-dropdown-item>
    <b-dropdown-item to="/question">
      <font-awesome-icon icon="asterisk" />
      <span v-text="$t('global.menu.entities.question')">Question</span>
    </b-dropdown-item>
    <b-dropdown-item to="/option">
      <font-awesome-icon icon="asterisk" />
      <span v-text="$t('global.menu.entities.option')">Option</span>
    </b-dropdown-item>
    <b-dropdown-item to="/exchange-answer">
      <font-awesome-icon icon="asterisk" />
      <span v-text="$t('global.menu.entities.exchangeAnswer')">Exchange Answer</span>
    </b-dropdown-item>
    <b-dropdown-item to="/exchange-answer-set">
      <font-awesome-icon icon="asterisk" />
      <span v-text="$t('global.menu.entities.exchangeAnswerSet')">Exchange Answer Set</span>
    </b-dropdown-item>
    <b-dropdown-item to="/exchange-price">
      <font-awesome-icon icon="asterisk" />
      <span v-text="$t('global.menu.entities.exchangePrice')">Exchange Price</span>
    </b-dropdown-item>
    <b-dropdown-item to="/ledger">
      <font-awesome-icon icon="asterisk" />
      <span v-text="$t('global.menu.entities.ledger')">Ledger</span>
    </b-dropdown-item>
    <b-dropdown-item to="/ledger-transaction">
      <font-awesome-icon icon="asterisk" />
      <span v-text="$t('global.menu.entities.ledgerTransaction')">Ledger Transaction</span>
    </b-dropdown-item>
    <b-dropdown-item to="/exchange-order">
      <font-awesome-icon icon="asterisk" />
      <span v-text="$t('global.menu.entities.exchangeOrder')">Exchange Order</span>
    </b-dropdown-item>
    <b-dropdown-item to="/exchange-answer-session">
      <font-awesome-icon icon="asterisk" />
      <span v-text="$t('global.menu.entities.exchangeAnswerSession')">Exchange Answer Session</span>
    </b-dropdown-item>
    <b-dropdown-item to="/differential-amount">
      <font-awesome-icon icon="asterisk" />
      <span v-text="$t('global.menu.entities.differentialAmount')">Differential Amount</span>
    </b-dropdown-item>
    <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
  </div>
</template>

<script lang="ts" src="./entities-menu.component.ts"></script>
