<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <div v-if="pincode">
        <h2 class="jh-entity-heading" data-cy="pincodeDetailsHeading">
          <span v-text="$t('exchangeApp.pincode.detail.title')">Pincode</span> {{ pincode.id }}
        </h2>
        <dl class="row jh-entity-details">
          <dt>
            <span v-text="$t('exchangeApp.pincode.pin')">Pin</span>
          </dt>
          <dd>
            <span>{{ pincode.pin }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.pincode.city')">City</span>
          </dt>
          <dd>
            <span>{{ pincode.city }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.pincode.state')">State</span>
          </dt>
          <dd>
            <span v-text="$t('exchangeApp.State.' + pincode.state)">{{ pincode.state }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.pincode.country')">Country</span>
          </dt>
          <dd>
            <span>{{ pincode.country }}</span>
          </dd>
        </dl>
        <button type="submit" v-on:click.prevent="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
        </button>
        <router-link v-if="pincode.id" :to="{ name: 'PincodeEdit', params: { pincodeId: pincode.id } }" custom v-slot="{ navigate }">
          <button @click="navigate" class="btn btn-primary">
            <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
          </button>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./pincode-details.component.ts"></script>
