<template>
  <div>
    <h2 id="page-heading" data-cy="PincodeHeading">
      <span v-text="$t('exchangeApp.pincode.home.title')" id="pincode-heading">Pincodes</span>
      <div class="d-flex justify-content-end">
        <button class="btn btn-info mr-2" v-on:click="handleSyncList" :disabled="isFetching">
          <font-awesome-icon icon="sync" :spin="isFetching"></font-awesome-icon>
          <span v-text="$t('exchangeApp.pincode.home.refreshListLabel')">Refresh List</span>
        </button>
        <router-link :to="{ name: 'PincodeCreate' }" custom v-slot="{ navigate }">
          <button
            @click="navigate"
            id="jh-create-entity"
            data-cy="entityCreateButton"
            class="btn btn-primary jh-create-entity create-pincode"
          >
            <font-awesome-icon icon="plus"></font-awesome-icon>
            <span v-text="$t('exchangeApp.pincode.home.createLabel')"> Create a new Pincode </span>
          </button>
        </router-link>
      </div>
    </h2>
    <br />
    <div class="alert alert-warning" v-if="!isFetching && pincodes && pincodes.length === 0">
      <span v-text="$t('exchangeApp.pincode.home.notFound')">No pincodes found</span>
    </div>
    <div class="table-responsive" v-if="pincodes && pincodes.length > 0">
      <table class="table table-striped" aria-describedby="pincodes">
        <thead>
          <tr>
            <th scope="row" v-on:click="changeOrder('id')">
              <span v-text="$t('global.field.id')">ID</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'id'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('pin')">
              <span v-text="$t('exchangeApp.pincode.pin')">Pin</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'pin'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('city')">
              <span v-text="$t('exchangeApp.pincode.city')">City</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'city'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('state')">
              <span v-text="$t('exchangeApp.pincode.state')">State</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'state'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('country')">
              <span v-text="$t('exchangeApp.pincode.country')">Country</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'country'"></jhi-sort-indicator>
            </th>
            <th scope="row"></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="pincode in pincodes" :key="pincode.id" data-cy="entityTable">
            <td>
              <router-link :to="{ name: 'PincodeView', params: { pincodeId: pincode.id } }">{{ pincode.id }}</router-link>
            </td>
            <td>{{ pincode.pin }}</td>
            <td>{{ pincode.city }}</td>
            <td v-text="$t('exchangeApp.State.' + pincode.state)">{{ pincode.state }}</td>
            <td>{{ pincode.country }}</td>
            <td class="text-right">
              <div class="btn-group">
                <router-link :to="{ name: 'PincodeView', params: { pincodeId: pincode.id } }" custom v-slot="{ navigate }">
                  <button @click="navigate" class="btn btn-info btn-sm details" data-cy="entityDetailsButton">
                    <font-awesome-icon icon="eye"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.view')">View</span>
                  </button>
                </router-link>
                <router-link :to="{ name: 'PincodeEdit', params: { pincodeId: pincode.id } }" custom v-slot="{ navigate }">
                  <button @click="navigate" class="btn btn-primary btn-sm edit" data-cy="entityEditButton">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.edit')">Edit</span>
                  </button>
                </router-link>
                <b-button
                  v-on:click="prepareRemove(pincode)"
                  variant="danger"
                  class="btn btn-sm"
                  data-cy="entityDeleteButton"
                  v-b-modal.removeEntity
                >
                  <font-awesome-icon icon="times"></font-awesome-icon>
                  <span class="d-none d-md-inline" v-text="$t('entity.action.delete')">Delete</span>
                </b-button>
              </div>
            </td>
          </tr>
        </tbody>
        <infinite-loading
          ref="infiniteLoading"
          v-if="totalItems > itemsPerPage"
          :identifier="infiniteId"
          slot="append"
          @infinite="loadMore"
          force-use-infinite-wrapper=".el-table__body-wrapper"
          :distance="20"
        >
        </infinite-loading>
      </table>
    </div>
    <b-modal ref="removeEntity" id="removeEntity">
      <span slot="modal-title"
        ><span id="exchangeApp.pincode.delete.question" data-cy="pincodeDeleteDialogHeading" v-text="$t('entity.delete.title')"
          >Confirm delete operation</span
        ></span
      >
      <div class="modal-body">
        <p id="jhi-delete-pincode-heading" v-text="$t('exchangeApp.pincode.delete.question', { id: removeId })">
          Are you sure you want to delete this Pincode?
        </p>
      </div>
      <div slot="modal-footer">
        <button type="button" class="btn btn-secondary" v-text="$t('entity.action.cancel')" v-on:click="closeDialog()">Cancel</button>
        <button
          type="button"
          class="btn btn-primary"
          id="jhi-confirm-delete-pincode"
          data-cy="entityConfirmDeleteButton"
          v-text="$t('entity.action.delete')"
          v-on:click="removePincode()"
        >
          Delete
        </button>
      </div>
    </b-modal>
  </div>
</template>

<script lang="ts" src="./pincode.component.ts"></script>
