<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate v-on:submit.prevent="save()">
        <h2
          id="exchangeApp.pincode.home.createOrEditLabel"
          data-cy="PincodeCreateUpdateHeading"
          v-text="$t('exchangeApp.pincode.home.createOrEditLabel')"
        >
          Create or edit a Pincode
        </h2>
        <div>
          <div class="form-group" v-if="pincode.id">
            <label for="id" v-text="$t('global.field.id')">ID</label>
            <input type="text" class="form-control" id="id" name="id" v-model="pincode.id" readonly />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.pincode.pin')" for="pincode-pin">Pin</label>
            <input
              type="number"
              class="form-control"
              name="pin"
              id="pincode-pin"
              data-cy="pin"
              :class="{ valid: !$v.pincode.pin.$invalid, invalid: $v.pincode.pin.$invalid }"
              v-model.number="$v.pincode.pin.$model"
              required
            />
            <div v-if="$v.pincode.pin.$anyDirty && $v.pincode.pin.$invalid">
              <small class="form-text text-danger" v-if="!$v.pincode.pin.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
              <small class="form-text text-danger" v-if="!$v.pincode.pin.numeric" v-text="$t('entity.validation.number')">
                This field should be a number.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.pincode.city')" for="pincode-city">City</label>
            <input
              type="text"
              class="form-control"
              name="city"
              id="pincode-city"
              data-cy="city"
              :class="{ valid: !$v.pincode.city.$invalid, invalid: $v.pincode.city.$invalid }"
              v-model="$v.pincode.city.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.pincode.state')" for="pincode-state">State</label>
            <select
              class="form-control"
              name="state"
              :class="{ valid: !$v.pincode.state.$invalid, invalid: $v.pincode.state.$invalid }"
              v-model="$v.pincode.state.$model"
              id="pincode-state"
              data-cy="state"
            >
              <option v-for="state in stateValues" :key="state" v-bind:value="state" v-bind:label="$t('exchangeApp.State.' + state)">
                {{ state }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.pincode.country')" for="pincode-country">Country</label>
            <input
              type="text"
              class="form-control"
              name="country"
              id="pincode-country"
              data-cy="country"
              :class="{ valid: !$v.pincode.country.$invalid, invalid: $v.pincode.country.$invalid }"
              v-model="$v.pincode.country.$model"
            />
          </div>
        </div>
        <div>
          <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" v-on:click="previousState()">
            <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            :disabled="$v.pincode.$invalid || isSaving"
            class="btn btn-primary"
          >
            <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script lang="ts" src="./pincode-update.component.ts"></script>
