<template>
  <div>
    <h2 id="page-heading" data-cy="LedgerTransactionHeading">
      <span v-text="$t('exchangeApp.ledgerTransaction.home.title')" id="ledger-transaction-heading">Ledger Transactions</span>
      <div class="d-flex justify-content-end">
        <button class="btn btn-info mr-2" v-on:click="handleSyncList" :disabled="isFetching">
          <font-awesome-icon icon="sync" :spin="isFetching"></font-awesome-icon>
          <span v-text="$t('exchangeApp.ledgerTransaction.home.refreshListLabel')">Refresh List</span>
        </button>
        <router-link :to="{ name: 'LedgerTransactionCreate' }" custom v-slot="{ navigate }">
          <button
            @click="navigate"
            id="jh-create-entity"
            data-cy="entityCreateButton"
            class="btn btn-primary jh-create-entity create-ledger-transaction"
          >
            <font-awesome-icon icon="plus"></font-awesome-icon>
            <span v-text="$t('exchangeApp.ledgerTransaction.home.createLabel')"> Create a new Ledger Transaction </span>
          </button>
        </router-link>
      </div>
    </h2>
    <br />
    <div class="alert alert-warning" v-if="!isFetching && ledgerTransactions && ledgerTransactions.length === 0">
      <span v-text="$t('exchangeApp.ledgerTransaction.home.notFound')">No ledgerTransactions found</span>
    </div>
    <div class="table-responsive" v-if="ledgerTransactions && ledgerTransactions.length > 0">
      <table class="table table-striped" aria-describedby="ledgerTransactions">
        <thead>
          <tr>
            <th scope="row" v-on:click="changeOrder('id')">
              <span v-text="$t('global.field.id')">ID</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'id'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('amount')">
              <span v-text="$t('exchangeApp.ledgerTransaction.amount')">Amount</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'amount'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('type')">
              <span v-text="$t('exchangeApp.ledgerTransaction.type')">Type</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'type'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('reference')">
              <span v-text="$t('exchangeApp.ledgerTransaction.reference')">Reference</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'reference'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('status')">
              <span v-text="$t('exchangeApp.ledgerTransaction.status')">Status</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'status'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('createdAt')">
              <span v-text="$t('exchangeApp.ledgerTransaction.createdAt')">Created At</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'createdAt'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('updatedAt')">
              <span v-text="$t('exchangeApp.ledgerTransaction.updatedAt')">Updated At</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'updatedAt'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('ledger.id')">
              <span v-text="$t('exchangeApp.ledgerTransaction.ledger')">Ledger</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'ledger.id'"></jhi-sort-indicator>
            </th>
            <th scope="row"></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="ledgerTransaction in ledgerTransactions" :key="ledgerTransaction.id" data-cy="entityTable">
            <td>
              <router-link :to="{ name: 'LedgerTransactionView', params: { ledgerTransactionId: ledgerTransaction.id } }">{{
                ledgerTransaction.id
              }}</router-link>
            </td>
            <td>{{ ledgerTransaction.amount }}</td>
            <td v-text="$t('exchangeApp.TransactionType.' + ledgerTransaction.type)">{{ ledgerTransaction.type }}</td>
            <td>{{ ledgerTransaction.reference }}</td>
            <td v-text="$t('exchangeApp.TransactionStatus.' + ledgerTransaction.status)">{{ ledgerTransaction.status }}</td>
            <td>{{ ledgerTransaction.createdAt }}</td>
            <td>{{ ledgerTransaction.updatedAt }}</td>
            <td>
              <div v-if="ledgerTransaction.ledger">
                <router-link :to="{ name: 'LedgerView', params: { ledgerId: ledgerTransaction.ledger.id } }">{{
                  ledgerTransaction.ledger.id
                }}</router-link>
              </div>
            </td>
            <td class="text-right">
              <div class="btn-group">
                <router-link
                  :to="{ name: 'LedgerTransactionView', params: { ledgerTransactionId: ledgerTransaction.id } }"
                  custom
                  v-slot="{ navigate }"
                >
                  <button @click="navigate" class="btn btn-info btn-sm details" data-cy="entityDetailsButton">
                    <font-awesome-icon icon="eye"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.view')">View</span>
                  </button>
                </router-link>
                <router-link
                  :to="{ name: 'LedgerTransactionEdit', params: { ledgerTransactionId: ledgerTransaction.id } }"
                  custom
                  v-slot="{ navigate }"
                >
                  <button @click="navigate" class="btn btn-primary btn-sm edit" data-cy="entityEditButton">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.edit')">Edit</span>
                  </button>
                </router-link>
                <b-button
                  v-on:click="prepareRemove(ledgerTransaction)"
                  variant="danger"
                  class="btn btn-sm"
                  data-cy="entityDeleteButton"
                  v-b-modal.removeEntity
                >
                  <font-awesome-icon icon="times"></font-awesome-icon>
                  <span class="d-none d-md-inline" v-text="$t('entity.action.delete')">Delete</span>
                </b-button>
              </div>
            </td>
          </tr>
        </tbody>
        <infinite-loading
          ref="infiniteLoading"
          v-if="totalItems > itemsPerPage"
          :identifier="infiniteId"
          slot="append"
          @infinite="loadMore"
          force-use-infinite-wrapper=".el-table__body-wrapper"
          :distance="20"
        >
        </infinite-loading>
      </table>
    </div>
    <b-modal ref="removeEntity" id="removeEntity">
      <span slot="modal-title"
        ><span
          id="exchangeApp.ledgerTransaction.delete.question"
          data-cy="ledgerTransactionDeleteDialogHeading"
          v-text="$t('entity.delete.title')"
          >Confirm delete operation</span
        ></span
      >
      <div class="modal-body">
        <p id="jhi-delete-ledgerTransaction-heading" v-text="$t('exchangeApp.ledgerTransaction.delete.question', { id: removeId })">
          Are you sure you want to delete this Ledger Transaction?
        </p>
      </div>
      <div slot="modal-footer">
        <button type="button" class="btn btn-secondary" v-text="$t('entity.action.cancel')" v-on:click="closeDialog()">Cancel</button>
        <button
          type="button"
          class="btn btn-primary"
          id="jhi-confirm-delete-ledgerTransaction"
          data-cy="entityConfirmDeleteButton"
          v-text="$t('entity.action.delete')"
          v-on:click="removeLedgerTransaction()"
        >
          Delete
        </button>
      </div>
    </b-modal>
  </div>
</template>

<script lang="ts" src="./ledger-transaction.component.ts"></script>
