<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate v-on:submit.prevent="save()">
        <h2
          id="exchangeApp.ledgerTransaction.home.createOrEditLabel"
          data-cy="LedgerTransactionCreateUpdateHeading"
          v-text="$t('exchangeApp.ledgerTransaction.home.createOrEditLabel')"
        >
          Create or edit a LedgerTransaction
        </h2>
        <div>
          <div class="form-group" v-if="ledgerTransaction.id">
            <label for="id" v-text="$t('global.field.id')">ID</label>
            <input type="text" class="form-control" id="id" name="id" v-model="ledgerTransaction.id" readonly />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.ledgerTransaction.amount')" for="ledger-transaction-amount"
              >Amount</label
            >
            <input
              type="number"
              class="form-control"
              name="amount"
              id="ledger-transaction-amount"
              data-cy="amount"
              :class="{ valid: !$v.ledgerTransaction.amount.$invalid, invalid: $v.ledgerTransaction.amount.$invalid }"
              v-model.number="$v.ledgerTransaction.amount.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.ledgerTransaction.type')" for="ledger-transaction-type">Type</label>
            <select
              class="form-control"
              name="type"
              :class="{ valid: !$v.ledgerTransaction.type.$invalid, invalid: $v.ledgerTransaction.type.$invalid }"
              v-model="$v.ledgerTransaction.type.$model"
              id="ledger-transaction-type"
              data-cy="type"
            >
              <option
                v-for="transactionType in transactionTypeValues"
                :key="transactionType"
                v-bind:value="transactionType"
                v-bind:label="$t('exchangeApp.TransactionType.' + transactionType)"
              >
                {{ transactionType }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.ledgerTransaction.reference')" for="ledger-transaction-reference"
              >Reference</label
            >
            <input
              type="text"
              class="form-control"
              name="reference"
              id="ledger-transaction-reference"
              data-cy="reference"
              :class="{ valid: !$v.ledgerTransaction.reference.$invalid, invalid: $v.ledgerTransaction.reference.$invalid }"
              v-model="$v.ledgerTransaction.reference.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.ledgerTransaction.status')" for="ledger-transaction-status"
              >Status</label
            >
            <select
              class="form-control"
              name="status"
              :class="{ valid: !$v.ledgerTransaction.status.$invalid, invalid: $v.ledgerTransaction.status.$invalid }"
              v-model="$v.ledgerTransaction.status.$model"
              id="ledger-transaction-status"
              data-cy="status"
            >
              <option
                v-for="transactionStatus in transactionStatusValues"
                :key="transactionStatus"
                v-bind:value="transactionStatus"
                v-bind:label="$t('exchangeApp.TransactionStatus.' + transactionStatus)"
              >
                {{ transactionStatus }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.ledgerTransaction.createdAt')" for="ledger-transaction-createdAt"
              >Created At</label
            >
            <b-input-group class="mb-3">
              <b-input-group-prepend>
                <b-form-datepicker
                  aria-controls="ledger-transaction-createdAt"
                  v-model="$v.ledgerTransaction.createdAt.$model"
                  name="createdAt"
                  class="form-control"
                  :locale="currentLanguage"
                  button-only
                  today-button
                  reset-button
                  close-button
                >
                </b-form-datepicker>
              </b-input-group-prepend>
              <b-form-input
                id="ledger-transaction-createdAt"
                data-cy="createdAt"
                type="text"
                class="form-control"
                name="createdAt"
                :class="{ valid: !$v.ledgerTransaction.createdAt.$invalid, invalid: $v.ledgerTransaction.createdAt.$invalid }"
                v-model="$v.ledgerTransaction.createdAt.$model"
              />
            </b-input-group>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.ledgerTransaction.updatedAt')" for="ledger-transaction-updatedAt"
              >Updated At</label
            >
            <b-input-group class="mb-3">
              <b-input-group-prepend>
                <b-form-datepicker
                  aria-controls="ledger-transaction-updatedAt"
                  v-model="$v.ledgerTransaction.updatedAt.$model"
                  name="updatedAt"
                  class="form-control"
                  :locale="currentLanguage"
                  button-only
                  today-button
                  reset-button
                  close-button
                >
                </b-form-datepicker>
              </b-input-group-prepend>
              <b-form-input
                id="ledger-transaction-updatedAt"
                data-cy="updatedAt"
                type="text"
                class="form-control"
                name="updatedAt"
                :class="{ valid: !$v.ledgerTransaction.updatedAt.$invalid, invalid: $v.ledgerTransaction.updatedAt.$invalid }"
                v-model="$v.ledgerTransaction.updatedAt.$model"
              />
            </b-input-group>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.ledgerTransaction.ledger')" for="ledger-transaction-ledger"
              >Ledger</label
            >
            <select class="form-control" id="ledger-transaction-ledger" data-cy="ledger" name="ledger" v-model="ledgerTransaction.ledger">
              <option v-bind:value="null"></option>
              <option
                v-bind:value="
                  ledgerTransaction.ledger && ledgerOption.id === ledgerTransaction.ledger.id ? ledgerTransaction.ledger : ledgerOption
                "
                v-for="ledgerOption in ledgers"
                :key="ledgerOption.id"
              >
                {{ ledgerOption.id }}
              </option>
            </select>
          </div>
        </div>
        <div>
          <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" v-on:click="previousState()">
            <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            :disabled="$v.ledgerTransaction.$invalid || isSaving"
            class="btn btn-primary"
          >
            <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script lang="ts" src="./ledger-transaction-update.component.ts"></script>
