<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <div v-if="ledgerTransaction">
        <h2 class="jh-entity-heading" data-cy="ledgerTransactionDetailsHeading">
          <span v-text="$t('exchangeApp.ledgerTransaction.detail.title')">LedgerTransaction</span> {{ ledgerTransaction.id }}
        </h2>
        <dl class="row jh-entity-details">
          <dt>
            <span v-text="$t('exchangeApp.ledgerTransaction.amount')">Amount</span>
          </dt>
          <dd>
            <span>{{ ledgerTransaction.amount }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.ledgerTransaction.type')">Type</span>
          </dt>
          <dd>
            <span v-text="$t('exchangeApp.TransactionType.' + ledgerTransaction.type)">{{ ledgerTransaction.type }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.ledgerTransaction.reference')">Reference</span>
          </dt>
          <dd>
            <span>{{ ledgerTransaction.reference }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.ledgerTransaction.status')">Status</span>
          </dt>
          <dd>
            <span v-text="$t('exchangeApp.TransactionStatus.' + ledgerTransaction.status)">{{ ledgerTransaction.status }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.ledgerTransaction.createdAt')">Created At</span>
          </dt>
          <dd>
            <span>{{ ledgerTransaction.createdAt }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.ledgerTransaction.updatedAt')">Updated At</span>
          </dt>
          <dd>
            <span>{{ ledgerTransaction.updatedAt }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.ledgerTransaction.ledger')">Ledger</span>
          </dt>
          <dd>
            <div v-if="ledgerTransaction.ledger">
              <router-link :to="{ name: 'LedgerView', params: { ledgerId: ledgerTransaction.ledger.id } }">{{
                ledgerTransaction.ledger.id
              }}</router-link>
            </div>
          </dd>
        </dl>
        <button type="submit" v-on:click.prevent="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
        </button>
        <router-link
          v-if="ledgerTransaction.id"
          :to="{ name: 'LedgerTransactionEdit', params: { ledgerTransactionId: ledgerTransaction.id } }"
          custom
          v-slot="{ navigate }"
        >
          <button @click="navigate" class="btn btn-primary">
            <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
          </button>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./ledger-transaction-details.component.ts"></script>
