<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate v-on:submit.prevent="save()">
        <h2
          id="exchangeApp.exchangePrice.home.createOrEditLabel"
          data-cy="ExchangePriceCreateUpdateHeading"
          v-text="$t('exchangeApp.exchangePrice.home.createOrEditLabel')"
        >
          Create or edit a ExchangePrice
        </h2>
        <div>
          <div class="form-group" v-if="exchangePrice.id">
            <label for="id" v-text="$t('global.field.id')">ID</label>
            <input type="text" class="form-control" id="id" name="id" v-model="exchangePrice.id" readonly />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.exchangePrice.exchangeAmount')" for="exchange-price-exchangeAmount"
              >Exchange Amount</label
            >
            <input
              type="number"
              class="form-control"
              name="exchangeAmount"
              id="exchange-price-exchangeAmount"
              data-cy="exchangeAmount"
              :class="{ valid: !$v.exchangePrice.exchangeAmount.$invalid, invalid: $v.exchangePrice.exchangeAmount.$invalid }"
              v-model.number="$v.exchangePrice.exchangeAmount.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.exchangePrice.status')" for="exchange-price-status">Status</label>
            <select
              class="form-control"
              name="status"
              :class="{ valid: !$v.exchangePrice.status.$invalid, invalid: $v.exchangePrice.status.$invalid }"
              v-model="$v.exchangePrice.status.$model"
              id="exchange-price-status"
              data-cy="status"
            >
              <option
                v-for="priceMetricStatus in priceMetricStatusValues"
                :key="priceMetricStatus"
                v-bind:value="priceMetricStatus"
                v-bind:label="$t('exchangeApp.PriceMetricStatus.' + priceMetricStatus)"
              >
                {{ priceMetricStatus }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.exchangePrice.createdAt')" for="exchange-price-createdAt"
              >Created At</label
            >
            <b-input-group class="mb-3">
              <b-input-group-prepend>
                <b-form-datepicker
                  aria-controls="exchange-price-createdAt"
                  v-model="$v.exchangePrice.createdAt.$model"
                  name="createdAt"
                  class="form-control"
                  :locale="currentLanguage"
                  button-only
                  today-button
                  reset-button
                  close-button
                >
                </b-form-datepicker>
              </b-input-group-prepend>
              <b-form-input
                id="exchange-price-createdAt"
                data-cy="createdAt"
                type="text"
                class="form-control"
                name="createdAt"
                :class="{ valid: !$v.exchangePrice.createdAt.$invalid, invalid: $v.exchangePrice.createdAt.$invalid }"
                v-model="$v.exchangePrice.createdAt.$model"
              />
            </b-input-group>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.exchangePrice.updatedAt')" for="exchange-price-updatedAt"
              >Updated At</label
            >
            <b-input-group class="mb-3">
              <b-input-group-prepend>
                <b-form-datepicker
                  aria-controls="exchange-price-updatedAt"
                  v-model="$v.exchangePrice.updatedAt.$model"
                  name="updatedAt"
                  class="form-control"
                  :locale="currentLanguage"
                  button-only
                  today-button
                  reset-button
                  close-button
                >
                </b-form-datepicker>
              </b-input-group-prepend>
              <b-form-input
                id="exchange-price-updatedAt"
                data-cy="updatedAt"
                type="text"
                class="form-control"
                name="updatedAt"
                :class="{ valid: !$v.exchangePrice.updatedAt.$invalid, invalid: $v.exchangePrice.updatedAt.$invalid }"
                v-model="$v.exchangePrice.updatedAt.$model"
              />
            </b-input-group>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.exchangePrice.createdBy')" for="exchange-price-createdBy"
              >Created By</label
            >
            <input
              type="text"
              class="form-control"
              name="createdBy"
              id="exchange-price-createdBy"
              data-cy="createdBy"
              :class="{ valid: !$v.exchangePrice.createdBy.$invalid, invalid: $v.exchangePrice.createdBy.$invalid }"
              v-model="$v.exchangePrice.createdBy.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.exchangePrice.updatedBy')" for="exchange-price-updatedBy"
              >Updated By</label
            >
            <input
              type="text"
              class="form-control"
              name="updatedBy"
              id="exchange-price-updatedBy"
              data-cy="updatedBy"
              :class="{ valid: !$v.exchangePrice.updatedBy.$invalid, invalid: $v.exchangePrice.updatedBy.$invalid }"
              v-model="$v.exchangePrice.updatedBy.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.exchangePrice.approvedBy')" for="exchange-price-approvedBy"
              >Approved By</label
            >
            <select
              class="form-control"
              id="exchange-price-approvedBy"
              data-cy="approvedBy"
              name="approvedBy"
              v-model="exchangePrice.approvedBy"
            >
              <option v-bind:value="null"></option>
              <option
                v-bind:value="
                  exchangePrice.approvedBy && exchangeOpsUserOption.id === exchangePrice.approvedBy.id
                    ? exchangePrice.approvedBy
                    : exchangeOpsUserOption
                "
                v-for="exchangeOpsUserOption in exchangeOpsUsers"
                :key="exchangeOpsUserOption.id"
              >
                {{ exchangeOpsUserOption.id }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.exchangePrice.client')" for="exchange-price-client">Client</label>
            <select class="form-control" id="exchange-price-client" data-cy="client" name="client" v-model="exchangePrice.client">
              <option v-bind:value="null"></option>
              <option
                v-bind:value="exchangePrice.client && clientOption.id === exchangePrice.client.id ? exchangePrice.client : clientOption"
                v-for="clientOption in clients"
                :key="clientOption.id"
              >
                {{ clientOption.id }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.exchangePrice.vendorHub')" for="exchange-price-vendorHub"
              >Vendor Hub</label
            >
            <select
              class="form-control"
              id="exchange-price-vendorHub"
              data-cy="vendorHub"
              name="vendorHub"
              v-model="exchangePrice.vendorHub"
            >
              <option v-bind:value="null"></option>
              <option
                v-bind:value="
                  exchangePrice.vendorHub && vendorHubOption.id === exchangePrice.vendorHub.id ? exchangePrice.vendorHub : vendorHubOption
                "
                v-for="vendorHubOption in vendorHubs"
                :key="vendorHubOption.id"
              >
                {{ vendorHubOption.id }}
              </option>
            </select>
          </div>
        </div>
        <div>
          <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" v-on:click="previousState()">
            <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            :disabled="$v.exchangePrice.$invalid || isSaving"
            class="btn btn-primary"
          >
            <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script lang="ts" src="./exchange-price-update.component.ts"></script>
