<template>
  <div>
    <h2 id="page-heading" data-cy="ExchangePriceHeading">
      <span v-text="$t('exchangeApp.exchangePrice.home.title')" id="exchange-price-heading">Exchange Prices</span>
      <div class="d-flex justify-content-end">
        <button class="btn btn-info mr-2" v-on:click="handleSyncList" :disabled="isFetching">
          <font-awesome-icon icon="sync" :spin="isFetching"></font-awesome-icon>
          <span v-text="$t('exchangeApp.exchangePrice.home.refreshListLabel')">Refresh List</span>
        </button>
        <router-link :to="{ name: 'ExchangePriceCreate' }" custom v-slot="{ navigate }">
          <button
            @click="navigate"
            id="jh-create-entity"
            data-cy="entityCreateButton"
            class="btn btn-primary jh-create-entity create-exchange-price"
          >
            <font-awesome-icon icon="plus"></font-awesome-icon>
            <span v-text="$t('exchangeApp.exchangePrice.home.createLabel')"> Create a new Exchange Price </span>
          </button>
        </router-link>
      </div>
    </h2>
    <br />
    <div class="alert alert-warning" v-if="!isFetching && exchangePrices && exchangePrices.length === 0">
      <span v-text="$t('exchangeApp.exchangePrice.home.notFound')">No exchangePrices found</span>
    </div>
    <div class="table-responsive" v-if="exchangePrices && exchangePrices.length > 0">
      <table class="table table-striped" aria-describedby="exchangePrices">
        <thead>
          <tr>
            <th scope="row" v-on:click="changeOrder('id')">
              <span v-text="$t('global.field.id')">ID</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'id'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('exchangeAmount')">
              <span v-text="$t('exchangeApp.exchangePrice.exchangeAmount')">Exchange Amount</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'exchangeAmount'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('status')">
              <span v-text="$t('exchangeApp.exchangePrice.status')">Status</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'status'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('createdAt')">
              <span v-text="$t('exchangeApp.exchangePrice.createdAt')">Created At</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'createdAt'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('updatedAt')">
              <span v-text="$t('exchangeApp.exchangePrice.updatedAt')">Updated At</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'updatedAt'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('createdBy')">
              <span v-text="$t('exchangeApp.exchangePrice.createdBy')">Created By</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'createdBy'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('updatedBy')">
              <span v-text="$t('exchangeApp.exchangePrice.updatedBy')">Updated By</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'updatedBy'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('approvedBy.id')">
              <span v-text="$t('exchangeApp.exchangePrice.approvedBy')">Approved By</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'approvedBy.id'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('client.id')">
              <span v-text="$t('exchangeApp.exchangePrice.client')">Client</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'client.id'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('vendorHub.id')">
              <span v-text="$t('exchangeApp.exchangePrice.vendorHub')">Vendor Hub</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'vendorHub.id'"></jhi-sort-indicator>
            </th>
            <th scope="row"></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="exchangePrice in exchangePrices" :key="exchangePrice.id" data-cy="entityTable">
            <td>
              <router-link :to="{ name: 'ExchangePriceView', params: { exchangePriceId: exchangePrice.id } }">{{
                exchangePrice.id
              }}</router-link>
            </td>
            <td>{{ exchangePrice.exchangeAmount }}</td>
            <td v-text="$t('exchangeApp.PriceMetricStatus.' + exchangePrice.status)">{{ exchangePrice.status }}</td>
            <td>{{ exchangePrice.createdAt }}</td>
            <td>{{ exchangePrice.updatedAt }}</td>
            <td>{{ exchangePrice.createdBy }}</td>
            <td>{{ exchangePrice.updatedBy }}</td>
            <td>
              <div v-if="exchangePrice.approvedBy">
                <router-link :to="{ name: 'ExchangeOpsUserView', params: { exchangeOpsUserId: exchangePrice.approvedBy.id } }">{{
                  exchangePrice.approvedBy.id
                }}</router-link>
              </div>
            </td>
            <td>
              <div v-if="exchangePrice.client">
                <router-link :to="{ name: 'ClientView', params: { clientId: exchangePrice.client.id } }">{{
                  exchangePrice.client.id
                }}</router-link>
              </div>
            </td>
            <td>
              <div v-if="exchangePrice.vendorHub">
                <router-link :to="{ name: 'VendorHubView', params: { vendorHubId: exchangePrice.vendorHub.id } }">{{
                  exchangePrice.vendorHub.id
                }}</router-link>
              </div>
            </td>
            <td class="text-right">
              <div class="btn-group">
                <router-link
                  :to="{ name: 'ExchangePriceView', params: { exchangePriceId: exchangePrice.id } }"
                  custom
                  v-slot="{ navigate }"
                >
                  <button @click="navigate" class="btn btn-info btn-sm details" data-cy="entityDetailsButton">
                    <font-awesome-icon icon="eye"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.view')">View</span>
                  </button>
                </router-link>
                <router-link
                  :to="{ name: 'ExchangePriceEdit', params: { exchangePriceId: exchangePrice.id } }"
                  custom
                  v-slot="{ navigate }"
                >
                  <button @click="navigate" class="btn btn-primary btn-sm edit" data-cy="entityEditButton">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.edit')">Edit</span>
                  </button>
                </router-link>
                <b-button
                  v-on:click="prepareRemove(exchangePrice)"
                  variant="danger"
                  class="btn btn-sm"
                  data-cy="entityDeleteButton"
                  v-b-modal.removeEntity
                >
                  <font-awesome-icon icon="times"></font-awesome-icon>
                  <span class="d-none d-md-inline" v-text="$t('entity.action.delete')">Delete</span>
                </b-button>
              </div>
            </td>
          </tr>
        </tbody>
        <infinite-loading
          ref="infiniteLoading"
          v-if="totalItems > itemsPerPage"
          :identifier="infiniteId"
          slot="append"
          @infinite="loadMore"
          force-use-infinite-wrapper=".el-table__body-wrapper"
          :distance="20"
        >
        </infinite-loading>
      </table>
    </div>
    <b-modal ref="removeEntity" id="removeEntity">
      <span slot="modal-title"
        ><span id="exchangeApp.exchangePrice.delete.question" data-cy="exchangePriceDeleteDialogHeading" v-text="$t('entity.delete.title')"
          >Confirm delete operation</span
        ></span
      >
      <div class="modal-body">
        <p id="jhi-delete-exchangePrice-heading" v-text="$t('exchangeApp.exchangePrice.delete.question', { id: removeId })">
          Are you sure you want to delete this Exchange Price?
        </p>
      </div>
      <div slot="modal-footer">
        <button type="button" class="btn btn-secondary" v-text="$t('entity.action.cancel')" v-on:click="closeDialog()">Cancel</button>
        <button
          type="button"
          class="btn btn-primary"
          id="jhi-confirm-delete-exchangePrice"
          data-cy="entityConfirmDeleteButton"
          v-text="$t('entity.action.delete')"
          v-on:click="removeExchangePrice()"
        >
          Delete
        </button>
      </div>
    </b-modal>
  </div>
</template>

<script lang="ts" src="./exchange-price.component.ts"></script>
