<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <div v-if="exchangePrice">
        <h2 class="jh-entity-heading" data-cy="exchangePriceDetailsHeading">
          <span v-text="$t('exchangeApp.exchangePrice.detail.title')">ExchangePrice</span> {{ exchangePrice.id }}
        </h2>
        <dl class="row jh-entity-details">
          <dt>
            <span v-text="$t('exchangeApp.exchangePrice.exchangeAmount')">Exchange Amount</span>
          </dt>
          <dd>
            <span>{{ exchangePrice.exchangeAmount }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.exchangePrice.status')">Status</span>
          </dt>
          <dd>
            <span v-text="$t('exchangeApp.PriceMetricStatus.' + exchangePrice.status)">{{ exchangePrice.status }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.exchangePrice.createdAt')">Created At</span>
          </dt>
          <dd>
            <span>{{ exchangePrice.createdAt }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.exchangePrice.updatedAt')">Updated At</span>
          </dt>
          <dd>
            <span>{{ exchangePrice.updatedAt }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.exchangePrice.createdBy')">Created By</span>
          </dt>
          <dd>
            <span>{{ exchangePrice.createdBy }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.exchangePrice.updatedBy')">Updated By</span>
          </dt>
          <dd>
            <span>{{ exchangePrice.updatedBy }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.exchangePrice.approvedBy')">Approved By</span>
          </dt>
          <dd>
            <div v-if="exchangePrice.approvedBy">
              <router-link :to="{ name: 'ExchangeOpsUserView', params: { exchangeOpsUserId: exchangePrice.approvedBy.id } }">{{
                exchangePrice.approvedBy.id
              }}</router-link>
            </div>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.exchangePrice.client')">Client</span>
          </dt>
          <dd>
            <div v-if="exchangePrice.client">
              <router-link :to="{ name: 'ClientView', params: { clientId: exchangePrice.client.id } }">{{
                exchangePrice.client.id
              }}</router-link>
            </div>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.exchangePrice.vendorHub')">Vendor Hub</span>
          </dt>
          <dd>
            <div v-if="exchangePrice.vendorHub">
              <router-link :to="{ name: 'VendorHubView', params: { vendorHubId: exchangePrice.vendorHub.id } }">{{
                exchangePrice.vendorHub.id
              }}</router-link>
            </div>
          </dd>
        </dl>
        <button type="submit" v-on:click.prevent="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
        </button>
        <router-link
          v-if="exchangePrice.id"
          :to="{ name: 'ExchangePriceEdit', params: { exchangePriceId: exchangePrice.id } }"
          custom
          v-slot="{ navigate }"
        >
          <button @click="navigate" class="btn btn-primary">
            <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
          </button>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./exchange-price-details.component.ts"></script>
