<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <div v-if="exchangeAnswerSession">
        <h2 class="jh-entity-heading" data-cy="exchangeAnswerSessionDetailsHeading">
          <span v-text="$t('exchangeApp.exchangeAnswerSession.detail.title')">ExchangeAnswerSession</span> {{ exchangeAnswerSession.id }}
        </h2>
        <dl class="row jh-entity-details">
          <dt>
            <span v-text="$t('exchangeApp.exchangeAnswerSession.phoneNo')">Phone No</span>
          </dt>
          <dd>
            <span>{{ exchangeAnswerSession.phoneNo }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.exchangeAnswerSession.userId')">User Id</span>
          </dt>
          <dd>
            <span>{{ exchangeAnswerSession.userId }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.exchangeAnswerSession.browserSessionId')">Browser Session Id</span>
          </dt>
          <dd>
            <span>{{ exchangeAnswerSession.browserSessionId }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.exchangeAnswerSession.sessionType')">Session Type</span>
          </dt>
          <dd>
            <span v-text="$t('exchangeApp.AnswerSessionType.' + exchangeAnswerSession.sessionType)">{{
              exchangeAnswerSession.sessionType
            }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.exchangeAnswerSession.price')">Price</span>
          </dt>
          <dd>
            <div v-if="exchangeAnswerSession.price">
              <router-link :to="{ name: 'ExchangePriceView', params: { exchangePriceId: exchangeAnswerSession.price.id } }">{{
                exchangeAnswerSession.price.id
              }}</router-link>
            </div>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.exchangeAnswerSession.client')">Client</span>
          </dt>
          <dd>
            <div v-if="exchangeAnswerSession.client">
              <router-link :to="{ name: 'ClientView', params: { clientId: exchangeAnswerSession.client.id } }">{{
                exchangeAnswerSession.client.id
              }}</router-link>
            </div>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.exchangeAnswerSession.order')">Order</span>
          </dt>
          <dd>
            <div v-if="exchangeAnswerSession.order">
              <router-link :to="{ name: 'ExchangeOrderView', params: { exchangeOrderId: exchangeAnswerSession.order.id } }">{{
                exchangeAnswerSession.order.id
              }}</router-link>
            </div>
          </dd>
        </dl>
        <button type="submit" v-on:click.prevent="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
        </button>
        <router-link
          v-if="exchangeAnswerSession.id"
          :to="{ name: 'ExchangeAnswerSessionEdit', params: { exchangeAnswerSessionId: exchangeAnswerSession.id } }"
          custom
          v-slot="{ navigate }"
        >
          <button @click="navigate" class="btn btn-primary">
            <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
          </button>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./exchange-answer-session-details.component.ts"></script>
