<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate v-on:submit.prevent="save()">
        <h2
          id="exchangeApp.exchangeAnswerSession.home.createOrEditLabel"
          data-cy="ExchangeAnswerSessionCreateUpdateHeading"
          v-text="$t('exchangeApp.exchangeAnswerSession.home.createOrEditLabel')"
        >
          Create or edit a ExchangeAnswerSession
        </h2>
        <div>
          <div class="form-group" v-if="exchangeAnswerSession.id">
            <label for="id" v-text="$t('global.field.id')">ID</label>
            <input type="text" class="form-control" id="id" name="id" v-model="exchangeAnswerSession.id" readonly />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.exchangeAnswerSession.phoneNo')" for="exchange-answer-session-phoneNo"
              >Phone No</label
            >
            <input
              type="number"
              class="form-control"
              name="phoneNo"
              id="exchange-answer-session-phoneNo"
              data-cy="phoneNo"
              :class="{ valid: !$v.exchangeAnswerSession.phoneNo.$invalid, invalid: $v.exchangeAnswerSession.phoneNo.$invalid }"
              v-model.number="$v.exchangeAnswerSession.phoneNo.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.exchangeAnswerSession.userId')" for="exchange-answer-session-userId"
              >User Id</label
            >
            <input
              type="text"
              class="form-control"
              name="userId"
              id="exchange-answer-session-userId"
              data-cy="userId"
              :class="{ valid: !$v.exchangeAnswerSession.userId.$invalid, invalid: $v.exchangeAnswerSession.userId.$invalid }"
              v-model="$v.exchangeAnswerSession.userId.$model"
            />
          </div>
          <div class="form-group">
            <label
              class="form-control-label"
              v-text="$t('exchangeApp.exchangeAnswerSession.browserSessionId')"
              for="exchange-answer-session-browserSessionId"
              >Browser Session Id</label
            >
            <input
              type="text"
              class="form-control"
              name="browserSessionId"
              id="exchange-answer-session-browserSessionId"
              data-cy="browserSessionId"
              :class="{
                valid: !$v.exchangeAnswerSession.browserSessionId.$invalid,
                invalid: $v.exchangeAnswerSession.browserSessionId.$invalid,
              }"
              v-model="$v.exchangeAnswerSession.browserSessionId.$model"
            />
          </div>
          <div class="form-group">
            <label
              class="form-control-label"
              v-text="$t('exchangeApp.exchangeAnswerSession.sessionType')"
              for="exchange-answer-session-sessionType"
              >Session Type</label
            >
            <select
              class="form-control"
              name="sessionType"
              :class="{ valid: !$v.exchangeAnswerSession.sessionType.$invalid, invalid: $v.exchangeAnswerSession.sessionType.$invalid }"
              v-model="$v.exchangeAnswerSession.sessionType.$model"
              id="exchange-answer-session-sessionType"
              data-cy="sessionType"
            >
              <option
                v-for="answerSessionType in answerSessionTypeValues"
                :key="answerSessionType"
                v-bind:value="answerSessionType"
                v-bind:label="$t('exchangeApp.AnswerSessionType.' + answerSessionType)"
              >
                {{ answerSessionType }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.exchangeAnswerSession.price')" for="exchange-answer-session-price"
              >Price</label
            >
            <select
              class="form-control"
              id="exchange-answer-session-price"
              data-cy="price"
              name="price"
              v-model="exchangeAnswerSession.price"
            >
              <option v-bind:value="null"></option>
              <option
                v-bind:value="
                  exchangeAnswerSession.price && exchangePriceOption.id === exchangeAnswerSession.price.id
                    ? exchangeAnswerSession.price
                    : exchangePriceOption
                "
                v-for="exchangePriceOption in exchangePrices"
                :key="exchangePriceOption.id"
              >
                {{ exchangePriceOption.id }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.exchangeAnswerSession.client')" for="exchange-answer-session-client"
              >Client</label
            >
            <select
              class="form-control"
              id="exchange-answer-session-client"
              data-cy="client"
              name="client"
              v-model="exchangeAnswerSession.client"
            >
              <option v-bind:value="null"></option>
              <option
                v-bind:value="
                  exchangeAnswerSession.client && clientOption.id === exchangeAnswerSession.client.id
                    ? exchangeAnswerSession.client
                    : clientOption
                "
                v-for="clientOption in clients"
                :key="clientOption.id"
              >
                {{ clientOption.id }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.exchangeAnswerSession.order')" for="exchange-answer-session-order"
              >Order</label
            >
            <select
              class="form-control"
              id="exchange-answer-session-order"
              data-cy="order"
              name="order"
              v-model="exchangeAnswerSession.order"
            >
              <option v-bind:value="null"></option>
              <option
                v-bind:value="
                  exchangeAnswerSession.order && exchangeOrderOption.id === exchangeAnswerSession.order.id
                    ? exchangeAnswerSession.order
                    : exchangeOrderOption
                "
                v-for="exchangeOrderOption in exchangeOrders"
                :key="exchangeOrderOption.id"
              >
                {{ exchangeOrderOption.id }}
              </option>
            </select>
          </div>
        </div>
        <div>
          <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" v-on:click="previousState()">
            <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            :disabled="$v.exchangeAnswerSession.$invalid || isSaving"
            class="btn btn-primary"
          >
            <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script lang="ts" src="./exchange-answer-session-update.component.ts"></script>
