<template>
  <div>
    <h2 id="page-heading" data-cy="ExchangeAnswerSessionHeading">
      <span v-text="$t('exchangeApp.exchangeAnswerSession.home.title')" id="exchange-answer-session-heading">Exchange Answer Sessions</span>
      <div class="d-flex justify-content-end">
        <button class="btn btn-info mr-2" v-on:click="handleSyncList" :disabled="isFetching">
          <font-awesome-icon icon="sync" :spin="isFetching"></font-awesome-icon>
          <span v-text="$t('exchangeApp.exchangeAnswerSession.home.refreshListLabel')">Refresh List</span>
        </button>
        <router-link :to="{ name: 'ExchangeAnswerSessionCreate' }" custom v-slot="{ navigate }">
          <button
            @click="navigate"
            id="jh-create-entity"
            data-cy="entityCreateButton"
            class="btn btn-primary jh-create-entity create-exchange-answer-session"
          >
            <font-awesome-icon icon="plus"></font-awesome-icon>
            <span v-text="$t('exchangeApp.exchangeAnswerSession.home.createLabel')"> Create a new Exchange Answer Session </span>
          </button>
        </router-link>
      </div>
    </h2>
    <br />
    <div class="alert alert-warning" v-if="!isFetching && exchangeAnswerSessions && exchangeAnswerSessions.length === 0">
      <span v-text="$t('exchangeApp.exchangeAnswerSession.home.notFound')">No exchangeAnswerSessions found</span>
    </div>
    <div class="table-responsive" v-if="exchangeAnswerSessions && exchangeAnswerSessions.length > 0">
      <table class="table table-striped" aria-describedby="exchangeAnswerSessions">
        <thead>
          <tr>
            <th scope="row" v-on:click="changeOrder('id')">
              <span v-text="$t('global.field.id')">ID</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'id'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('phoneNo')">
              <span v-text="$t('exchangeApp.exchangeAnswerSession.phoneNo')">Phone No</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'phoneNo'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('userId')">
              <span v-text="$t('exchangeApp.exchangeAnswerSession.userId')">User Id</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'userId'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('browserSessionId')">
              <span v-text="$t('exchangeApp.exchangeAnswerSession.browserSessionId')">Browser Session Id</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'browserSessionId'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('sessionType')">
              <span v-text="$t('exchangeApp.exchangeAnswerSession.sessionType')">Session Type</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'sessionType'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('price.id')">
              <span v-text="$t('exchangeApp.exchangeAnswerSession.price')">Price</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'price.id'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('client.id')">
              <span v-text="$t('exchangeApp.exchangeAnswerSession.client')">Client</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'client.id'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('order.id')">
              <span v-text="$t('exchangeApp.exchangeAnswerSession.order')">Order</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'order.id'"></jhi-sort-indicator>
            </th>
            <th scope="row"></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="exchangeAnswerSession in exchangeAnswerSessions" :key="exchangeAnswerSession.id" data-cy="entityTable">
            <td>
              <router-link :to="{ name: 'ExchangeAnswerSessionView', params: { exchangeAnswerSessionId: exchangeAnswerSession.id } }">{{
                exchangeAnswerSession.id
              }}</router-link>
            </td>
            <td>{{ exchangeAnswerSession.phoneNo }}</td>
            <td>{{ exchangeAnswerSession.userId }}</td>
            <td>{{ exchangeAnswerSession.browserSessionId }}</td>
            <td v-text="$t('exchangeApp.AnswerSessionType.' + exchangeAnswerSession.sessionType)">
              {{ exchangeAnswerSession.sessionType }}
            </td>
            <td>
              <div v-if="exchangeAnswerSession.price">
                <router-link :to="{ name: 'ExchangePriceView', params: { exchangePriceId: exchangeAnswerSession.price.id } }">{{
                  exchangeAnswerSession.price.id
                }}</router-link>
              </div>
            </td>
            <td>
              <div v-if="exchangeAnswerSession.client">
                <router-link :to="{ name: 'ClientView', params: { clientId: exchangeAnswerSession.client.id } }">{{
                  exchangeAnswerSession.client.id
                }}</router-link>
              </div>
            </td>
            <td>
              <div v-if="exchangeAnswerSession.order">
                <router-link :to="{ name: 'ExchangeOrderView', params: { exchangeOrderId: exchangeAnswerSession.order.id } }">{{
                  exchangeAnswerSession.order.id
                }}</router-link>
              </div>
            </td>
            <td class="text-right">
              <div class="btn-group">
                <router-link
                  :to="{ name: 'ExchangeAnswerSessionView', params: { exchangeAnswerSessionId: exchangeAnswerSession.id } }"
                  custom
                  v-slot="{ navigate }"
                >
                  <button @click="navigate" class="btn btn-info btn-sm details" data-cy="entityDetailsButton">
                    <font-awesome-icon icon="eye"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.view')">View</span>
                  </button>
                </router-link>
                <router-link
                  :to="{ name: 'ExchangeAnswerSessionEdit', params: { exchangeAnswerSessionId: exchangeAnswerSession.id } }"
                  custom
                  v-slot="{ navigate }"
                >
                  <button @click="navigate" class="btn btn-primary btn-sm edit" data-cy="entityEditButton">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.edit')">Edit</span>
                  </button>
                </router-link>
                <b-button
                  v-on:click="prepareRemove(exchangeAnswerSession)"
                  variant="danger"
                  class="btn btn-sm"
                  data-cy="entityDeleteButton"
                  v-b-modal.removeEntity
                >
                  <font-awesome-icon icon="times"></font-awesome-icon>
                  <span class="d-none d-md-inline" v-text="$t('entity.action.delete')">Delete</span>
                </b-button>
              </div>
            </td>
          </tr>
        </tbody>
        <infinite-loading
          ref="infiniteLoading"
          v-if="totalItems > itemsPerPage"
          :identifier="infiniteId"
          slot="append"
          @infinite="loadMore"
          force-use-infinite-wrapper=".el-table__body-wrapper"
          :distance="20"
        >
        </infinite-loading>
      </table>
    </div>
    <b-modal ref="removeEntity" id="removeEntity">
      <span slot="modal-title"
        ><span
          id="exchangeApp.exchangeAnswerSession.delete.question"
          data-cy="exchangeAnswerSessionDeleteDialogHeading"
          v-text="$t('entity.delete.title')"
          >Confirm delete operation</span
        ></span
      >
      <div class="modal-body">
        <p id="jhi-delete-exchangeAnswerSession-heading" v-text="$t('exchangeApp.exchangeAnswerSession.delete.question', { id: removeId })">
          Are you sure you want to delete this Exchange Answer Session?
        </p>
      </div>
      <div slot="modal-footer">
        <button type="button" class="btn btn-secondary" v-text="$t('entity.action.cancel')" v-on:click="closeDialog()">Cancel</button>
        <button
          type="button"
          class="btn btn-primary"
          id="jhi-confirm-delete-exchangeAnswerSession"
          data-cy="entityConfirmDeleteButton"
          v-text="$t('entity.action.delete')"
          v-on:click="removeExchangeAnswerSession()"
        >
          Delete
        </button>
      </div>
    </b-modal>
  </div>
</template>

<script lang="ts" src="./exchange-answer-session.component.ts"></script>
