<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate v-on:submit.prevent="save()">
        <h2
          id="exchangeApp.exchangeAnswer.home.createOrEditLabel"
          data-cy="ExchangeAnswerCreateUpdateHeading"
          v-text="$t('exchangeApp.exchangeAnswer.home.createOrEditLabel')"
        >
          Create or edit a ExchangeAnswer
        </h2>
        <div>
          <div class="form-group" v-if="exchangeAnswer.id">
            <label for="id" v-text="$t('global.field.id')">ID</label>
            <input type="text" class="form-control" id="id" name="id" v-model="exchangeAnswer.id" readonly />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.exchangeAnswer.createdAt')" for="exchange-answer-createdAt"
              >Created At</label
            >
            <b-input-group class="mb-3">
              <b-input-group-prepend>
                <b-form-datepicker
                  aria-controls="exchange-answer-createdAt"
                  v-model="$v.exchangeAnswer.createdAt.$model"
                  name="createdAt"
                  class="form-control"
                  :locale="currentLanguage"
                  button-only
                  today-button
                  reset-button
                  close-button
                >
                </b-form-datepicker>
              </b-input-group-prepend>
              <b-form-input
                id="exchange-answer-createdAt"
                data-cy="createdAt"
                type="text"
                class="form-control"
                name="createdAt"
                :class="{ valid: !$v.exchangeAnswer.createdAt.$invalid, invalid: $v.exchangeAnswer.createdAt.$invalid }"
                v-model="$v.exchangeAnswer.createdAt.$model"
              />
            </b-input-group>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.exchangeAnswer.updatedAt')" for="exchange-answer-updatedAt"
              >Updated At</label
            >
            <b-input-group class="mb-3">
              <b-input-group-prepend>
                <b-form-datepicker
                  aria-controls="exchange-answer-updatedAt"
                  v-model="$v.exchangeAnswer.updatedAt.$model"
                  name="updatedAt"
                  class="form-control"
                  :locale="currentLanguage"
                  button-only
                  today-button
                  reset-button
                  close-button
                >
                </b-form-datepicker>
              </b-input-group-prepend>
              <b-form-input
                id="exchange-answer-updatedAt"
                data-cy="updatedAt"
                type="text"
                class="form-control"
                name="updatedAt"
                :class="{ valid: !$v.exchangeAnswer.updatedAt.$invalid, invalid: $v.exchangeAnswer.updatedAt.$invalid }"
                v-model="$v.exchangeAnswer.updatedAt.$model"
              />
            </b-input-group>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.exchangeAnswer.question')" for="exchange-answer-question"
              >Question</label
            >
            <select class="form-control" id="exchange-answer-question" data-cy="question" name="question" v-model="exchangeAnswer.question">
              <option v-bind:value="null"></option>
              <option
                v-bind:value="
                  exchangeAnswer.question && questionOption.id === exchangeAnswer.question.id ? exchangeAnswer.question : questionOption
                "
                v-for="questionOption in questions"
                :key="questionOption.id"
              >
                {{ questionOption.id }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.exchangeAnswer.option')" for="exchange-answer-option">Option</label>
            <select class="form-control" id="exchange-answer-option" data-cy="option" name="option" v-model="exchangeAnswer.option">
              <option v-bind:value="null"></option>
              <option
                v-bind:value="exchangeAnswer.option && optionOption.id === exchangeAnswer.option.id ? exchangeAnswer.option : optionOption"
                v-for="optionOption in options"
                :key="optionOption.id"
              >
                {{ optionOption.id }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.exchangeAnswer.set')" for="exchange-answer-set">Set</label>
            <select class="form-control" id="exchange-answer-set" data-cy="set" name="set" v-model="exchangeAnswer.set">
              <option v-bind:value="null"></option>
              <option
                v-bind:value="
                  exchangeAnswer.set && exchangeAnswerSetOption.id === exchangeAnswer.set.id ? exchangeAnswer.set : exchangeAnswerSetOption
                "
                v-for="exchangeAnswerSetOption in exchangeAnswerSets"
                :key="exchangeAnswerSetOption.id"
              >
                {{ exchangeAnswerSetOption.id }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.exchangeAnswer.session')" for="exchange-answer-session"
              >Session</label
            >
            <select class="form-control" id="exchange-answer-session" data-cy="session" name="session" v-model="exchangeAnswer.session">
              <option v-bind:value="null"></option>
              <option
                v-bind:value="
                  exchangeAnswer.session && exchangeAnswerSessionOption.id === exchangeAnswer.session.id
                    ? exchangeAnswer.session
                    : exchangeAnswerSessionOption
                "
                v-for="exchangeAnswerSessionOption in exchangeAnswerSessions"
                :key="exchangeAnswerSessionOption.id"
              >
                {{ exchangeAnswerSessionOption.id }}
              </option>
            </select>
          </div>
        </div>
        <div>
          <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" v-on:click="previousState()">
            <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            :disabled="$v.exchangeAnswer.$invalid || isSaving"
            class="btn btn-primary"
          >
            <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script lang="ts" src="./exchange-answer-update.component.ts"></script>
