<template>
  <div>
    <h2 id="page-heading" data-cy="ExchangeAnswerHeading">
      <span v-text="$t('exchangeApp.exchangeAnswer.home.title')" id="exchange-answer-heading">Exchange Answers</span>
      <div class="d-flex justify-content-end">
        <button class="btn btn-info mr-2" v-on:click="handleSyncList" :disabled="isFetching">
          <font-awesome-icon icon="sync" :spin="isFetching"></font-awesome-icon>
          <span v-text="$t('exchangeApp.exchangeAnswer.home.refreshListLabel')">Refresh List</span>
        </button>
        <router-link :to="{ name: 'ExchangeAnswerCreate' }" custom v-slot="{ navigate }">
          <button
            @click="navigate"
            id="jh-create-entity"
            data-cy="entityCreateButton"
            class="btn btn-primary jh-create-entity create-exchange-answer"
          >
            <font-awesome-icon icon="plus"></font-awesome-icon>
            <span v-text="$t('exchangeApp.exchangeAnswer.home.createLabel')"> Create a new Exchange Answer </span>
          </button>
        </router-link>
      </div>
    </h2>
    <br />
    <div class="alert alert-warning" v-if="!isFetching && exchangeAnswers && exchangeAnswers.length === 0">
      <span v-text="$t('exchangeApp.exchangeAnswer.home.notFound')">No exchangeAnswers found</span>
    </div>
    <div class="table-responsive" v-if="exchangeAnswers && exchangeAnswers.length > 0">
      <table class="table table-striped" aria-describedby="exchangeAnswers">
        <thead>
          <tr>
            <th scope="row" v-on:click="changeOrder('id')">
              <span v-text="$t('global.field.id')">ID</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'id'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('createdAt')">
              <span v-text="$t('exchangeApp.exchangeAnswer.createdAt')">Created At</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'createdAt'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('updatedAt')">
              <span v-text="$t('exchangeApp.exchangeAnswer.updatedAt')">Updated At</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'updatedAt'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('question.id')">
              <span v-text="$t('exchangeApp.exchangeAnswer.question')">Question</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'question.id'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('option.id')">
              <span v-text="$t('exchangeApp.exchangeAnswer.option')">Option</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'option.id'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('set.id')">
              <span v-text="$t('exchangeApp.exchangeAnswer.set')">Set</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'set.id'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('session.id')">
              <span v-text="$t('exchangeApp.exchangeAnswer.session')">Session</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'session.id'"></jhi-sort-indicator>
            </th>
            <th scope="row"></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="exchangeAnswer in exchangeAnswers" :key="exchangeAnswer.id" data-cy="entityTable">
            <td>
              <router-link :to="{ name: 'ExchangeAnswerView', params: { exchangeAnswerId: exchangeAnswer.id } }">{{
                exchangeAnswer.id
              }}</router-link>
            </td>
            <td>{{ exchangeAnswer.createdAt }}</td>
            <td>{{ exchangeAnswer.updatedAt }}</td>
            <td>
              <div v-if="exchangeAnswer.question">
                <router-link :to="{ name: 'QuestionView', params: { questionId: exchangeAnswer.question.id } }">{{
                  exchangeAnswer.question.id
                }}</router-link>
              </div>
            </td>
            <td>
              <div v-if="exchangeAnswer.option">
                <router-link :to="{ name: 'OptionView', params: { optionId: exchangeAnswer.option.id } }">{{
                  exchangeAnswer.option.id
                }}</router-link>
              </div>
            </td>
            <td>
              <div v-if="exchangeAnswer.set">
                <router-link :to="{ name: 'ExchangeAnswerSetView', params: { exchangeAnswerSetId: exchangeAnswer.set.id } }">{{
                  exchangeAnswer.set.id
                }}</router-link>
              </div>
            </td>
            <td>
              <div v-if="exchangeAnswer.session">
                <router-link :to="{ name: 'ExchangeAnswerSessionView', params: { exchangeAnswerSessionId: exchangeAnswer.session.id } }">{{
                  exchangeAnswer.session.id
                }}</router-link>
              </div>
            </td>
            <td class="text-right">
              <div class="btn-group">
                <router-link
                  :to="{ name: 'ExchangeAnswerView', params: { exchangeAnswerId: exchangeAnswer.id } }"
                  custom
                  v-slot="{ navigate }"
                >
                  <button @click="navigate" class="btn btn-info btn-sm details" data-cy="entityDetailsButton">
                    <font-awesome-icon icon="eye"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.view')">View</span>
                  </button>
                </router-link>
                <router-link
                  :to="{ name: 'ExchangeAnswerEdit', params: { exchangeAnswerId: exchangeAnswer.id } }"
                  custom
                  v-slot="{ navigate }"
                >
                  <button @click="navigate" class="btn btn-primary btn-sm edit" data-cy="entityEditButton">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.edit')">Edit</span>
                  </button>
                </router-link>
                <b-button
                  v-on:click="prepareRemove(exchangeAnswer)"
                  variant="danger"
                  class="btn btn-sm"
                  data-cy="entityDeleteButton"
                  v-b-modal.removeEntity
                >
                  <font-awesome-icon icon="times"></font-awesome-icon>
                  <span class="d-none d-md-inline" v-text="$t('entity.action.delete')">Delete</span>
                </b-button>
              </div>
            </td>
          </tr>
        </tbody>
        <infinite-loading
          ref="infiniteLoading"
          v-if="totalItems > itemsPerPage"
          :identifier="infiniteId"
          slot="append"
          @infinite="loadMore"
          force-use-infinite-wrapper=".el-table__body-wrapper"
          :distance="20"
        >
        </infinite-loading>
      </table>
    </div>
    <b-modal ref="removeEntity" id="removeEntity">
      <span slot="modal-title"
        ><span
          id="exchangeApp.exchangeAnswer.delete.question"
          data-cy="exchangeAnswerDeleteDialogHeading"
          v-text="$t('entity.delete.title')"
          >Confirm delete operation</span
        ></span
      >
      <div class="modal-body">
        <p id="jhi-delete-exchangeAnswer-heading" v-text="$t('exchangeApp.exchangeAnswer.delete.question', { id: removeId })">
          Are you sure you want to delete this Exchange Answer?
        </p>
      </div>
      <div slot="modal-footer">
        <button type="button" class="btn btn-secondary" v-text="$t('entity.action.cancel')" v-on:click="closeDialog()">Cancel</button>
        <button
          type="button"
          class="btn btn-primary"
          id="jhi-confirm-delete-exchangeAnswer"
          data-cy="entityConfirmDeleteButton"
          v-text="$t('entity.action.delete')"
          v-on:click="removeExchangeAnswer()"
        >
          Delete
        </button>
      </div>
    </b-modal>
  </div>
</template>

<script lang="ts" src="./exchange-answer.component.ts"></script>
