<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <div v-if="exchangeAnswer">
        <h2 class="jh-entity-heading" data-cy="exchangeAnswerDetailsHeading">
          <span v-text="$t('exchangeApp.exchangeAnswer.detail.title')">ExchangeAnswer</span> {{ exchangeAnswer.id }}
        </h2>
        <dl class="row jh-entity-details">
          <dt>
            <span v-text="$t('exchangeApp.exchangeAnswer.createdAt')">Created At</span>
          </dt>
          <dd>
            <span>{{ exchangeAnswer.createdAt }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.exchangeAnswer.updatedAt')">Updated At</span>
          </dt>
          <dd>
            <span>{{ exchangeAnswer.updatedAt }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.exchangeAnswer.question')">Question</span>
          </dt>
          <dd>
            <div v-if="exchangeAnswer.question">
              <router-link :to="{ name: 'QuestionView', params: { questionId: exchangeAnswer.question.id } }">{{
                exchangeAnswer.question.id
              }}</router-link>
            </div>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.exchangeAnswer.option')">Option</span>
          </dt>
          <dd>
            <div v-if="exchangeAnswer.option">
              <router-link :to="{ name: 'OptionView', params: { optionId: exchangeAnswer.option.id } }">{{
                exchangeAnswer.option.id
              }}</router-link>
            </div>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.exchangeAnswer.set')">Set</span>
          </dt>
          <dd>
            <div v-if="exchangeAnswer.set">
              <router-link :to="{ name: 'ExchangeAnswerSetView', params: { exchangeAnswerSetId: exchangeAnswer.set.id } }">{{
                exchangeAnswer.set.id
              }}</router-link>
            </div>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.exchangeAnswer.session')">Session</span>
          </dt>
          <dd>
            <div v-if="exchangeAnswer.session">
              <router-link :to="{ name: 'ExchangeAnswerSessionView', params: { exchangeAnswerSessionId: exchangeAnswer.session.id } }">{{
                exchangeAnswer.session.id
              }}</router-link>
            </div>
          </dd>
        </dl>
        <button type="submit" v-on:click.prevent="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
        </button>
        <router-link
          v-if="exchangeAnswer.id"
          :to="{ name: 'ExchangeAnswerEdit', params: { exchangeAnswerId: exchangeAnswer.id } }"
          custom
          v-slot="{ navigate }"
        >
          <button @click="navigate" class="btn btn-primary">
            <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
          </button>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./exchange-answer-details.component.ts"></script>
