<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate v-on:submit.prevent="save()">
        <h2
          id="exchangeApp.option.home.createOrEditLabel"
          data-cy="OptionCreateUpdateHeading"
          v-text="$t('exchangeApp.option.home.createOrEditLabel')"
        >
          Create or edit a Option
        </h2>
        <div>
          <div class="form-group" v-if="option.id">
            <label for="id" v-text="$t('global.field.id')">ID</label>
            <input type="text" class="form-control" id="id" name="id" v-model="option.id" readonly />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.option.option')" for="option-option">Option</label>
            <input
              type="text"
              class="form-control"
              name="option"
              id="option-option"
              data-cy="option"
              :class="{ valid: !$v.option.option.$invalid, invalid: $v.option.option.$invalid }"
              v-model="$v.option.option.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.option.isActive')" for="option-isActive">Is Active</label>
            <input
              type="checkbox"
              class="form-check"
              name="isActive"
              id="option-isActive"
              data-cy="isActive"
              :class="{ valid: !$v.option.isActive.$invalid, invalid: $v.option.isActive.$invalid }"
              v-model="$v.option.isActive.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.option.createdAt')" for="option-createdAt">Created At</label>
            <b-input-group class="mb-3">
              <b-input-group-prepend>
                <b-form-datepicker
                  aria-controls="option-createdAt"
                  v-model="$v.option.createdAt.$model"
                  name="createdAt"
                  class="form-control"
                  :locale="currentLanguage"
                  button-only
                  today-button
                  reset-button
                  close-button
                >
                </b-form-datepicker>
              </b-input-group-prepend>
              <b-form-input
                id="option-createdAt"
                data-cy="createdAt"
                type="text"
                class="form-control"
                name="createdAt"
                :class="{ valid: !$v.option.createdAt.$invalid, invalid: $v.option.createdAt.$invalid }"
                v-model="$v.option.createdAt.$model"
              />
            </b-input-group>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.option.updatedAt')" for="option-updatedAt">Updated At</label>
            <b-input-group class="mb-3">
              <b-input-group-prepend>
                <b-form-datepicker
                  aria-controls="option-updatedAt"
                  v-model="$v.option.updatedAt.$model"
                  name="updatedAt"
                  class="form-control"
                  :locale="currentLanguage"
                  button-only
                  today-button
                  reset-button
                  close-button
                >
                </b-form-datepicker>
              </b-input-group-prepend>
              <b-form-input
                id="option-updatedAt"
                data-cy="updatedAt"
                type="text"
                class="form-control"
                name="updatedAt"
                :class="{ valid: !$v.option.updatedAt.$invalid, invalid: $v.option.updatedAt.$invalid }"
                v-model="$v.option.updatedAt.$model"
              />
            </b-input-group>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.option.createdBy')" for="option-createdBy">Created By</label>
            <input
              type="text"
              class="form-control"
              name="createdBy"
              id="option-createdBy"
              data-cy="createdBy"
              :class="{ valid: !$v.option.createdBy.$invalid, invalid: $v.option.createdBy.$invalid }"
              v-model="$v.option.createdBy.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.option.updatedBy')" for="option-updatedBy">Updated By</label>
            <input
              type="text"
              class="form-control"
              name="updatedBy"
              id="option-updatedBy"
              data-cy="updatedBy"
              :class="{ valid: !$v.option.updatedBy.$invalid, invalid: $v.option.updatedBy.$invalid }"
              v-model="$v.option.updatedBy.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.option.question')" for="option-question">Question</label>
            <select class="form-control" id="option-question" data-cy="question" name="question" v-model="option.question">
              <option v-bind:value="null"></option>
              <option
                v-bind:value="option.question && questionOption.id === option.question.id ? option.question : questionOption"
                v-for="questionOption in questions"
                :key="questionOption.id"
              >
                {{ questionOption.id }}
              </option>
            </select>
          </div>
        </div>
        <div>
          <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" v-on:click="previousState()">
            <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            :disabled="$v.option.$invalid || isSaving"
            class="btn btn-primary"
          >
            <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script lang="ts" src="./option-update.component.ts"></script>
