<template>
  <div>
    <h2 id="page-heading" data-cy="OptionHeading">
      <span v-text="$t('exchangeApp.option.home.title')" id="option-heading">Options</span>
      <div class="d-flex justify-content-end">
        <button class="btn btn-info mr-2" v-on:click="handleSyncList" :disabled="isFetching">
          <font-awesome-icon icon="sync" :spin="isFetching"></font-awesome-icon>
          <span v-text="$t('exchangeApp.option.home.refreshListLabel')">Refresh List</span>
        </button>
        <router-link :to="{ name: 'OptionCreate' }" custom v-slot="{ navigate }">
          <button
            @click="navigate"
            id="jh-create-entity"
            data-cy="entityCreateButton"
            class="btn btn-primary jh-create-entity create-option"
          >
            <font-awesome-icon icon="plus"></font-awesome-icon>
            <span v-text="$t('exchangeApp.option.home.createLabel')"> Create a new Option </span>
          </button>
        </router-link>
      </div>
    </h2>
    <br />
    <div class="alert alert-warning" v-if="!isFetching && options && options.length === 0">
      <span v-text="$t('exchangeApp.option.home.notFound')">No options found</span>
    </div>
    <div class="table-responsive" v-if="options && options.length > 0">
      <table class="table table-striped" aria-describedby="options">
        <thead>
          <tr>
            <th scope="row" v-on:click="changeOrder('id')">
              <span v-text="$t('global.field.id')">ID</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'id'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('option')">
              <span v-text="$t('exchangeApp.option.option')">Option</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'option'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('isActive')">
              <span v-text="$t('exchangeApp.option.isActive')">Is Active</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'isActive'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('createdAt')">
              <span v-text="$t('exchangeApp.option.createdAt')">Created At</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'createdAt'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('updatedAt')">
              <span v-text="$t('exchangeApp.option.updatedAt')">Updated At</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'updatedAt'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('createdBy')">
              <span v-text="$t('exchangeApp.option.createdBy')">Created By</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'createdBy'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('updatedBy')">
              <span v-text="$t('exchangeApp.option.updatedBy')">Updated By</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'updatedBy'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('question.id')">
              <span v-text="$t('exchangeApp.option.question')">Question</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'question.id'"></jhi-sort-indicator>
            </th>
            <th scope="row"></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="option in options" :key="option.id" data-cy="entityTable">
            <td>
              <router-link :to="{ name: 'OptionView', params: { optionId: option.id } }">{{ option.id }}</router-link>
            </td>
            <td>{{ option.option }}</td>
            <td>{{ option.isActive }}</td>
            <td>{{ option.createdAt }}</td>
            <td>{{ option.updatedAt }}</td>
            <td>{{ option.createdBy }}</td>
            <td>{{ option.updatedBy }}</td>
            <td>
              <div v-if="option.question">
                <router-link :to="{ name: 'QuestionView', params: { questionId: option.question.id } }">{{
                  option.question.id
                }}</router-link>
              </div>
            </td>
            <td class="text-right">
              <div class="btn-group">
                <router-link :to="{ name: 'OptionView', params: { optionId: option.id } }" custom v-slot="{ navigate }">
                  <button @click="navigate" class="btn btn-info btn-sm details" data-cy="entityDetailsButton">
                    <font-awesome-icon icon="eye"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.view')">View</span>
                  </button>
                </router-link>
                <router-link :to="{ name: 'OptionEdit', params: { optionId: option.id } }" custom v-slot="{ navigate }">
                  <button @click="navigate" class="btn btn-primary btn-sm edit" data-cy="entityEditButton">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.edit')">Edit</span>
                  </button>
                </router-link>
                <b-button
                  v-on:click="prepareRemove(option)"
                  variant="danger"
                  class="btn btn-sm"
                  data-cy="entityDeleteButton"
                  v-b-modal.removeEntity
                >
                  <font-awesome-icon icon="times"></font-awesome-icon>
                  <span class="d-none d-md-inline" v-text="$t('entity.action.delete')">Delete</span>
                </b-button>
              </div>
            </td>
          </tr>
        </tbody>
        <infinite-loading
          ref="infiniteLoading"
          v-if="totalItems > itemsPerPage"
          :identifier="infiniteId"
          slot="append"
          @infinite="loadMore"
          force-use-infinite-wrapper=".el-table__body-wrapper"
          :distance="20"
        >
        </infinite-loading>
      </table>
    </div>
    <b-modal ref="removeEntity" id="removeEntity">
      <span slot="modal-title"
        ><span id="exchangeApp.option.delete.question" data-cy="optionDeleteDialogHeading" v-text="$t('entity.delete.title')"
          >Confirm delete operation</span
        ></span
      >
      <div class="modal-body">
        <p id="jhi-delete-option-heading" v-text="$t('exchangeApp.option.delete.question', { id: removeId })">
          Are you sure you want to delete this Option?
        </p>
      </div>
      <div slot="modal-footer">
        <button type="button" class="btn btn-secondary" v-text="$t('entity.action.cancel')" v-on:click="closeDialog()">Cancel</button>
        <button
          type="button"
          class="btn btn-primary"
          id="jhi-confirm-delete-option"
          data-cy="entityConfirmDeleteButton"
          v-text="$t('entity.action.delete')"
          v-on:click="removeOption()"
        >
          Delete
        </button>
      </div>
    </b-modal>
  </div>
</template>

<script lang="ts" src="./option.component.ts"></script>
