<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <div v-if="productContext">
        <h2 class="jh-entity-heading" data-cy="productContextDetailsHeading">
          <span v-text="$t('exchangeApp.productContext.detail.title')">ProductContext</span> {{ productContext.id }}
        </h2>
        <dl class="row jh-entity-details">
          <dt>
            <span v-text="$t('exchangeApp.productContext.categoryContextType')">Category Context Type</span>
          </dt>
          <dd>
            <span v-text="$t('exchangeApp.CategoryConetxtType.' + productContext.categoryContextType)">{{
              productContext.categoryContextType
            }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.productContext.clientProductId')">Client Product Id</span>
          </dt>
          <dd>
            <span>{{ productContext.clientProductId }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.productContext.clientProductName')">Client Product Name</span>
          </dt>
          <dd>
            <span>{{ productContext.clientProductName }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.productContext.clientProductUrl')">Client Product Url</span>
          </dt>
          <dd>
            <span>{{ productContext.clientProductUrl }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.productContext.isActive')">Is Active</span>
          </dt>
          <dd>
            <span>{{ productContext.isActive }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.productContext.createdAt')">Created At</span>
          </dt>
          <dd>
            <span>{{ productContext.createdAt }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.productContext.updatedAt')">Updated At</span>
          </dt>
          <dd>
            <span>{{ productContext.updatedAt }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.productContext.createdBy')">Created By</span>
          </dt>
          <dd>
            <span>{{ productContext.createdBy }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.productContext.updatedBy')">Updated By</span>
          </dt>
          <dd>
            <span>{{ productContext.updatedBy }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.productContext.client')">Client</span>
          </dt>
          <dd>
            <div v-if="productContext.client">
              <router-link :to="{ name: 'ClientView', params: { clientId: productContext.client.id } }">{{
                productContext.client.id
              }}</router-link>
            </div>
          </dd>
        </dl>
        <button type="submit" v-on:click.prevent="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
        </button>
        <router-link
          v-if="productContext.id"
          :to="{ name: 'ProductContextEdit', params: { productContextId: productContext.id } }"
          custom
          v-slot="{ navigate }"
        >
          <button @click="navigate" class="btn btn-primary">
            <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
          </button>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./product-context-details.component.ts"></script>
