<template>
  <div>
    <h2 id="page-heading" data-cy="ProductContextHeading">
      <span v-text="$t('exchangeApp.productContext.home.title')" id="product-context-heading">Product Contexts</span>
      <div class="d-flex justify-content-end">
        <button class="btn btn-info mr-2" v-on:click="handleSyncList" :disabled="isFetching">
          <font-awesome-icon icon="sync" :spin="isFetching"></font-awesome-icon>
          <span v-text="$t('exchangeApp.productContext.home.refreshListLabel')">Refresh List</span>
        </button>
        <router-link :to="{ name: 'ProductContextCreate' }" custom v-slot="{ navigate }">
          <button
            @click="navigate"
            id="jh-create-entity"
            data-cy="entityCreateButton"
            class="btn btn-primary jh-create-entity create-product-context"
          >
            <font-awesome-icon icon="plus"></font-awesome-icon>
            <span v-text="$t('exchangeApp.productContext.home.createLabel')"> Create a new Product Context </span>
          </button>
        </router-link>
      </div>
    </h2>
    <br />
    <div class="alert alert-warning" v-if="!isFetching && productContexts && productContexts.length === 0">
      <span v-text="$t('exchangeApp.productContext.home.notFound')">No productContexts found</span>
    </div>
    <div class="table-responsive" v-if="productContexts && productContexts.length > 0">
      <table class="table table-striped" aria-describedby="productContexts">
        <thead>
          <tr>
            <th scope="row" v-on:click="changeOrder('id')">
              <span v-text="$t('global.field.id')">ID</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'id'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('categoryContextType')">
              <span v-text="$t('exchangeApp.productContext.categoryContextType')">Category Context Type</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'categoryContextType'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('clientProductId')">
              <span v-text="$t('exchangeApp.productContext.clientProductId')">Client Product Id</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'clientProductId'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('clientProductName')">
              <span v-text="$t('exchangeApp.productContext.clientProductName')">Client Product Name</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'clientProductName'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('clientProductUrl')">
              <span v-text="$t('exchangeApp.productContext.clientProductUrl')">Client Product Url</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'clientProductUrl'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('isActive')">
              <span v-text="$t('exchangeApp.productContext.isActive')">Is Active</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'isActive'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('createdAt')">
              <span v-text="$t('exchangeApp.productContext.createdAt')">Created At</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'createdAt'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('updatedAt')">
              <span v-text="$t('exchangeApp.productContext.updatedAt')">Updated At</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'updatedAt'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('createdBy')">
              <span v-text="$t('exchangeApp.productContext.createdBy')">Created By</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'createdBy'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('updatedBy')">
              <span v-text="$t('exchangeApp.productContext.updatedBy')">Updated By</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'updatedBy'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('client.id')">
              <span v-text="$t('exchangeApp.productContext.client')">Client</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'client.id'"></jhi-sort-indicator>
            </th>
            <th scope="row"></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="productContext in productContexts" :key="productContext.id" data-cy="entityTable">
            <td>
              <router-link :to="{ name: 'ProductContextView', params: { productContextId: productContext.id } }">{{
                productContext.id
              }}</router-link>
            </td>
            <td v-text="$t('exchangeApp.CategoryConetxtType.' + productContext.categoryContextType)">
              {{ productContext.categoryContextType }}
            </td>
            <td>{{ productContext.clientProductId }}</td>
            <td>{{ productContext.clientProductName }}</td>
            <td>{{ productContext.clientProductUrl }}</td>
            <td>{{ productContext.isActive }}</td>
            <td>{{ productContext.createdAt }}</td>
            <td>{{ productContext.updatedAt }}</td>
            <td>{{ productContext.createdBy }}</td>
            <td>{{ productContext.updatedBy }}</td>
            <td>
              <div v-if="productContext.client">
                <router-link :to="{ name: 'ClientView', params: { clientId: productContext.client.id } }">{{
                  productContext.client.id
                }}</router-link>
              </div>
            </td>
            <td class="text-right">
              <div class="btn-group">
                <router-link
                  :to="{ name: 'ProductContextView', params: { productContextId: productContext.id } }"
                  custom
                  v-slot="{ navigate }"
                >
                  <button @click="navigate" class="btn btn-info btn-sm details" data-cy="entityDetailsButton">
                    <font-awesome-icon icon="eye"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.view')">View</span>
                  </button>
                </router-link>
                <router-link
                  :to="{ name: 'ProductContextEdit', params: { productContextId: productContext.id } }"
                  custom
                  v-slot="{ navigate }"
                >
                  <button @click="navigate" class="btn btn-primary btn-sm edit" data-cy="entityEditButton">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.edit')">Edit</span>
                  </button>
                </router-link>
                <b-button
                  v-on:click="prepareRemove(productContext)"
                  variant="danger"
                  class="btn btn-sm"
                  data-cy="entityDeleteButton"
                  v-b-modal.removeEntity
                >
                  <font-awesome-icon icon="times"></font-awesome-icon>
                  <span class="d-none d-md-inline" v-text="$t('entity.action.delete')">Delete</span>
                </b-button>
              </div>
            </td>
          </tr>
        </tbody>
        <infinite-loading
          ref="infiniteLoading"
          v-if="totalItems > itemsPerPage"
          :identifier="infiniteId"
          slot="append"
          @infinite="loadMore"
          force-use-infinite-wrapper=".el-table__body-wrapper"
          :distance="20"
        >
        </infinite-loading>
      </table>
    </div>
    <b-modal ref="removeEntity" id="removeEntity">
      <span slot="modal-title"
        ><span
          id="exchangeApp.productContext.delete.question"
          data-cy="productContextDeleteDialogHeading"
          v-text="$t('entity.delete.title')"
          >Confirm delete operation</span
        ></span
      >
      <div class="modal-body">
        <p id="jhi-delete-productContext-heading" v-text="$t('exchangeApp.productContext.delete.question', { id: removeId })">
          Are you sure you want to delete this Product Context?
        </p>
      </div>
      <div slot="modal-footer">
        <button type="button" class="btn btn-secondary" v-text="$t('entity.action.cancel')" v-on:click="closeDialog()">Cancel</button>
        <button
          type="button"
          class="btn btn-primary"
          id="jhi-confirm-delete-productContext"
          data-cy="entityConfirmDeleteButton"
          v-text="$t('entity.action.delete')"
          v-on:click="removeProductContext()"
        >
          Delete
        </button>
      </div>
    </b-modal>
  </div>
</template>

<script lang="ts" src="./product-context.component.ts"></script>
