<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate v-on:submit.prevent="save()">
        <h2
          id="exchangeApp.productContext.home.createOrEditLabel"
          data-cy="ProductContextCreateUpdateHeading"
          v-text="$t('exchangeApp.productContext.home.createOrEditLabel')"
        >
          Create or edit a ProductContext
        </h2>
        <div>
          <div class="form-group" v-if="productContext.id">
            <label for="id" v-text="$t('global.field.id')">ID</label>
            <input type="text" class="form-control" id="id" name="id" v-model="productContext.id" readonly />
          </div>
          <div class="form-group">
            <label
              class="form-control-label"
              v-text="$t('exchangeApp.productContext.categoryContextType')"
              for="product-context-categoryContextType"
              >Category Context Type</label
            >
            <select
              class="form-control"
              name="categoryContextType"
              :class="{ valid: !$v.productContext.categoryContextType.$invalid, invalid: $v.productContext.categoryContextType.$invalid }"
              v-model="$v.productContext.categoryContextType.$model"
              id="product-context-categoryContextType"
              data-cy="categoryContextType"
            >
              <option
                v-for="categoryConetxtType in categoryConetxtTypeValues"
                :key="categoryConetxtType"
                v-bind:value="categoryConetxtType"
                v-bind:label="$t('exchangeApp.CategoryConetxtType.' + categoryConetxtType)"
              >
                {{ categoryConetxtType }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label
              class="form-control-label"
              v-text="$t('exchangeApp.productContext.clientProductId')"
              for="product-context-clientProductId"
              >Client Product Id</label
            >
            <input
              type="text"
              class="form-control"
              name="clientProductId"
              id="product-context-clientProductId"
              data-cy="clientProductId"
              :class="{ valid: !$v.productContext.clientProductId.$invalid, invalid: $v.productContext.clientProductId.$invalid }"
              v-model="$v.productContext.clientProductId.$model"
            />
          </div>
          <div class="form-group">
            <label
              class="form-control-label"
              v-text="$t('exchangeApp.productContext.clientProductName')"
              for="product-context-clientProductName"
              >Client Product Name</label
            >
            <input
              type="text"
              class="form-control"
              name="clientProductName"
              id="product-context-clientProductName"
              data-cy="clientProductName"
              :class="{ valid: !$v.productContext.clientProductName.$invalid, invalid: $v.productContext.clientProductName.$invalid }"
              v-model="$v.productContext.clientProductName.$model"
            />
          </div>
          <div class="form-group">
            <label
              class="form-control-label"
              v-text="$t('exchangeApp.productContext.clientProductUrl')"
              for="product-context-clientProductUrl"
              >Client Product Url</label
            >
            <input
              type="text"
              class="form-control"
              name="clientProductUrl"
              id="product-context-clientProductUrl"
              data-cy="clientProductUrl"
              :class="{ valid: !$v.productContext.clientProductUrl.$invalid, invalid: $v.productContext.clientProductUrl.$invalid }"
              v-model="$v.productContext.clientProductUrl.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.productContext.isActive')" for="product-context-isActive"
              >Is Active</label
            >
            <input
              type="checkbox"
              class="form-check"
              name="isActive"
              id="product-context-isActive"
              data-cy="isActive"
              :class="{ valid: !$v.productContext.isActive.$invalid, invalid: $v.productContext.isActive.$invalid }"
              v-model="$v.productContext.isActive.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.productContext.createdAt')" for="product-context-createdAt"
              >Created At</label
            >
            <b-input-group class="mb-3">
              <b-input-group-prepend>
                <b-form-datepicker
                  aria-controls="product-context-createdAt"
                  v-model="$v.productContext.createdAt.$model"
                  name="createdAt"
                  class="form-control"
                  :locale="currentLanguage"
                  button-only
                  today-button
                  reset-button
                  close-button
                >
                </b-form-datepicker>
              </b-input-group-prepend>
              <b-form-input
                id="product-context-createdAt"
                data-cy="createdAt"
                type="text"
                class="form-control"
                name="createdAt"
                :class="{ valid: !$v.productContext.createdAt.$invalid, invalid: $v.productContext.createdAt.$invalid }"
                v-model="$v.productContext.createdAt.$model"
              />
            </b-input-group>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.productContext.updatedAt')" for="product-context-updatedAt"
              >Updated At</label
            >
            <b-input-group class="mb-3">
              <b-input-group-prepend>
                <b-form-datepicker
                  aria-controls="product-context-updatedAt"
                  v-model="$v.productContext.updatedAt.$model"
                  name="updatedAt"
                  class="form-control"
                  :locale="currentLanguage"
                  button-only
                  today-button
                  reset-button
                  close-button
                >
                </b-form-datepicker>
              </b-input-group-prepend>
              <b-form-input
                id="product-context-updatedAt"
                data-cy="updatedAt"
                type="text"
                class="form-control"
                name="updatedAt"
                :class="{ valid: !$v.productContext.updatedAt.$invalid, invalid: $v.productContext.updatedAt.$invalid }"
                v-model="$v.productContext.updatedAt.$model"
              />
            </b-input-group>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.productContext.createdBy')" for="product-context-createdBy"
              >Created By</label
            >
            <input
              type="text"
              class="form-control"
              name="createdBy"
              id="product-context-createdBy"
              data-cy="createdBy"
              :class="{ valid: !$v.productContext.createdBy.$invalid, invalid: $v.productContext.createdBy.$invalid }"
              v-model="$v.productContext.createdBy.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.productContext.updatedBy')" for="product-context-updatedBy"
              >Updated By</label
            >
            <input
              type="text"
              class="form-control"
              name="updatedBy"
              id="product-context-updatedBy"
              data-cy="updatedBy"
              :class="{ valid: !$v.productContext.updatedBy.$invalid, invalid: $v.productContext.updatedBy.$invalid }"
              v-model="$v.productContext.updatedBy.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.productContext.client')" for="product-context-client">Client</label>
            <select class="form-control" id="product-context-client" data-cy="client" name="client" v-model="productContext.client">
              <option v-bind:value="null"></option>
              <option
                v-bind:value="productContext.client && clientOption.id === productContext.client.id ? productContext.client : clientOption"
                v-for="clientOption in clients"
                :key="clientOption.id"
              >
                {{ clientOption.id }}
              </option>
            </select>
          </div>
        </div>
        <div>
          <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" v-on:click="previousState()">
            <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            :disabled="$v.productContext.$invalid || isSaving"
            class="btn btn-primary"
          >
            <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script lang="ts" src="./product-context-update.component.ts"></script>
