<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <div v-if="client">
        <h2 class="jh-entity-heading" data-cy="clientDetailsHeading">
          <span v-text="$t('exchangeApp.client.detail.title')">Client</span> {{ client.id }}
        </h2>
        <dl class="row jh-entity-details">
          <dt>
            <span v-text="$t('exchangeApp.client.name')">Name</span>
          </dt>
          <dd>
            <span>{{ client.name }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.client.clientApiKey')">Client Api Key</span>
          </dt>
          <dd>
            <span>{{ client.clientApiKey }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.client.isActive')">Is Active</span>
          </dt>
          <dd>
            <span>{{ client.isActive }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.client.createdAt')">Created At</span>
          </dt>
          <dd>
            <span>{{ client.createdAt }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.client.updatedAt')">Updated At</span>
          </dt>
          <dd>
            <span>{{ client.updatedAt }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.client.createdBy')">Created By</span>
          </dt>
          <dd>
            <span>{{ client.createdBy }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.client.updatedBy')">Updated By</span>
          </dt>
          <dd>
            <span>{{ client.updatedBy }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.client.questions')">Questions</span>
          </dt>
          <dd>
            <span v-for="(questions, i) in client.questions" :key="questions.id"
              >{{ i > 0 ? ', ' : '' }}
              <router-link :to="{ name: 'QuestionView', params: { questionId: questions.id } }">{{ questions.id }}</router-link>
            </span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.client.options')">Options</span>
          </dt>
          <dd>
            <span v-for="(options, i) in client.options" :key="options.id"
              >{{ i > 0 ? ', ' : '' }}
              <router-link :to="{ name: 'OptionView', params: { optionId: options.id } }">{{ options.id }}</router-link>
            </span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.client.approvedBy')">Approved By</span>
          </dt>
          <dd>
            <div v-if="client.approvedBy">
              <router-link :to="{ name: 'ExchangeOpsUserView', params: { exchangeOpsUserId: client.approvedBy.id } }">{{
                client.approvedBy.id
              }}</router-link>
            </div>
          </dd>
        </dl>
        <button type="submit" v-on:click.prevent="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
        </button>
        <router-link v-if="client.id" :to="{ name: 'ClientEdit', params: { clientId: client.id } }" custom v-slot="{ navigate }">
          <button @click="navigate" class="btn btn-primary">
            <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
          </button>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./client-details.component.ts"></script>
