<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate v-on:submit.prevent="save()">
        <h2
          id="exchangeApp.client.home.createOrEditLabel"
          data-cy="ClientCreateUpdateHeading"
          v-text="$t('exchangeApp.client.home.createOrEditLabel')"
        >
          Create or edit a Client
        </h2>
        <div>
          <div class="form-group" v-if="client.id">
            <label for="id" v-text="$t('global.field.id')">ID</label>
            <input type="text" class="form-control" id="id" name="id" v-model="client.id" readonly />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.client.name')" for="client-name">Name</label>
            <input
              type="text"
              class="form-control"
              name="name"
              id="client-name"
              data-cy="name"
              :class="{ valid: !$v.client.name.$invalid, invalid: $v.client.name.$invalid }"
              v-model="$v.client.name.$model"
              required
            />
            <div v-if="$v.client.name.$anyDirty && $v.client.name.$invalid">
              <small class="form-text text-danger" v-if="!$v.client.name.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.client.clientApiKey')" for="client-clientApiKey"
              >Client Api Key</label
            >
            <input
              type="text"
              class="form-control"
              name="clientApiKey"
              id="client-clientApiKey"
              data-cy="clientApiKey"
              :class="{ valid: !$v.client.clientApiKey.$invalid, invalid: $v.client.clientApiKey.$invalid }"
              v-model="$v.client.clientApiKey.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.client.isActive')" for="client-isActive">Is Active</label>
            <input
              type="checkbox"
              class="form-check"
              name="isActive"
              id="client-isActive"
              data-cy="isActive"
              :class="{ valid: !$v.client.isActive.$invalid, invalid: $v.client.isActive.$invalid }"
              v-model="$v.client.isActive.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.client.createdAt')" for="client-createdAt">Created At</label>
            <b-input-group class="mb-3">
              <b-input-group-prepend>
                <b-form-datepicker
                  aria-controls="client-createdAt"
                  v-model="$v.client.createdAt.$model"
                  name="createdAt"
                  class="form-control"
                  :locale="currentLanguage"
                  button-only
                  today-button
                  reset-button
                  close-button
                >
                </b-form-datepicker>
              </b-input-group-prepend>
              <b-form-input
                id="client-createdAt"
                data-cy="createdAt"
                type="text"
                class="form-control"
                name="createdAt"
                :class="{ valid: !$v.client.createdAt.$invalid, invalid: $v.client.createdAt.$invalid }"
                v-model="$v.client.createdAt.$model"
              />
            </b-input-group>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.client.updatedAt')" for="client-updatedAt">Updated At</label>
            <b-input-group class="mb-3">
              <b-input-group-prepend>
                <b-form-datepicker
                  aria-controls="client-updatedAt"
                  v-model="$v.client.updatedAt.$model"
                  name="updatedAt"
                  class="form-control"
                  :locale="currentLanguage"
                  button-only
                  today-button
                  reset-button
                  close-button
                >
                </b-form-datepicker>
              </b-input-group-prepend>
              <b-form-input
                id="client-updatedAt"
                data-cy="updatedAt"
                type="text"
                class="form-control"
                name="updatedAt"
                :class="{ valid: !$v.client.updatedAt.$invalid, invalid: $v.client.updatedAt.$invalid }"
                v-model="$v.client.updatedAt.$model"
              />
            </b-input-group>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.client.createdBy')" for="client-createdBy">Created By</label>
            <input
              type="text"
              class="form-control"
              name="createdBy"
              id="client-createdBy"
              data-cy="createdBy"
              :class="{ valid: !$v.client.createdBy.$invalid, invalid: $v.client.createdBy.$invalid }"
              v-model="$v.client.createdBy.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.client.updatedBy')" for="client-updatedBy">Updated By</label>
            <input
              type="text"
              class="form-control"
              name="updatedBy"
              id="client-updatedBy"
              data-cy="updatedBy"
              :class="{ valid: !$v.client.updatedBy.$invalid, invalid: $v.client.updatedBy.$invalid }"
              v-model="$v.client.updatedBy.$model"
            />
          </div>
          <div class="form-group">
            <label v-text="$t('exchangeApp.client.questions')" for="client-questions">Questions</label>
            <select
              class="form-control"
              id="client-questions"
              data-cy="questions"
              multiple
              name="questions"
              v-if="client.questions !== undefined"
              v-model="client.questions"
            >
              <option
                v-bind:value="getSelected(client.questions, questionOption)"
                v-for="questionOption in questions"
                :key="questionOption.id"
              >
                {{ questionOption.id }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label v-text="$t('exchangeApp.client.options')" for="client-options">Options</label>
            <select
              class="form-control"
              id="client-options"
              data-cy="options"
              multiple
              name="options"
              v-if="client.options !== undefined"
              v-model="client.options"
            >
              <option v-bind:value="getSelected(client.options, optionOption)" v-for="optionOption in options" :key="optionOption.id">
                {{ optionOption.id }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.client.approvedBy')" for="client-approvedBy">Approved By</label>
            <select class="form-control" id="client-approvedBy" data-cy="approvedBy" name="approvedBy" v-model="client.approvedBy">
              <option v-bind:value="null"></option>
              <option
                v-bind:value="
                  client.approvedBy && exchangeOpsUserOption.id === client.approvedBy.id ? client.approvedBy : exchangeOpsUserOption
                "
                v-for="exchangeOpsUserOption in exchangeOpsUsers"
                :key="exchangeOpsUserOption.id"
              >
                {{ exchangeOpsUserOption.id }}
              </option>
            </select>
          </div>
        </div>
        <div>
          <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" v-on:click="previousState()">
            <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            :disabled="$v.client.$invalid || isSaving"
            class="btn btn-primary"
          >
            <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script lang="ts" src="./client-update.component.ts"></script>
