<template>
  <div>
    <h2 id="page-heading" data-cy="VendorHubHeading">
      <span v-text="$t('exchangeApp.vendorHub.home.title')" id="vendor-hub-heading">Vendor Hubs</span>
      <div class="d-flex justify-content-end">
        <button class="btn btn-info mr-2" v-on:click="handleSyncList" :disabled="isFetching">
          <font-awesome-icon icon="sync" :spin="isFetching"></font-awesome-icon>
          <span v-text="$t('exchangeApp.vendorHub.home.refreshListLabel')">Refresh List</span>
        </button>
        <router-link :to="{ name: 'VendorHubCreate' }" custom v-slot="{ navigate }">
          <button
            @click="navigate"
            id="jh-create-entity"
            data-cy="entityCreateButton"
            class="btn btn-primary jh-create-entity create-vendor-hub"
          >
            <font-awesome-icon icon="plus"></font-awesome-icon>
            <span v-text="$t('exchangeApp.vendorHub.home.createLabel')"> Create a new Vendor Hub </span>
          </button>
        </router-link>
      </div>
    </h2>
    <br />
    <div class="alert alert-warning" v-if="!isFetching && vendorHubs && vendorHubs.length === 0">
      <span v-text="$t('exchangeApp.vendorHub.home.notFound')">No vendorHubs found</span>
    </div>
    <div class="table-responsive" v-if="vendorHubs && vendorHubs.length > 0">
      <table class="table table-striped" aria-describedby="vendorHubs">
        <thead>
          <tr>
            <th scope="row" v-on:click="changeOrder('id')">
              <span v-text="$t('global.field.id')">ID</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'id'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('name')">
              <span v-text="$t('exchangeApp.vendorHub.name')">Name</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'name'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('isActive')">
              <span v-text="$t('exchangeApp.vendorHub.isActive')">Is Active</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'isActive'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('createdAt')">
              <span v-text="$t('exchangeApp.vendorHub.createdAt')">Created At</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'createdAt'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('updatedAt')">
              <span v-text="$t('exchangeApp.vendorHub.updatedAt')">Updated At</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'updatedAt'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('createdBy')">
              <span v-text="$t('exchangeApp.vendorHub.createdBy')">Created By</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'createdBy'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('updatedBy')">
              <span v-text="$t('exchangeApp.vendorHub.updatedBy')">Updated By</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'updatedBy'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('address.id')">
              <span v-text="$t('exchangeApp.vendorHub.address')">Address</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'address.id'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('approvedBy.id')">
              <span v-text="$t('exchangeApp.vendorHub.approvedBy')">Approved By</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'approvedBy.id'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('vendor.id')">
              <span v-text="$t('exchangeApp.vendorHub.vendor')">Vendor</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'vendor.id'"></jhi-sort-indicator>
            </th>
            <th scope="row"></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="vendorHub in vendorHubs" :key="vendorHub.id" data-cy="entityTable">
            <td>
              <router-link :to="{ name: 'VendorHubView', params: { vendorHubId: vendorHub.id } }">{{ vendorHub.id }}</router-link>
            </td>
            <td>{{ vendorHub.name }}</td>
            <td>{{ vendorHub.isActive }}</td>
            <td>{{ vendorHub.createdAt }}</td>
            <td>{{ vendorHub.updatedAt }}</td>
            <td>{{ vendorHub.createdBy }}</td>
            <td>{{ vendorHub.updatedBy }}</td>
            <td>
              <div v-if="vendorHub.address">
                <router-link :to="{ name: 'AddressView', params: { addressId: vendorHub.address.id } }">{{
                  vendorHub.address.id
                }}</router-link>
              </div>
            </td>
            <td>
              <div v-if="vendorHub.approvedBy">
                <router-link :to="{ name: 'ExchangeOpsUserView', params: { exchangeOpsUserId: vendorHub.approvedBy.id } }">{{
                  vendorHub.approvedBy.id
                }}</router-link>
              </div>
            </td>
            <td>
              <div v-if="vendorHub.vendor">
                <router-link :to="{ name: 'VendorView', params: { vendorId: vendorHub.vendor.id } }">{{ vendorHub.vendor.id }}</router-link>
              </div>
            </td>
            <td class="text-right">
              <div class="btn-group">
                <router-link :to="{ name: 'VendorHubView', params: { vendorHubId: vendorHub.id } }" custom v-slot="{ navigate }">
                  <button @click="navigate" class="btn btn-info btn-sm details" data-cy="entityDetailsButton">
                    <font-awesome-icon icon="eye"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.view')">View</span>
                  </button>
                </router-link>
                <router-link :to="{ name: 'VendorHubEdit', params: { vendorHubId: vendorHub.id } }" custom v-slot="{ navigate }">
                  <button @click="navigate" class="btn btn-primary btn-sm edit" data-cy="entityEditButton">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.edit')">Edit</span>
                  </button>
                </router-link>
                <b-button
                  v-on:click="prepareRemove(vendorHub)"
                  variant="danger"
                  class="btn btn-sm"
                  data-cy="entityDeleteButton"
                  v-b-modal.removeEntity
                >
                  <font-awesome-icon icon="times"></font-awesome-icon>
                  <span class="d-none d-md-inline" v-text="$t('entity.action.delete')">Delete</span>
                </b-button>
              </div>
            </td>
          </tr>
        </tbody>
        <infinite-loading
          ref="infiniteLoading"
          v-if="totalItems > itemsPerPage"
          :identifier="infiniteId"
          slot="append"
          @infinite="loadMore"
          force-use-infinite-wrapper=".el-table__body-wrapper"
          :distance="20"
        >
        </infinite-loading>
      </table>
    </div>
    <b-modal ref="removeEntity" id="removeEntity">
      <span slot="modal-title"
        ><span id="exchangeApp.vendorHub.delete.question" data-cy="vendorHubDeleteDialogHeading" v-text="$t('entity.delete.title')"
          >Confirm delete operation</span
        ></span
      >
      <div class="modal-body">
        <p id="jhi-delete-vendorHub-heading" v-text="$t('exchangeApp.vendorHub.delete.question', { id: removeId })">
          Are you sure you want to delete this Vendor Hub?
        </p>
      </div>
      <div slot="modal-footer">
        <button type="button" class="btn btn-secondary" v-text="$t('entity.action.cancel')" v-on:click="closeDialog()">Cancel</button>
        <button
          type="button"
          class="btn btn-primary"
          id="jhi-confirm-delete-vendorHub"
          data-cy="entityConfirmDeleteButton"
          v-text="$t('entity.action.delete')"
          v-on:click="removeVendorHub()"
        >
          Delete
        </button>
      </div>
    </b-modal>
  </div>
</template>

<script lang="ts" src="./vendor-hub.component.ts"></script>
