<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate v-on:submit.prevent="save()">
        <h2
          id="exchangeApp.vendorHub.home.createOrEditLabel"
          data-cy="VendorHubCreateUpdateHeading"
          v-text="$t('exchangeApp.vendorHub.home.createOrEditLabel')"
        >
          Create or edit a VendorHub
        </h2>
        <div>
          <div class="form-group" v-if="vendorHub.id">
            <label for="id" v-text="$t('global.field.id')">ID</label>
            <input type="text" class="form-control" id="id" name="id" v-model="vendorHub.id" readonly />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.vendorHub.name')" for="vendor-hub-name">Name</label>
            <input
              type="text"
              class="form-control"
              name="name"
              id="vendor-hub-name"
              data-cy="name"
              :class="{ valid: !$v.vendorHub.name.$invalid, invalid: $v.vendorHub.name.$invalid }"
              v-model="$v.vendorHub.name.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.vendorHub.isActive')" for="vendor-hub-isActive">Is Active</label>
            <input
              type="checkbox"
              class="form-check"
              name="isActive"
              id="vendor-hub-isActive"
              data-cy="isActive"
              :class="{ valid: !$v.vendorHub.isActive.$invalid, invalid: $v.vendorHub.isActive.$invalid }"
              v-model="$v.vendorHub.isActive.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.vendorHub.createdAt')" for="vendor-hub-createdAt">Created At</label>
            <b-input-group class="mb-3">
              <b-input-group-prepend>
                <b-form-datepicker
                  aria-controls="vendor-hub-createdAt"
                  v-model="$v.vendorHub.createdAt.$model"
                  name="createdAt"
                  class="form-control"
                  :locale="currentLanguage"
                  button-only
                  today-button
                  reset-button
                  close-button
                >
                </b-form-datepicker>
              </b-input-group-prepend>
              <b-form-input
                id="vendor-hub-createdAt"
                data-cy="createdAt"
                type="text"
                class="form-control"
                name="createdAt"
                :class="{ valid: !$v.vendorHub.createdAt.$invalid, invalid: $v.vendorHub.createdAt.$invalid }"
                v-model="$v.vendorHub.createdAt.$model"
              />
            </b-input-group>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.vendorHub.updatedAt')" for="vendor-hub-updatedAt">Updated At</label>
            <b-input-group class="mb-3">
              <b-input-group-prepend>
                <b-form-datepicker
                  aria-controls="vendor-hub-updatedAt"
                  v-model="$v.vendorHub.updatedAt.$model"
                  name="updatedAt"
                  class="form-control"
                  :locale="currentLanguage"
                  button-only
                  today-button
                  reset-button
                  close-button
                >
                </b-form-datepicker>
              </b-input-group-prepend>
              <b-form-input
                id="vendor-hub-updatedAt"
                data-cy="updatedAt"
                type="text"
                class="form-control"
                name="updatedAt"
                :class="{ valid: !$v.vendorHub.updatedAt.$invalid, invalid: $v.vendorHub.updatedAt.$invalid }"
                v-model="$v.vendorHub.updatedAt.$model"
              />
            </b-input-group>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.vendorHub.createdBy')" for="vendor-hub-createdBy">Created By</label>
            <input
              type="text"
              class="form-control"
              name="createdBy"
              id="vendor-hub-createdBy"
              data-cy="createdBy"
              :class="{ valid: !$v.vendorHub.createdBy.$invalid, invalid: $v.vendorHub.createdBy.$invalid }"
              v-model="$v.vendorHub.createdBy.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.vendorHub.updatedBy')" for="vendor-hub-updatedBy">Updated By</label>
            <input
              type="text"
              class="form-control"
              name="updatedBy"
              id="vendor-hub-updatedBy"
              data-cy="updatedBy"
              :class="{ valid: !$v.vendorHub.updatedBy.$invalid, invalid: $v.vendorHub.updatedBy.$invalid }"
              v-model="$v.vendorHub.updatedBy.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.vendorHub.address')" for="vendor-hub-address">Address</label>
            <select class="form-control" id="vendor-hub-address" data-cy="address" name="address" v-model="vendorHub.address">
              <option v-bind:value="null"></option>
              <option
                v-bind:value="vendorHub.address && addressOption.id === vendorHub.address.id ? vendorHub.address : addressOption"
                v-for="addressOption in addresses"
                :key="addressOption.id"
              >
                {{ addressOption.id }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.vendorHub.approvedBy')" for="vendor-hub-approvedBy"
              >Approved By</label
            >
            <select class="form-control" id="vendor-hub-approvedBy" data-cy="approvedBy" name="approvedBy" v-model="vendorHub.approvedBy">
              <option v-bind:value="null"></option>
              <option
                v-bind:value="
                  vendorHub.approvedBy && exchangeOpsUserOption.id === vendorHub.approvedBy.id
                    ? vendorHub.approvedBy
                    : exchangeOpsUserOption
                "
                v-for="exchangeOpsUserOption in exchangeOpsUsers"
                :key="exchangeOpsUserOption.id"
              >
                {{ exchangeOpsUserOption.id }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.vendorHub.vendor')" for="vendor-hub-vendor">Vendor</label>
            <select class="form-control" id="vendor-hub-vendor" data-cy="vendor" name="vendor" v-model="vendorHub.vendor">
              <option v-bind:value="null"></option>
              <option
                v-bind:value="vendorHub.vendor && vendorOption.id === vendorHub.vendor.id ? vendorHub.vendor : vendorOption"
                v-for="vendorOption in vendors"
                :key="vendorOption.id"
              >
                {{ vendorOption.id }}
              </option>
            </select>
          </div>
        </div>
        <div>
          <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" v-on:click="previousState()">
            <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            :disabled="$v.vendorHub.$invalid || isSaving"
            class="btn btn-primary"
          >
            <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script lang="ts" src="./vendor-hub-update.component.ts"></script>
