<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <div v-if="vendorHub">
        <h2 class="jh-entity-heading" data-cy="vendorHubDetailsHeading">
          <span v-text="$t('exchangeApp.vendorHub.detail.title')">VendorHub</span> {{ vendorHub.id }}
        </h2>
        <dl class="row jh-entity-details">
          <dt>
            <span v-text="$t('exchangeApp.vendorHub.name')">Name</span>
          </dt>
          <dd>
            <span>{{ vendorHub.name }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.vendorHub.isActive')">Is Active</span>
          </dt>
          <dd>
            <span>{{ vendorHub.isActive }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.vendorHub.createdAt')">Created At</span>
          </dt>
          <dd>
            <span>{{ vendorHub.createdAt }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.vendorHub.updatedAt')">Updated At</span>
          </dt>
          <dd>
            <span>{{ vendorHub.updatedAt }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.vendorHub.createdBy')">Created By</span>
          </dt>
          <dd>
            <span>{{ vendorHub.createdBy }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.vendorHub.updatedBy')">Updated By</span>
          </dt>
          <dd>
            <span>{{ vendorHub.updatedBy }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.vendorHub.address')">Address</span>
          </dt>
          <dd>
            <div v-if="vendorHub.address">
              <router-link :to="{ name: 'AddressView', params: { addressId: vendorHub.address.id } }">{{
                vendorHub.address.id
              }}</router-link>
            </div>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.vendorHub.approvedBy')">Approved By</span>
          </dt>
          <dd>
            <div v-if="vendorHub.approvedBy">
              <router-link :to="{ name: 'ExchangeOpsUserView', params: { exchangeOpsUserId: vendorHub.approvedBy.id } }">{{
                vendorHub.approvedBy.id
              }}</router-link>
            </div>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.vendorHub.vendor')">Vendor</span>
          </dt>
          <dd>
            <div v-if="vendorHub.vendor">
              <router-link :to="{ name: 'VendorView', params: { vendorId: vendorHub.vendor.id } }">{{ vendorHub.vendor.id }}</router-link>
            </div>
          </dd>
        </dl>
        <button type="submit" v-on:click.prevent="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
        </button>
        <router-link
          v-if="vendorHub.id"
          :to="{ name: 'VendorHubEdit', params: { vendorHubId: vendorHub.id } }"
          custom
          v-slot="{ navigate }"
        >
          <button @click="navigate" class="btn btn-primary">
            <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
          </button>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./vendor-hub-details.component.ts"></script>
