<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <div v-if="ledger">
        <h2 class="jh-entity-heading" data-cy="ledgerDetailsHeading">
          <span v-text="$t('exchangeApp.ledger.detail.title')">Ledger</span> {{ ledger.id }}
        </h2>
        <dl class="row jh-entity-details">
          <dt>
            <span v-text="$t('exchangeApp.ledger.balance')">Balance</span>
          </dt>
          <dd>
            <span>{{ ledger.balance }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.ledger.isActive')">Is Active</span>
          </dt>
          <dd>
            <span>{{ ledger.isActive }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.ledger.createdAt')">Created At</span>
          </dt>
          <dd>
            <span>{{ ledger.createdAt }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.ledger.updatedAt')">Updated At</span>
          </dt>
          <dd>
            <span>{{ ledger.updatedAt }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.ledger.createdBy')">Created By</span>
          </dt>
          <dd>
            <span>{{ ledger.createdBy }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.ledger.updatedBy')">Updated By</span>
          </dt>
          <dd>
            <span>{{ ledger.updatedBy }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.ledger.vendor')">Vendor</span>
          </dt>
          <dd>
            <div v-if="ledger.vendor">
              <router-link :to="{ name: 'VendorView', params: { vendorId: ledger.vendor.id } }">{{ ledger.vendor.id }}</router-link>
            </div>
          </dd>
        </dl>
        <button type="submit" v-on:click.prevent="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
        </button>
        <router-link v-if="ledger.id" :to="{ name: 'LedgerEdit', params: { ledgerId: ledger.id } }" custom v-slot="{ navigate }">
          <button @click="navigate" class="btn btn-primary">
            <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
          </button>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./ledger-details.component.ts"></script>
