<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate v-on:submit.prevent="save()">
        <h2
          id="exchangeApp.ledger.home.createOrEditLabel"
          data-cy="LedgerCreateUpdateHeading"
          v-text="$t('exchangeApp.ledger.home.createOrEditLabel')"
        >
          Create or edit a Ledger
        </h2>
        <div>
          <div class="form-group" v-if="ledger.id">
            <label for="id" v-text="$t('global.field.id')">ID</label>
            <input type="text" class="form-control" id="id" name="id" v-model="ledger.id" readonly />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.ledger.balance')" for="ledger-balance">Balance</label>
            <input
              type="number"
              class="form-control"
              name="balance"
              id="ledger-balance"
              data-cy="balance"
              :class="{ valid: !$v.ledger.balance.$invalid, invalid: $v.ledger.balance.$invalid }"
              v-model.number="$v.ledger.balance.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.ledger.isActive')" for="ledger-isActive">Is Active</label>
            <input
              type="checkbox"
              class="form-check"
              name="isActive"
              id="ledger-isActive"
              data-cy="isActive"
              :class="{ valid: !$v.ledger.isActive.$invalid, invalid: $v.ledger.isActive.$invalid }"
              v-model="$v.ledger.isActive.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.ledger.createdAt')" for="ledger-createdAt">Created At</label>
            <b-input-group class="mb-3">
              <b-input-group-prepend>
                <b-form-datepicker
                  aria-controls="ledger-createdAt"
                  v-model="$v.ledger.createdAt.$model"
                  name="createdAt"
                  class="form-control"
                  :locale="currentLanguage"
                  button-only
                  today-button
                  reset-button
                  close-button
                >
                </b-form-datepicker>
              </b-input-group-prepend>
              <b-form-input
                id="ledger-createdAt"
                data-cy="createdAt"
                type="text"
                class="form-control"
                name="createdAt"
                :class="{ valid: !$v.ledger.createdAt.$invalid, invalid: $v.ledger.createdAt.$invalid }"
                v-model="$v.ledger.createdAt.$model"
              />
            </b-input-group>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.ledger.updatedAt')" for="ledger-updatedAt">Updated At</label>
            <b-input-group class="mb-3">
              <b-input-group-prepend>
                <b-form-datepicker
                  aria-controls="ledger-updatedAt"
                  v-model="$v.ledger.updatedAt.$model"
                  name="updatedAt"
                  class="form-control"
                  :locale="currentLanguage"
                  button-only
                  today-button
                  reset-button
                  close-button
                >
                </b-form-datepicker>
              </b-input-group-prepend>
              <b-form-input
                id="ledger-updatedAt"
                data-cy="updatedAt"
                type="text"
                class="form-control"
                name="updatedAt"
                :class="{ valid: !$v.ledger.updatedAt.$invalid, invalid: $v.ledger.updatedAt.$invalid }"
                v-model="$v.ledger.updatedAt.$model"
              />
            </b-input-group>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.ledger.createdBy')" for="ledger-createdBy">Created By</label>
            <input
              type="text"
              class="form-control"
              name="createdBy"
              id="ledger-createdBy"
              data-cy="createdBy"
              :class="{ valid: !$v.ledger.createdBy.$invalid, invalid: $v.ledger.createdBy.$invalid }"
              v-model="$v.ledger.createdBy.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.ledger.updatedBy')" for="ledger-updatedBy">Updated By</label>
            <input
              type="text"
              class="form-control"
              name="updatedBy"
              id="ledger-updatedBy"
              data-cy="updatedBy"
              :class="{ valid: !$v.ledger.updatedBy.$invalid, invalid: $v.ledger.updatedBy.$invalid }"
              v-model="$v.ledger.updatedBy.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.ledger.vendor')" for="ledger-vendor">Vendor</label>
            <select class="form-control" id="ledger-vendor" data-cy="vendor" name="vendor" v-model="ledger.vendor">
              <option v-bind:value="null"></option>
              <option
                v-bind:value="ledger.vendor && vendorOption.id === ledger.vendor.id ? ledger.vendor : vendorOption"
                v-for="vendorOption in vendors"
                :key="vendorOption.id"
              >
                {{ vendorOption.id }}
              </option>
            </select>
          </div>
        </div>
        <div>
          <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" v-on:click="previousState()">
            <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            :disabled="$v.ledger.$invalid || isSaving"
            class="btn btn-primary"
          >
            <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script lang="ts" src="./ledger-update.component.ts"></script>
