<template>
  <div>
    <h2 id="page-heading" data-cy="LedgerHeading">
      <span v-text="$t('exchangeApp.ledger.home.title')" id="ledger-heading">Ledgers</span>
      <div class="d-flex justify-content-end">
        <button class="btn btn-info mr-2" v-on:click="handleSyncList" :disabled="isFetching">
          <font-awesome-icon icon="sync" :spin="isFetching"></font-awesome-icon>
          <span v-text="$t('exchangeApp.ledger.home.refreshListLabel')">Refresh List</span>
        </button>
        <router-link :to="{ name: 'LedgerCreate' }" custom v-slot="{ navigate }">
          <button
            @click="navigate"
            id="jh-create-entity"
            data-cy="entityCreateButton"
            class="btn btn-primary jh-create-entity create-ledger"
          >
            <font-awesome-icon icon="plus"></font-awesome-icon>
            <span v-text="$t('exchangeApp.ledger.home.createLabel')"> Create a new Ledger </span>
          </button>
        </router-link>
      </div>
    </h2>
    <br />
    <div class="alert alert-warning" v-if="!isFetching && ledgers && ledgers.length === 0">
      <span v-text="$t('exchangeApp.ledger.home.notFound')">No ledgers found</span>
    </div>
    <div class="table-responsive" v-if="ledgers && ledgers.length > 0">
      <table class="table table-striped" aria-describedby="ledgers">
        <thead>
          <tr>
            <th scope="row" v-on:click="changeOrder('id')">
              <span v-text="$t('global.field.id')">ID</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'id'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('balance')">
              <span v-text="$t('exchangeApp.ledger.balance')">Balance</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'balance'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('isActive')">
              <span v-text="$t('exchangeApp.ledger.isActive')">Is Active</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'isActive'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('createdAt')">
              <span v-text="$t('exchangeApp.ledger.createdAt')">Created At</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'createdAt'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('updatedAt')">
              <span v-text="$t('exchangeApp.ledger.updatedAt')">Updated At</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'updatedAt'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('createdBy')">
              <span v-text="$t('exchangeApp.ledger.createdBy')">Created By</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'createdBy'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('updatedBy')">
              <span v-text="$t('exchangeApp.ledger.updatedBy')">Updated By</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'updatedBy'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('vendor.id')">
              <span v-text="$t('exchangeApp.ledger.vendor')">Vendor</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'vendor.id'"></jhi-sort-indicator>
            </th>
            <th scope="row"></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="ledger in ledgers" :key="ledger.id" data-cy="entityTable">
            <td>
              <router-link :to="{ name: 'LedgerView', params: { ledgerId: ledger.id } }">{{ ledger.id }}</router-link>
            </td>
            <td>{{ ledger.balance }}</td>
            <td>{{ ledger.isActive }}</td>
            <td>{{ ledger.createdAt }}</td>
            <td>{{ ledger.updatedAt }}</td>
            <td>{{ ledger.createdBy }}</td>
            <td>{{ ledger.updatedBy }}</td>
            <td>
              <div v-if="ledger.vendor">
                <router-link :to="{ name: 'VendorView', params: { vendorId: ledger.vendor.id } }">{{ ledger.vendor.id }}</router-link>
              </div>
            </td>
            <td class="text-right">
              <div class="btn-group">
                <router-link :to="{ name: 'LedgerView', params: { ledgerId: ledger.id } }" custom v-slot="{ navigate }">
                  <button @click="navigate" class="btn btn-info btn-sm details" data-cy="entityDetailsButton">
                    <font-awesome-icon icon="eye"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.view')">View</span>
                  </button>
                </router-link>
                <router-link :to="{ name: 'LedgerEdit', params: { ledgerId: ledger.id } }" custom v-slot="{ navigate }">
                  <button @click="navigate" class="btn btn-primary btn-sm edit" data-cy="entityEditButton">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.edit')">Edit</span>
                  </button>
                </router-link>
                <b-button
                  v-on:click="prepareRemove(ledger)"
                  variant="danger"
                  class="btn btn-sm"
                  data-cy="entityDeleteButton"
                  v-b-modal.removeEntity
                >
                  <font-awesome-icon icon="times"></font-awesome-icon>
                  <span class="d-none d-md-inline" v-text="$t('entity.action.delete')">Delete</span>
                </b-button>
              </div>
            </td>
          </tr>
        </tbody>
        <infinite-loading
          ref="infiniteLoading"
          v-if="totalItems > itemsPerPage"
          :identifier="infiniteId"
          slot="append"
          @infinite="loadMore"
          force-use-infinite-wrapper=".el-table__body-wrapper"
          :distance="20"
        >
        </infinite-loading>
      </table>
    </div>
    <b-modal ref="removeEntity" id="removeEntity">
      <span slot="modal-title"
        ><span id="exchangeApp.ledger.delete.question" data-cy="ledgerDeleteDialogHeading" v-text="$t('entity.delete.title')"
          >Confirm delete operation</span
        ></span
      >
      <div class="modal-body">
        <p id="jhi-delete-ledger-heading" v-text="$t('exchangeApp.ledger.delete.question', { id: removeId })">
          Are you sure you want to delete this Ledger?
        </p>
      </div>
      <div slot="modal-footer">
        <button type="button" class="btn btn-secondary" v-text="$t('entity.action.cancel')" v-on:click="closeDialog()">Cancel</button>
        <button
          type="button"
          class="btn btn-primary"
          id="jhi-confirm-delete-ledger"
          data-cy="entityConfirmDeleteButton"
          v-text="$t('entity.action.delete')"
          v-on:click="removeLedger()"
        >
          Delete
        </button>
      </div>
    </b-modal>
  </div>
</template>

<script lang="ts" src="./ledger.component.ts"></script>
