<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate v-on:submit.prevent="save()">
        <h2
          id="exchangeApp.exchangeOpsUser.home.createOrEditLabel"
          data-cy="ExchangeOpsUserCreateUpdateHeading"
          v-text="$t('exchangeApp.exchangeOpsUser.home.createOrEditLabel')"
        >
          Create or edit a ExchangeOpsUser
        </h2>
        <div>
          <div class="form-group" v-if="exchangeOpsUser.id">
            <label for="id" v-text="$t('global.field.id')">ID</label>
            <input type="text" class="form-control" id="id" name="id" v-model="exchangeOpsUser.id" readonly />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.exchangeOpsUser.name')" for="exchange-ops-user-name">Name</label>
            <input
              type="text"
              class="form-control"
              name="name"
              id="exchange-ops-user-name"
              data-cy="name"
              :class="{ valid: !$v.exchangeOpsUser.name.$invalid, invalid: $v.exchangeOpsUser.name.$invalid }"
              v-model="$v.exchangeOpsUser.name.$model"
              required
            />
            <div v-if="$v.exchangeOpsUser.name.$anyDirty && $v.exchangeOpsUser.name.$invalid">
              <small class="form-text text-danger" v-if="!$v.exchangeOpsUser.name.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.exchangeOpsUser.email')" for="exchange-ops-user-email">Email</label>
            <input
              type="text"
              class="form-control"
              name="email"
              id="exchange-ops-user-email"
              data-cy="email"
              :class="{ valid: !$v.exchangeOpsUser.email.$invalid, invalid: $v.exchangeOpsUser.email.$invalid }"
              v-model="$v.exchangeOpsUser.email.$model"
            />
            <div v-if="$v.exchangeOpsUser.email.$anyDirty && $v.exchangeOpsUser.email.$invalid">
              <small
                class="form-text text-danger"
                v-if="!$v.exchangeOpsUser.email.pattern"
                v-text="$t('entity.validation.pattern', { pattern: 'Email' })"
              >
                This field should follow pattern for "Email".
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.exchangeOpsUser.phone')" for="exchange-ops-user-phone">Phone</label>
            <input
              type="number"
              class="form-control"
              name="phone"
              id="exchange-ops-user-phone"
              data-cy="phone"
              :class="{ valid: !$v.exchangeOpsUser.phone.$invalid, invalid: $v.exchangeOpsUser.phone.$invalid }"
              v-model.number="$v.exchangeOpsUser.phone.$model"
              required
            />
            <div v-if="$v.exchangeOpsUser.phone.$anyDirty && $v.exchangeOpsUser.phone.$invalid">
              <small class="form-text text-danger" v-if="!$v.exchangeOpsUser.phone.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
              <small
                class="form-text text-danger"
                v-if="!$v.exchangeOpsUser.phone.min"
                v-text="$t('entity.validation.min', { min: 1000000000 })"
              >
                This field should be at least 1000000000.
              </small>
              <small
                class="form-text text-danger"
                v-if="!$v.exchangeOpsUser.phone.max"
                v-text="$t('entity.validation.max', { max: 9999999999 })"
              >
                This field cannot be longer than 9999999999 characters.
              </small>
              <small class="form-text text-danger" v-if="!$v.exchangeOpsUser.phone.numeric" v-text="$t('entity.validation.number')">
                This field should be a number.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.exchangeOpsUser.role')" for="exchange-ops-user-role">Role</label>
            <select
              class="form-control"
              name="role"
              :class="{ valid: !$v.exchangeOpsUser.role.$invalid, invalid: $v.exchangeOpsUser.role.$invalid }"
              v-model="$v.exchangeOpsUser.role.$model"
              id="exchange-ops-user-role"
              data-cy="role"
            >
              <option v-for="role in roleValues" :key="role" v-bind:value="role" v-bind:label="$t('exchangeApp.Role.' + role)">
                {{ role }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.exchangeOpsUser.isActive')" for="exchange-ops-user-isActive"
              >Is Active</label
            >
            <input
              type="checkbox"
              class="form-check"
              name="isActive"
              id="exchange-ops-user-isActive"
              data-cy="isActive"
              :class="{ valid: !$v.exchangeOpsUser.isActive.$invalid, invalid: $v.exchangeOpsUser.isActive.$invalid }"
              v-model="$v.exchangeOpsUser.isActive.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.exchangeOpsUser.createdAt')" for="exchange-ops-user-createdAt"
              >Created At</label
            >
            <b-input-group class="mb-3">
              <b-input-group-prepend>
                <b-form-datepicker
                  aria-controls="exchange-ops-user-createdAt"
                  v-model="$v.exchangeOpsUser.createdAt.$model"
                  name="createdAt"
                  class="form-control"
                  :locale="currentLanguage"
                  button-only
                  today-button
                  reset-button
                  close-button
                >
                </b-form-datepicker>
              </b-input-group-prepend>
              <b-form-input
                id="exchange-ops-user-createdAt"
                data-cy="createdAt"
                type="text"
                class="form-control"
                name="createdAt"
                :class="{ valid: !$v.exchangeOpsUser.createdAt.$invalid, invalid: $v.exchangeOpsUser.createdAt.$invalid }"
                v-model="$v.exchangeOpsUser.createdAt.$model"
              />
            </b-input-group>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.exchangeOpsUser.updatedAt')" for="exchange-ops-user-updatedAt"
              >Updated At</label
            >
            <b-input-group class="mb-3">
              <b-input-group-prepend>
                <b-form-datepicker
                  aria-controls="exchange-ops-user-updatedAt"
                  v-model="$v.exchangeOpsUser.updatedAt.$model"
                  name="updatedAt"
                  class="form-control"
                  :locale="currentLanguage"
                  button-only
                  today-button
                  reset-button
                  close-button
                >
                </b-form-datepicker>
              </b-input-group-prepend>
              <b-form-input
                id="exchange-ops-user-updatedAt"
                data-cy="updatedAt"
                type="text"
                class="form-control"
                name="updatedAt"
                :class="{ valid: !$v.exchangeOpsUser.updatedAt.$invalid, invalid: $v.exchangeOpsUser.updatedAt.$invalid }"
                v-model="$v.exchangeOpsUser.updatedAt.$model"
              />
            </b-input-group>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.exchangeOpsUser.createdBy')" for="exchange-ops-user-createdBy"
              >Created By</label
            >
            <input
              type="text"
              class="form-control"
              name="createdBy"
              id="exchange-ops-user-createdBy"
              data-cy="createdBy"
              :class="{ valid: !$v.exchangeOpsUser.createdBy.$invalid, invalid: $v.exchangeOpsUser.createdBy.$invalid }"
              v-model="$v.exchangeOpsUser.createdBy.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.exchangeOpsUser.updatedBy')" for="exchange-ops-user-updatedBy"
              >Updated By</label
            >
            <input
              type="text"
              class="form-control"
              name="updatedBy"
              id="exchange-ops-user-updatedBy"
              data-cy="updatedBy"
              :class="{ valid: !$v.exchangeOpsUser.updatedBy.$invalid, invalid: $v.exchangeOpsUser.updatedBy.$invalid }"
              v-model="$v.exchangeOpsUser.updatedBy.$model"
            />
          </div>
        </div>
        <div>
          <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" v-on:click="previousState()">
            <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            :disabled="$v.exchangeOpsUser.$invalid || isSaving"
            class="btn btn-primary"
          >
            <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script lang="ts" src="./exchange-ops-user-update.component.ts"></script>
