<template>
  <div>
    <h2 id="page-heading" data-cy="ExchangeOpsUserHeading">
      <span v-text="$t('exchangeApp.exchangeOpsUser.home.title')" id="exchange-ops-user-heading">Exchange Ops Users</span>
      <div class="d-flex justify-content-end">
        <button class="btn btn-info mr-2" v-on:click="handleSyncList" :disabled="isFetching">
          <font-awesome-icon icon="sync" :spin="isFetching"></font-awesome-icon>
          <span v-text="$t('exchangeApp.exchangeOpsUser.home.refreshListLabel')">Refresh List</span>
        </button>
        <router-link :to="{ name: 'ExchangeOpsUserCreate' }" custom v-slot="{ navigate }">
          <button
            @click="navigate"
            id="jh-create-entity"
            data-cy="entityCreateButton"
            class="btn btn-primary jh-create-entity create-exchange-ops-user"
          >
            <font-awesome-icon icon="plus"></font-awesome-icon>
            <span v-text="$t('exchangeApp.exchangeOpsUser.home.createLabel')"> Create a new Exchange Ops User </span>
          </button>
        </router-link>
      </div>
    </h2>
    <br />
    <div class="alert alert-warning" v-if="!isFetching && exchangeOpsUsers && exchangeOpsUsers.length === 0">
      <span v-text="$t('exchangeApp.exchangeOpsUser.home.notFound')">No exchangeOpsUsers found</span>
    </div>
    <div class="table-responsive" v-if="exchangeOpsUsers && exchangeOpsUsers.length > 0">
      <table class="table table-striped" aria-describedby="exchangeOpsUsers">
        <thead>
          <tr>
            <th scope="row" v-on:click="changeOrder('id')">
              <span v-text="$t('global.field.id')">ID</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'id'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('name')">
              <span v-text="$t('exchangeApp.exchangeOpsUser.name')">Name</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'name'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('email')">
              <span v-text="$t('exchangeApp.exchangeOpsUser.email')">Email</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'email'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('phone')">
              <span v-text="$t('exchangeApp.exchangeOpsUser.phone')">Phone</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'phone'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('role')">
              <span v-text="$t('exchangeApp.exchangeOpsUser.role')">Role</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'role'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('isActive')">
              <span v-text="$t('exchangeApp.exchangeOpsUser.isActive')">Is Active</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'isActive'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('createdAt')">
              <span v-text="$t('exchangeApp.exchangeOpsUser.createdAt')">Created At</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'createdAt'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('updatedAt')">
              <span v-text="$t('exchangeApp.exchangeOpsUser.updatedAt')">Updated At</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'updatedAt'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('createdBy')">
              <span v-text="$t('exchangeApp.exchangeOpsUser.createdBy')">Created By</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'createdBy'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('updatedBy')">
              <span v-text="$t('exchangeApp.exchangeOpsUser.updatedBy')">Updated By</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'updatedBy'"></jhi-sort-indicator>
            </th>
            <th scope="row"></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="exchangeOpsUser in exchangeOpsUsers" :key="exchangeOpsUser.id" data-cy="entityTable">
            <td>
              <router-link :to="{ name: 'ExchangeOpsUserView', params: { exchangeOpsUserId: exchangeOpsUser.id } }">{{
                exchangeOpsUser.id
              }}</router-link>
            </td>
            <td>{{ exchangeOpsUser.name }}</td>
            <td>{{ exchangeOpsUser.email }}</td>
            <td>{{ exchangeOpsUser.phone }}</td>
            <td v-text="$t('exchangeApp.Role.' + exchangeOpsUser.role)">{{ exchangeOpsUser.role }}</td>
            <td>{{ exchangeOpsUser.isActive }}</td>
            <td>{{ exchangeOpsUser.createdAt }}</td>
            <td>{{ exchangeOpsUser.updatedAt }}</td>
            <td>{{ exchangeOpsUser.createdBy }}</td>
            <td>{{ exchangeOpsUser.updatedBy }}</td>
            <td class="text-right">
              <div class="btn-group">
                <router-link
                  :to="{ name: 'ExchangeOpsUserView', params: { exchangeOpsUserId: exchangeOpsUser.id } }"
                  custom
                  v-slot="{ navigate }"
                >
                  <button @click="navigate" class="btn btn-info btn-sm details" data-cy="entityDetailsButton">
                    <font-awesome-icon icon="eye"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.view')">View</span>
                  </button>
                </router-link>
                <router-link
                  :to="{ name: 'ExchangeOpsUserEdit', params: { exchangeOpsUserId: exchangeOpsUser.id } }"
                  custom
                  v-slot="{ navigate }"
                >
                  <button @click="navigate" class="btn btn-primary btn-sm edit" data-cy="entityEditButton">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.edit')">Edit</span>
                  </button>
                </router-link>
                <b-button
                  v-on:click="prepareRemove(exchangeOpsUser)"
                  variant="danger"
                  class="btn btn-sm"
                  data-cy="entityDeleteButton"
                  v-b-modal.removeEntity
                >
                  <font-awesome-icon icon="times"></font-awesome-icon>
                  <span class="d-none d-md-inline" v-text="$t('entity.action.delete')">Delete</span>
                </b-button>
              </div>
            </td>
          </tr>
        </tbody>
        <infinite-loading
          ref="infiniteLoading"
          v-if="totalItems > itemsPerPage"
          :identifier="infiniteId"
          slot="append"
          @infinite="loadMore"
          force-use-infinite-wrapper=".el-table__body-wrapper"
          :distance="20"
        >
        </infinite-loading>
      </table>
    </div>
    <b-modal ref="removeEntity" id="removeEntity">
      <span slot="modal-title"
        ><span
          id="exchangeApp.exchangeOpsUser.delete.question"
          data-cy="exchangeOpsUserDeleteDialogHeading"
          v-text="$t('entity.delete.title')"
          >Confirm delete operation</span
        ></span
      >
      <div class="modal-body">
        <p id="jhi-delete-exchangeOpsUser-heading" v-text="$t('exchangeApp.exchangeOpsUser.delete.question', { id: removeId })">
          Are you sure you want to delete this Exchange Ops User?
        </p>
      </div>
      <div slot="modal-footer">
        <button type="button" class="btn btn-secondary" v-text="$t('entity.action.cancel')" v-on:click="closeDialog()">Cancel</button>
        <button
          type="button"
          class="btn btn-primary"
          id="jhi-confirm-delete-exchangeOpsUser"
          data-cy="entityConfirmDeleteButton"
          v-text="$t('entity.action.delete')"
          v-on:click="removeExchangeOpsUser()"
        >
          Delete
        </button>
      </div>
    </b-modal>
  </div>
</template>

<script lang="ts" src="./exchange-ops-user.component.ts"></script>
