<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <div v-if="exchangeOpsUser">
        <h2 class="jh-entity-heading" data-cy="exchangeOpsUserDetailsHeading">
          <span v-text="$t('exchangeApp.exchangeOpsUser.detail.title')">ExchangeOpsUser</span> {{ exchangeOpsUser.id }}
        </h2>
        <dl class="row jh-entity-details">
          <dt>
            <span v-text="$t('exchangeApp.exchangeOpsUser.name')">Name</span>
          </dt>
          <dd>
            <span>{{ exchangeOpsUser.name }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.exchangeOpsUser.email')">Email</span>
          </dt>
          <dd>
            <span>{{ exchangeOpsUser.email }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.exchangeOpsUser.phone')">Phone</span>
          </dt>
          <dd>
            <span>{{ exchangeOpsUser.phone }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.exchangeOpsUser.role')">Role</span>
          </dt>
          <dd>
            <span v-text="$t('exchangeApp.Role.' + exchangeOpsUser.role)">{{ exchangeOpsUser.role }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.exchangeOpsUser.isActive')">Is Active</span>
          </dt>
          <dd>
            <span>{{ exchangeOpsUser.isActive }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.exchangeOpsUser.createdAt')">Created At</span>
          </dt>
          <dd>
            <span>{{ exchangeOpsUser.createdAt }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.exchangeOpsUser.updatedAt')">Updated At</span>
          </dt>
          <dd>
            <span>{{ exchangeOpsUser.updatedAt }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.exchangeOpsUser.createdBy')">Created By</span>
          </dt>
          <dd>
            <span>{{ exchangeOpsUser.createdBy }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.exchangeOpsUser.updatedBy')">Updated By</span>
          </dt>
          <dd>
            <span>{{ exchangeOpsUser.updatedBy }}</span>
          </dd>
        </dl>
        <button type="submit" v-on:click.prevent="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
        </button>
        <router-link
          v-if="exchangeOpsUser.id"
          :to="{ name: 'ExchangeOpsUserEdit', params: { exchangeOpsUserId: exchangeOpsUser.id } }"
          custom
          v-slot="{ navigate }"
        >
          <button @click="navigate" class="btn btn-primary">
            <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
          </button>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./exchange-ops-user-details.component.ts"></script>
