<template>
  <div>
    <h2 id="page-heading" data-cy="VendorHubMappingHeading">
      <span v-text="$t('exchangeApp.vendorHubMapping.home.title')" id="vendor-hub-mapping-heading">Vendor Hub Mappings</span>
      <div class="d-flex justify-content-end">
        <button class="btn btn-info mr-2" v-on:click="handleSyncList" :disabled="isFetching">
          <font-awesome-icon icon="sync" :spin="isFetching"></font-awesome-icon>
          <span v-text="$t('exchangeApp.vendorHubMapping.home.refreshListLabel')">Refresh List</span>
        </button>
        <router-link :to="{ name: 'VendorHubMappingCreate' }" custom v-slot="{ navigate }">
          <button
            @click="navigate"
            id="jh-create-entity"
            data-cy="entityCreateButton"
            class="btn btn-primary jh-create-entity create-vendor-hub-mapping"
          >
            <font-awesome-icon icon="plus"></font-awesome-icon>
            <span v-text="$t('exchangeApp.vendorHubMapping.home.createLabel')"> Create a new Vendor Hub Mapping </span>
          </button>
        </router-link>
      </div>
    </h2>
    <br />
    <div class="alert alert-warning" v-if="!isFetching && vendorHubMappings && vendorHubMappings.length === 0">
      <span v-text="$t('exchangeApp.vendorHubMapping.home.notFound')">No vendorHubMappings found</span>
    </div>
    <div class="table-responsive" v-if="vendorHubMappings && vendorHubMappings.length > 0">
      <table class="table table-striped" aria-describedby="vendorHubMappings">
        <thead>
          <tr>
            <th scope="row" v-on:click="changeOrder('id')">
              <span v-text="$t('global.field.id')">ID</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'id'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('categoryContextType')">
              <span v-text="$t('exchangeApp.vendorHubMapping.categoryContextType')">Category Context Type</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'categoryContextType'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('isActive')">
              <span v-text="$t('exchangeApp.vendorHubMapping.isActive')">Is Active</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'isActive'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('createdAt')">
              <span v-text="$t('exchangeApp.vendorHubMapping.createdAt')">Created At</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'createdAt'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('updatedAt')">
              <span v-text="$t('exchangeApp.vendorHubMapping.updatedAt')">Updated At</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'updatedAt'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('createdBy')">
              <span v-text="$t('exchangeApp.vendorHubMapping.createdBy')">Created By</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'createdBy'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('updatedBy')">
              <span v-text="$t('exchangeApp.vendorHubMapping.updatedBy')">Updated By</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'updatedBy'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('approvedBy.id')">
              <span v-text="$t('exchangeApp.vendorHubMapping.approvedBy')">Approved By</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'approvedBy.id'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('vendorHub.id')">
              <span v-text="$t('exchangeApp.vendorHubMapping.vendorHub')">Vendor Hub</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'vendorHub.id'"></jhi-sort-indicator>
            </th>
            <th scope="row"></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="vendorHubMapping in vendorHubMappings" :key="vendorHubMapping.id" data-cy="entityTable">
            <td>
              <router-link :to="{ name: 'VendorHubMappingView', params: { vendorHubMappingId: vendorHubMapping.id } }">{{
                vendorHubMapping.id
              }}</router-link>
            </td>
            <td v-text="$t('exchangeApp.CategoryConetxtType.' + vendorHubMapping.categoryContextType)">
              {{ vendorHubMapping.categoryContextType }}
            </td>
            <td>{{ vendorHubMapping.isActive }}</td>
            <td>{{ vendorHubMapping.createdAt }}</td>
            <td>{{ vendorHubMapping.updatedAt }}</td>
            <td>{{ vendorHubMapping.createdBy }}</td>
            <td>{{ vendorHubMapping.updatedBy }}</td>
            <td>
              <div v-if="vendorHubMapping.approvedBy">
                <router-link :to="{ name: 'ExchangeOpsUserView', params: { exchangeOpsUserId: vendorHubMapping.approvedBy.id } }">{{
                  vendorHubMapping.approvedBy.id
                }}</router-link>
              </div>
            </td>
            <td>
              <div v-if="vendorHubMapping.vendorHub">
                <router-link :to="{ name: 'VendorHubView', params: { vendorHubId: vendorHubMapping.vendorHub.id } }">{{
                  vendorHubMapping.vendorHub.id
                }}</router-link>
              </div>
            </td>
            <td class="text-right">
              <div class="btn-group">
                <router-link
                  :to="{ name: 'VendorHubMappingView', params: { vendorHubMappingId: vendorHubMapping.id } }"
                  custom
                  v-slot="{ navigate }"
                >
                  <button @click="navigate" class="btn btn-info btn-sm details" data-cy="entityDetailsButton">
                    <font-awesome-icon icon="eye"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.view')">View</span>
                  </button>
                </router-link>
                <router-link
                  :to="{ name: 'VendorHubMappingEdit', params: { vendorHubMappingId: vendorHubMapping.id } }"
                  custom
                  v-slot="{ navigate }"
                >
                  <button @click="navigate" class="btn btn-primary btn-sm edit" data-cy="entityEditButton">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.edit')">Edit</span>
                  </button>
                </router-link>
                <b-button
                  v-on:click="prepareRemove(vendorHubMapping)"
                  variant="danger"
                  class="btn btn-sm"
                  data-cy="entityDeleteButton"
                  v-b-modal.removeEntity
                >
                  <font-awesome-icon icon="times"></font-awesome-icon>
                  <span class="d-none d-md-inline" v-text="$t('entity.action.delete')">Delete</span>
                </b-button>
              </div>
            </td>
          </tr>
        </tbody>
        <infinite-loading
          ref="infiniteLoading"
          v-if="totalItems > itemsPerPage"
          :identifier="infiniteId"
          slot="append"
          @infinite="loadMore"
          force-use-infinite-wrapper=".el-table__body-wrapper"
          :distance="20"
        >
        </infinite-loading>
      </table>
    </div>
    <b-modal ref="removeEntity" id="removeEntity">
      <span slot="modal-title"
        ><span
          id="exchangeApp.vendorHubMapping.delete.question"
          data-cy="vendorHubMappingDeleteDialogHeading"
          v-text="$t('entity.delete.title')"
          >Confirm delete operation</span
        ></span
      >
      <div class="modal-body">
        <p id="jhi-delete-vendorHubMapping-heading" v-text="$t('exchangeApp.vendorHubMapping.delete.question', { id: removeId })">
          Are you sure you want to delete this Vendor Hub Mapping?
        </p>
      </div>
      <div slot="modal-footer">
        <button type="button" class="btn btn-secondary" v-text="$t('entity.action.cancel')" v-on:click="closeDialog()">Cancel</button>
        <button
          type="button"
          class="btn btn-primary"
          id="jhi-confirm-delete-vendorHubMapping"
          data-cy="entityConfirmDeleteButton"
          v-text="$t('entity.action.delete')"
          v-on:click="removeVendorHubMapping()"
        >
          Delete
        </button>
      </div>
    </b-modal>
  </div>
</template>

<script lang="ts" src="./vendor-hub-mapping.component.ts"></script>
