<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <div v-if="vendorHubMapping">
        <h2 class="jh-entity-heading" data-cy="vendorHubMappingDetailsHeading">
          <span v-text="$t('exchangeApp.vendorHubMapping.detail.title')">VendorHubMapping</span> {{ vendorHubMapping.id }}
        </h2>
        <dl class="row jh-entity-details">
          <dt>
            <span v-text="$t('exchangeApp.vendorHubMapping.categoryContextType')">Category Context Type</span>
          </dt>
          <dd>
            <span v-text="$t('exchangeApp.CategoryConetxtType.' + vendorHubMapping.categoryContextType)">{{
              vendorHubMapping.categoryContextType
            }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.vendorHubMapping.isActive')">Is Active</span>
          </dt>
          <dd>
            <span>{{ vendorHubMapping.isActive }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.vendorHubMapping.createdAt')">Created At</span>
          </dt>
          <dd>
            <span>{{ vendorHubMapping.createdAt }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.vendorHubMapping.updatedAt')">Updated At</span>
          </dt>
          <dd>
            <span>{{ vendorHubMapping.updatedAt }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.vendorHubMapping.createdBy')">Created By</span>
          </dt>
          <dd>
            <span>{{ vendorHubMapping.createdBy }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.vendorHubMapping.updatedBy')">Updated By</span>
          </dt>
          <dd>
            <span>{{ vendorHubMapping.updatedBy }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.vendorHubMapping.servingPincodes')">Serving Pincodes</span>
          </dt>
          <dd>
            <span v-for="(servingPincodes, i) in vendorHubMapping.servingPincodes" :key="servingPincodes.id"
              >{{ i > 0 ? ', ' : '' }}
              <router-link :to="{ name: 'PincodeView', params: { pincodeId: servingPincodes.id } }">{{ servingPincodes.id }}</router-link>
            </span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.vendorHubMapping.approvedBy')">Approved By</span>
          </dt>
          <dd>
            <div v-if="vendorHubMapping.approvedBy">
              <router-link :to="{ name: 'ExchangeOpsUserView', params: { exchangeOpsUserId: vendorHubMapping.approvedBy.id } }">{{
                vendorHubMapping.approvedBy.id
              }}</router-link>
            </div>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.vendorHubMapping.vendorHub')">Vendor Hub</span>
          </dt>
          <dd>
            <div v-if="vendorHubMapping.vendorHub">
              <router-link :to="{ name: 'VendorHubView', params: { vendorHubId: vendorHubMapping.vendorHub.id } }">{{
                vendorHubMapping.vendorHub.id
              }}</router-link>
            </div>
          </dd>
        </dl>
        <button type="submit" v-on:click.prevent="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
        </button>
        <router-link
          v-if="vendorHubMapping.id"
          :to="{ name: 'VendorHubMappingEdit', params: { vendorHubMappingId: vendorHubMapping.id } }"
          custom
          v-slot="{ navigate }"
        >
          <button @click="navigate" class="btn btn-primary">
            <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
          </button>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./vendor-hub-mapping-details.component.ts"></script>
