<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate v-on:submit.prevent="save()">
        <h2
          id="exchangeApp.vendorHubMapping.home.createOrEditLabel"
          data-cy="VendorHubMappingCreateUpdateHeading"
          v-text="$t('exchangeApp.vendorHubMapping.home.createOrEditLabel')"
        >
          Create or edit a VendorHubMapping
        </h2>
        <div>
          <div class="form-group" v-if="vendorHubMapping.id">
            <label for="id" v-text="$t('global.field.id')">ID</label>
            <input type="text" class="form-control" id="id" name="id" v-model="vendorHubMapping.id" readonly />
          </div>
          <div class="form-group">
            <label
              class="form-control-label"
              v-text="$t('exchangeApp.vendorHubMapping.categoryContextType')"
              for="vendor-hub-mapping-categoryContextType"
              >Category Context Type</label
            >
            <select
              class="form-control"
              name="categoryContextType"
              :class="{
                valid: !$v.vendorHubMapping.categoryContextType.$invalid,
                invalid: $v.vendorHubMapping.categoryContextType.$invalid,
              }"
              v-model="$v.vendorHubMapping.categoryContextType.$model"
              id="vendor-hub-mapping-categoryContextType"
              data-cy="categoryContextType"
            >
              <option
                v-for="categoryConetxtType in categoryConetxtTypeValues"
                :key="categoryConetxtType"
                v-bind:value="categoryConetxtType"
                v-bind:label="$t('exchangeApp.CategoryConetxtType.' + categoryConetxtType)"
              >
                {{ categoryConetxtType }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.vendorHubMapping.isActive')" for="vendor-hub-mapping-isActive"
              >Is Active</label
            >
            <input
              type="checkbox"
              class="form-check"
              name="isActive"
              id="vendor-hub-mapping-isActive"
              data-cy="isActive"
              :class="{ valid: !$v.vendorHubMapping.isActive.$invalid, invalid: $v.vendorHubMapping.isActive.$invalid }"
              v-model="$v.vendorHubMapping.isActive.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.vendorHubMapping.createdAt')" for="vendor-hub-mapping-createdAt"
              >Created At</label
            >
            <b-input-group class="mb-3">
              <b-input-group-prepend>
                <b-form-datepicker
                  aria-controls="vendor-hub-mapping-createdAt"
                  v-model="$v.vendorHubMapping.createdAt.$model"
                  name="createdAt"
                  class="form-control"
                  :locale="currentLanguage"
                  button-only
                  today-button
                  reset-button
                  close-button
                >
                </b-form-datepicker>
              </b-input-group-prepend>
              <b-form-input
                id="vendor-hub-mapping-createdAt"
                data-cy="createdAt"
                type="text"
                class="form-control"
                name="createdAt"
                :class="{ valid: !$v.vendorHubMapping.createdAt.$invalid, invalid: $v.vendorHubMapping.createdAt.$invalid }"
                v-model="$v.vendorHubMapping.createdAt.$model"
              />
            </b-input-group>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.vendorHubMapping.updatedAt')" for="vendor-hub-mapping-updatedAt"
              >Updated At</label
            >
            <b-input-group class="mb-3">
              <b-input-group-prepend>
                <b-form-datepicker
                  aria-controls="vendor-hub-mapping-updatedAt"
                  v-model="$v.vendorHubMapping.updatedAt.$model"
                  name="updatedAt"
                  class="form-control"
                  :locale="currentLanguage"
                  button-only
                  today-button
                  reset-button
                  close-button
                >
                </b-form-datepicker>
              </b-input-group-prepend>
              <b-form-input
                id="vendor-hub-mapping-updatedAt"
                data-cy="updatedAt"
                type="text"
                class="form-control"
                name="updatedAt"
                :class="{ valid: !$v.vendorHubMapping.updatedAt.$invalid, invalid: $v.vendorHubMapping.updatedAt.$invalid }"
                v-model="$v.vendorHubMapping.updatedAt.$model"
              />
            </b-input-group>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.vendorHubMapping.createdBy')" for="vendor-hub-mapping-createdBy"
              >Created By</label
            >
            <input
              type="text"
              class="form-control"
              name="createdBy"
              id="vendor-hub-mapping-createdBy"
              data-cy="createdBy"
              :class="{ valid: !$v.vendorHubMapping.createdBy.$invalid, invalid: $v.vendorHubMapping.createdBy.$invalid }"
              v-model="$v.vendorHubMapping.createdBy.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.vendorHubMapping.updatedBy')" for="vendor-hub-mapping-updatedBy"
              >Updated By</label
            >
            <input
              type="text"
              class="form-control"
              name="updatedBy"
              id="vendor-hub-mapping-updatedBy"
              data-cy="updatedBy"
              :class="{ valid: !$v.vendorHubMapping.updatedBy.$invalid, invalid: $v.vendorHubMapping.updatedBy.$invalid }"
              v-model="$v.vendorHubMapping.updatedBy.$model"
            />
          </div>
          <div class="form-group">
            <label v-text="$t('exchangeApp.vendorHubMapping.servingPincodes')" for="vendor-hub-mapping-servingPincodes"
              >Serving Pincodes</label
            >
            <select
              class="form-control"
              id="vendor-hub-mapping-servingPincodes"
              data-cy="servingPincodes"
              multiple
              name="servingPincodes"
              v-if="vendorHubMapping.servingPincodes !== undefined"
              v-model="vendorHubMapping.servingPincodes"
            >
              <option
                v-bind:value="getSelected(vendorHubMapping.servingPincodes, pincodeOption)"
                v-for="pincodeOption in pincodes"
                :key="pincodeOption.id"
              >
                {{ pincodeOption.id }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.vendorHubMapping.approvedBy')" for="vendor-hub-mapping-approvedBy"
              >Approved By</label
            >
            <select
              class="form-control"
              id="vendor-hub-mapping-approvedBy"
              data-cy="approvedBy"
              name="approvedBy"
              v-model="vendorHubMapping.approvedBy"
            >
              <option v-bind:value="null"></option>
              <option
                v-bind:value="
                  vendorHubMapping.approvedBy && exchangeOpsUserOption.id === vendorHubMapping.approvedBy.id
                    ? vendorHubMapping.approvedBy
                    : exchangeOpsUserOption
                "
                v-for="exchangeOpsUserOption in exchangeOpsUsers"
                :key="exchangeOpsUserOption.id"
              >
                {{ exchangeOpsUserOption.id }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.vendorHubMapping.vendorHub')" for="vendor-hub-mapping-vendorHub"
              >Vendor Hub</label
            >
            <select
              class="form-control"
              id="vendor-hub-mapping-vendorHub"
              data-cy="vendorHub"
              name="vendorHub"
              v-model="vendorHubMapping.vendorHub"
            >
              <option v-bind:value="null"></option>
              <option
                v-bind:value="
                  vendorHubMapping.vendorHub && vendorHubOption.id === vendorHubMapping.vendorHub.id
                    ? vendorHubMapping.vendorHub
                    : vendorHubOption
                "
                v-for="vendorHubOption in vendorHubs"
                :key="vendorHubOption.id"
              >
                {{ vendorHubOption.id }}
              </option>
            </select>
          </div>
        </div>
        <div>
          <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" v-on:click="previousState()">
            <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            :disabled="$v.vendorHubMapping.$invalid || isSaving"
            class="btn btn-primary"
          >
            <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script lang="ts" src="./vendor-hub-mapping-update.component.ts"></script>
