<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <div v-if="exchangeOrder">
        <h2 class="jh-entity-heading" data-cy="exchangeOrderDetailsHeading">
          <span v-text="$t('exchangeApp.exchangeOrder.detail.title')">ExchangeOrder</span> {{ exchangeOrder.id }}
        </h2>
        <dl class="row jh-entity-details">
          <dt>
            <span v-text="$t('exchangeApp.exchangeOrder.clientOrderRefId')">Client Order Ref Id</span>
          </dt>
          <dd>
            <span>{{ exchangeOrder.clientOrderRefId }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.exchangeOrder.customerPhoneNo')">Customer Phone No</span>
          </dt>
          <dd>
            <span>{{ exchangeOrder.customerPhoneNo }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.exchangeOrder.clientOrderDeliveryRefId')">Client Order Delivery Ref Id</span>
          </dt>
          <dd>
            <span>{{ exchangeOrder.clientOrderDeliveryRefId }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.exchangeOrder.deliveryPartnerPhoneNo')">Delivery Partner Phone No</span>
          </dt>
          <dd>
            <span>{{ exchangeOrder.deliveryPartnerPhoneNo }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.exchangeOrder.totalOrderAmount')">Total Order Amount</span>
          </dt>
          <dd>
            <span>{{ exchangeOrder.totalOrderAmount }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.exchangeOrder.paidAmount')">Paid Amount</span>
          </dt>
          <dd>
            <span>{{ exchangeOrder.paidAmount }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.exchangeOrder.codInitialPendingAmount')">Cod Initial Pending Amount</span>
          </dt>
          <dd>
            <span>{{ exchangeOrder.codInitialPendingAmount }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.exchangeOrder.exchangeEstimateAmount')">Exchange Estimate Amount</span>
          </dt>
          <dd>
            <span>{{ exchangeOrder.exchangeEstimateAmount }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.exchangeOrder.exchangeFinalAmountToUser')">Exchange Final Amount To User</span>
          </dt>
          <dd>
            <span>{{ exchangeOrder.exchangeFinalAmountToUser }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.exchangeOrder.codFinalAmount')">Cod Final Amount</span>
          </dt>
          <dd>
            <span>{{ exchangeOrder.codFinalAmount }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.exchangeOrder.codAmountPaid')">Cod Amount Paid</span>
          </dt>
          <dd>
            <span>{{ exchangeOrder.codAmountPaid }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.exchangeOrder.codPaymentTxnRefId')">Cod Payment Txn Ref Id</span>
          </dt>
          <dd>
            <span>{{ exchangeOrder.codPaymentTxnRefId }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.exchangeOrder.status')">Status</span>
          </dt>
          <dd>
            <span v-text="$t('exchangeApp.ExchangeOrderStatus.' + exchangeOrder.status)">{{ exchangeOrder.status }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.exchangeOrder.cancellationReason')">Cancellation Reason</span>
          </dt>
          <dd>
            <span v-text="$t('exchangeApp.CancellationReason.' + exchangeOrder.cancellationReason)">{{
              exchangeOrder.cancellationReason
            }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.exchangeOrder.expectedPickupDate')">Expected Pickup Date</span>
          </dt>
          <dd>
            <span>{{ exchangeOrder.expectedPickupDate }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.exchangeOrder.customerPickupDate')">Customer Pickup Date</span>
          </dt>
          <dd>
            <span>{{ exchangeOrder.customerPickupDate }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.exchangeOrder.dcDeliveredDate')">Dc Delivered Date</span>
          </dt>
          <dd>
            <span>{{ exchangeOrder.dcDeliveredDate }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.exchangeOrder.dcPickupDate')">Dc Pickup Date</span>
          </dt>
          <dd>
            <span>{{ exchangeOrder.dcPickupDate }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.exchangeOrder.exchangeFinalAmountToDc')">Exchange Final Amount To Dc</span>
          </dt>
          <dd>
            <span>{{ exchangeOrder.exchangeFinalAmountToDc }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.exchangeOrder.vendorDeliveredDate')">Vendor Delivered Date</span>
          </dt>
          <dd>
            <span>{{ exchangeOrder.vendorDeliveredDate }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.exchangeOrder.exchangeFinalAmountToVendor')">Exchange Final Amount To Vendor</span>
          </dt>
          <dd>
            <span>{{ exchangeOrder.exchangeFinalAmountToVendor }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.exchangeOrder.createdAt')">Created At</span>
          </dt>
          <dd>
            <span>{{ exchangeOrder.createdAt }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.exchangeOrder.updatedAt')">Updated At</span>
          </dt>
          <dd>
            <span>{{ exchangeOrder.updatedAt }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.exchangeOrder.customerAddress')">Customer Address</span>
          </dt>
          <dd>
            <div v-if="exchangeOrder.customerAddress">
              <router-link :to="{ name: 'AddressView', params: { addressId: exchangeOrder.customerAddress.id } }">{{
                exchangeOrder.customerAddress.id
              }}</router-link>
            </div>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.exchangeOrder.vendorAddress')">Vendor Address</span>
          </dt>
          <dd>
            <div v-if="exchangeOrder.vendorAddress">
              <router-link :to="{ name: 'AddressView', params: { addressId: exchangeOrder.vendorAddress.id } }">{{
                exchangeOrder.vendorAddress.id
              }}</router-link>
            </div>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.exchangeOrder.dcAddress')">Dc Address</span>
          </dt>
          <dd>
            <div v-if="exchangeOrder.dcAddress">
              <router-link :to="{ name: 'AddressView', params: { addressId: exchangeOrder.dcAddress.id } }">{{
                exchangeOrder.dcAddress.id
              }}</router-link>
            </div>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.exchangeOrder.client')">Client</span>
          </dt>
          <dd>
            <div v-if="exchangeOrder.client">
              <router-link :to="{ name: 'ClientView', params: { clientId: exchangeOrder.client.id } }">{{
                exchangeOrder.client.id
              }}</router-link>
            </div>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.exchangeOrder.product')">Product</span>
          </dt>
          <dd>
            <div v-if="exchangeOrder.product">
              <router-link :to="{ name: 'ProductContextView', params: { productContextId: exchangeOrder.product.id } }">{{
                exchangeOrder.product.id
              }}</router-link>
            </div>
          </dd>
        </dl>
        <button type="submit" v-on:click.prevent="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
        </button>
        <router-link
          v-if="exchangeOrder.id"
          :to="{ name: 'ExchangeOrderEdit', params: { exchangeOrderId: exchangeOrder.id } }"
          custom
          v-slot="{ navigate }"
        >
          <button @click="navigate" class="btn btn-primary">
            <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
          </button>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./exchange-order-details.component.ts"></script>
