<template>
  <div>
    <h2 id="page-heading" data-cy="ExchangeOrderHeading">
      <span v-text="$t('exchangeApp.exchangeOrder.home.title')" id="exchange-order-heading">Exchange Orders</span>
      <div class="d-flex justify-content-end">
        <button class="btn btn-info mr-2" v-on:click="handleSyncList" :disabled="isFetching">
          <font-awesome-icon icon="sync" :spin="isFetching"></font-awesome-icon>
          <span v-text="$t('exchangeApp.exchangeOrder.home.refreshListLabel')">Refresh List</span>
        </button>
        <router-link :to="{ name: 'ExchangeOrderCreate' }" custom v-slot="{ navigate }">
          <button
            @click="navigate"
            id="jh-create-entity"
            data-cy="entityCreateButton"
            class="btn btn-primary jh-create-entity create-exchange-order"
          >
            <font-awesome-icon icon="plus"></font-awesome-icon>
            <span v-text="$t('exchangeApp.exchangeOrder.home.createLabel')"> Create a new Exchange Order </span>
          </button>
        </router-link>
      </div>
    </h2>
    <br />
    <div class="alert alert-warning" v-if="!isFetching && exchangeOrders && exchangeOrders.length === 0">
      <span v-text="$t('exchangeApp.exchangeOrder.home.notFound')">No exchangeOrders found</span>
    </div>
    <div class="table-responsive" v-if="exchangeOrders && exchangeOrders.length > 0">
      <table class="table table-striped" aria-describedby="exchangeOrders">
        <thead>
          <tr>
            <th scope="row" v-on:click="changeOrder('id')">
              <span v-text="$t('global.field.id')">ID</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'id'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('clientOrderRefId')">
              <span v-text="$t('exchangeApp.exchangeOrder.clientOrderRefId')">Client Order Ref Id</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'clientOrderRefId'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('customerPhoneNo')">
              <span v-text="$t('exchangeApp.exchangeOrder.customerPhoneNo')">Customer Phone No</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'customerPhoneNo'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('clientOrderDeliveryRefId')">
              <span v-text="$t('exchangeApp.exchangeOrder.clientOrderDeliveryRefId')">Client Order Delivery Ref Id</span>
              <jhi-sort-indicator
                :current-order="propOrder"
                :reverse="reverse"
                :field-name="'clientOrderDeliveryRefId'"
              ></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('deliveryPartnerPhoneNo')">
              <span v-text="$t('exchangeApp.exchangeOrder.deliveryPartnerPhoneNo')">Delivery Partner Phone No</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'deliveryPartnerPhoneNo'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('totalOrderAmount')">
              <span v-text="$t('exchangeApp.exchangeOrder.totalOrderAmount')">Total Order Amount</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'totalOrderAmount'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('paidAmount')">
              <span v-text="$t('exchangeApp.exchangeOrder.paidAmount')">Paid Amount</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'paidAmount'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('codInitialPendingAmount')">
              <span v-text="$t('exchangeApp.exchangeOrder.codInitialPendingAmount')">Cod Initial Pending Amount</span>
              <jhi-sort-indicator
                :current-order="propOrder"
                :reverse="reverse"
                :field-name="'codInitialPendingAmount'"
              ></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('exchangeEstimateAmount')">
              <span v-text="$t('exchangeApp.exchangeOrder.exchangeEstimateAmount')">Exchange Estimate Amount</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'exchangeEstimateAmount'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('exchangeFinalAmountToUser')">
              <span v-text="$t('exchangeApp.exchangeOrder.exchangeFinalAmountToUser')">Exchange Final Amount To User</span>
              <jhi-sort-indicator
                :current-order="propOrder"
                :reverse="reverse"
                :field-name="'exchangeFinalAmountToUser'"
              ></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('codFinalAmount')">
              <span v-text="$t('exchangeApp.exchangeOrder.codFinalAmount')">Cod Final Amount</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'codFinalAmount'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('codAmountPaid')">
              <span v-text="$t('exchangeApp.exchangeOrder.codAmountPaid')">Cod Amount Paid</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'codAmountPaid'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('codPaymentTxnRefId')">
              <span v-text="$t('exchangeApp.exchangeOrder.codPaymentTxnRefId')">Cod Payment Txn Ref Id</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'codPaymentTxnRefId'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('status')">
              <span v-text="$t('exchangeApp.exchangeOrder.status')">Status</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'status'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('cancellationReason')">
              <span v-text="$t('exchangeApp.exchangeOrder.cancellationReason')">Cancellation Reason</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'cancellationReason'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('expectedPickupDate')">
              <span v-text="$t('exchangeApp.exchangeOrder.expectedPickupDate')">Expected Pickup Date</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'expectedPickupDate'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('customerPickupDate')">
              <span v-text="$t('exchangeApp.exchangeOrder.customerPickupDate')">Customer Pickup Date</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'customerPickupDate'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('dcDeliveredDate')">
              <span v-text="$t('exchangeApp.exchangeOrder.dcDeliveredDate')">Dc Delivered Date</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'dcDeliveredDate'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('dcPickupDate')">
              <span v-text="$t('exchangeApp.exchangeOrder.dcPickupDate')">Dc Pickup Date</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'dcPickupDate'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('exchangeFinalAmountToDc')">
              <span v-text="$t('exchangeApp.exchangeOrder.exchangeFinalAmountToDc')">Exchange Final Amount To Dc</span>
              <jhi-sort-indicator
                :current-order="propOrder"
                :reverse="reverse"
                :field-name="'exchangeFinalAmountToDc'"
              ></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('vendorDeliveredDate')">
              <span v-text="$t('exchangeApp.exchangeOrder.vendorDeliveredDate')">Vendor Delivered Date</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'vendorDeliveredDate'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('exchangeFinalAmountToVendor')">
              <span v-text="$t('exchangeApp.exchangeOrder.exchangeFinalAmountToVendor')">Exchange Final Amount To Vendor</span>
              <jhi-sort-indicator
                :current-order="propOrder"
                :reverse="reverse"
                :field-name="'exchangeFinalAmountToVendor'"
              ></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('createdAt')">
              <span v-text="$t('exchangeApp.exchangeOrder.createdAt')">Created At</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'createdAt'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('updatedAt')">
              <span v-text="$t('exchangeApp.exchangeOrder.updatedAt')">Updated At</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'updatedAt'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('customerAddress.id')">
              <span v-text="$t('exchangeApp.exchangeOrder.customerAddress')">Customer Address</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'customerAddress.id'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('vendorAddress.id')">
              <span v-text="$t('exchangeApp.exchangeOrder.vendorAddress')">Vendor Address</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'vendorAddress.id'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('dcAddress.id')">
              <span v-text="$t('exchangeApp.exchangeOrder.dcAddress')">Dc Address</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'dcAddress.id'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('client.id')">
              <span v-text="$t('exchangeApp.exchangeOrder.client')">Client</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'client.id'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('product.id')">
              <span v-text="$t('exchangeApp.exchangeOrder.product')">Product</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'product.id'"></jhi-sort-indicator>
            </th>
            <th scope="row"></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="exchangeOrder in exchangeOrders" :key="exchangeOrder.id" data-cy="entityTable">
            <td>
              <router-link :to="{ name: 'ExchangeOrderView', params: { exchangeOrderId: exchangeOrder.id } }">{{
                exchangeOrder.id
              }}</router-link>
            </td>
            <td>{{ exchangeOrder.clientOrderRefId }}</td>
            <td>{{ exchangeOrder.customerPhoneNo }}</td>
            <td>{{ exchangeOrder.clientOrderDeliveryRefId }}</td>
            <td>{{ exchangeOrder.deliveryPartnerPhoneNo }}</td>
            <td>{{ exchangeOrder.totalOrderAmount }}</td>
            <td>{{ exchangeOrder.paidAmount }}</td>
            <td>{{ exchangeOrder.codInitialPendingAmount }}</td>
            <td>{{ exchangeOrder.exchangeEstimateAmount }}</td>
            <td>{{ exchangeOrder.exchangeFinalAmountToUser }}</td>
            <td>{{ exchangeOrder.codFinalAmount }}</td>
            <td>{{ exchangeOrder.codAmountPaid }}</td>
            <td>{{ exchangeOrder.codPaymentTxnRefId }}</td>
            <td v-text="$t('exchangeApp.ExchangeOrderStatus.' + exchangeOrder.status)">{{ exchangeOrder.status }}</td>
            <td v-text="$t('exchangeApp.CancellationReason.' + exchangeOrder.cancellationReason)">
              {{ exchangeOrder.cancellationReason }}
            </td>
            <td>{{ exchangeOrder.expectedPickupDate }}</td>
            <td>{{ exchangeOrder.customerPickupDate }}</td>
            <td>{{ exchangeOrder.dcDeliveredDate }}</td>
            <td>{{ exchangeOrder.dcPickupDate }}</td>
            <td>{{ exchangeOrder.exchangeFinalAmountToDc }}</td>
            <td>{{ exchangeOrder.vendorDeliveredDate }}</td>
            <td>{{ exchangeOrder.exchangeFinalAmountToVendor }}</td>
            <td>{{ exchangeOrder.createdAt }}</td>
            <td>{{ exchangeOrder.updatedAt }}</td>
            <td>
              <div v-if="exchangeOrder.customerAddress">
                <router-link :to="{ name: 'AddressView', params: { addressId: exchangeOrder.customerAddress.id } }">{{
                  exchangeOrder.customerAddress.id
                }}</router-link>
              </div>
            </td>
            <td>
              <div v-if="exchangeOrder.vendorAddress">
                <router-link :to="{ name: 'AddressView', params: { addressId: exchangeOrder.vendorAddress.id } }">{{
                  exchangeOrder.vendorAddress.id
                }}</router-link>
              </div>
            </td>
            <td>
              <div v-if="exchangeOrder.dcAddress">
                <router-link :to="{ name: 'AddressView', params: { addressId: exchangeOrder.dcAddress.id } }">{{
                  exchangeOrder.dcAddress.id
                }}</router-link>
              </div>
            </td>
            <td>
              <div v-if="exchangeOrder.client">
                <router-link :to="{ name: 'ClientView', params: { clientId: exchangeOrder.client.id } }">{{
                  exchangeOrder.client.id
                }}</router-link>
              </div>
            </td>
            <td>
              <div v-if="exchangeOrder.product">
                <router-link :to="{ name: 'ProductContextView', params: { productContextId: exchangeOrder.product.id } }">{{
                  exchangeOrder.product.id
                }}</router-link>
              </div>
            </td>
            <td class="text-right">
              <div class="btn-group">
                <router-link
                  :to="{ name: 'ExchangeOrderView', params: { exchangeOrderId: exchangeOrder.id } }"
                  custom
                  v-slot="{ navigate }"
                >
                  <button @click="navigate" class="btn btn-info btn-sm details" data-cy="entityDetailsButton">
                    <font-awesome-icon icon="eye"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.view')">View</span>
                  </button>
                </router-link>
                <router-link
                  :to="{ name: 'ExchangeOrderEdit', params: { exchangeOrderId: exchangeOrder.id } }"
                  custom
                  v-slot="{ navigate }"
                >
                  <button @click="navigate" class="btn btn-primary btn-sm edit" data-cy="entityEditButton">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.edit')">Edit</span>
                  </button>
                </router-link>
                <b-button
                  v-on:click="prepareRemove(exchangeOrder)"
                  variant="danger"
                  class="btn btn-sm"
                  data-cy="entityDeleteButton"
                  v-b-modal.removeEntity
                >
                  <font-awesome-icon icon="times"></font-awesome-icon>
                  <span class="d-none d-md-inline" v-text="$t('entity.action.delete')">Delete</span>
                </b-button>
              </div>
            </td>
          </tr>
        </tbody>
        <infinite-loading
          ref="infiniteLoading"
          v-if="totalItems > itemsPerPage"
          :identifier="infiniteId"
          slot="append"
          @infinite="loadMore"
          force-use-infinite-wrapper=".el-table__body-wrapper"
          :distance="20"
        >
        </infinite-loading>
      </table>
    </div>
    <b-modal ref="removeEntity" id="removeEntity">
      <span slot="modal-title"
        ><span id="exchangeApp.exchangeOrder.delete.question" data-cy="exchangeOrderDeleteDialogHeading" v-text="$t('entity.delete.title')"
          >Confirm delete operation</span
        ></span
      >
      <div class="modal-body">
        <p id="jhi-delete-exchangeOrder-heading" v-text="$t('exchangeApp.exchangeOrder.delete.question', { id: removeId })">
          Are you sure you want to delete this Exchange Order?
        </p>
      </div>
      <div slot="modal-footer">
        <button type="button" class="btn btn-secondary" v-text="$t('entity.action.cancel')" v-on:click="closeDialog()">Cancel</button>
        <button
          type="button"
          class="btn btn-primary"
          id="jhi-confirm-delete-exchangeOrder"
          data-cy="entityConfirmDeleteButton"
          v-text="$t('entity.action.delete')"
          v-on:click="removeExchangeOrder()"
        >
          Delete
        </button>
      </div>
    </b-modal>
  </div>
</template>

<script lang="ts" src="./exchange-order.component.ts"></script>
