<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate v-on:submit.prevent="save()">
        <h2
          id="exchangeApp.exchangeOrder.home.createOrEditLabel"
          data-cy="ExchangeOrderCreateUpdateHeading"
          v-text="$t('exchangeApp.exchangeOrder.home.createOrEditLabel')"
        >
          Create or edit a ExchangeOrder
        </h2>
        <div>
          <div class="form-group" v-if="exchangeOrder.id">
            <label for="id" v-text="$t('global.field.id')">ID</label>
            <input type="text" class="form-control" id="id" name="id" v-model="exchangeOrder.id" readonly />
          </div>
          <div class="form-group">
            <label
              class="form-control-label"
              v-text="$t('exchangeApp.exchangeOrder.clientOrderRefId')"
              for="exchange-order-clientOrderRefId"
              >Client Order Ref Id</label
            >
            <input
              type="text"
              class="form-control"
              name="clientOrderRefId"
              id="exchange-order-clientOrderRefId"
              data-cy="clientOrderRefId"
              :class="{ valid: !$v.exchangeOrder.clientOrderRefId.$invalid, invalid: $v.exchangeOrder.clientOrderRefId.$invalid }"
              v-model="$v.exchangeOrder.clientOrderRefId.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.exchangeOrder.customerPhoneNo')" for="exchange-order-customerPhoneNo"
              >Customer Phone No</label
            >
            <input
              type="text"
              class="form-control"
              name="customerPhoneNo"
              id="exchange-order-customerPhoneNo"
              data-cy="customerPhoneNo"
              :class="{ valid: !$v.exchangeOrder.customerPhoneNo.$invalid, invalid: $v.exchangeOrder.customerPhoneNo.$invalid }"
              v-model="$v.exchangeOrder.customerPhoneNo.$model"
            />
          </div>
          <div class="form-group">
            <label
              class="form-control-label"
              v-text="$t('exchangeApp.exchangeOrder.clientOrderDeliveryRefId')"
              for="exchange-order-clientOrderDeliveryRefId"
              >Client Order Delivery Ref Id</label
            >
            <input
              type="text"
              class="form-control"
              name="clientOrderDeliveryRefId"
              id="exchange-order-clientOrderDeliveryRefId"
              data-cy="clientOrderDeliveryRefId"
              :class="{
                valid: !$v.exchangeOrder.clientOrderDeliveryRefId.$invalid,
                invalid: $v.exchangeOrder.clientOrderDeliveryRefId.$invalid,
              }"
              v-model="$v.exchangeOrder.clientOrderDeliveryRefId.$model"
            />
          </div>
          <div class="form-group">
            <label
              class="form-control-label"
              v-text="$t('exchangeApp.exchangeOrder.deliveryPartnerPhoneNo')"
              for="exchange-order-deliveryPartnerPhoneNo"
              >Delivery Partner Phone No</label
            >
            <input
              type="text"
              class="form-control"
              name="deliveryPartnerPhoneNo"
              id="exchange-order-deliveryPartnerPhoneNo"
              data-cy="deliveryPartnerPhoneNo"
              :class="{
                valid: !$v.exchangeOrder.deliveryPartnerPhoneNo.$invalid,
                invalid: $v.exchangeOrder.deliveryPartnerPhoneNo.$invalid,
              }"
              v-model="$v.exchangeOrder.deliveryPartnerPhoneNo.$model"
            />
          </div>
          <div class="form-group">
            <label
              class="form-control-label"
              v-text="$t('exchangeApp.exchangeOrder.totalOrderAmount')"
              for="exchange-order-totalOrderAmount"
              >Total Order Amount</label
            >
            <input
              type="number"
              class="form-control"
              name="totalOrderAmount"
              id="exchange-order-totalOrderAmount"
              data-cy="totalOrderAmount"
              :class="{ valid: !$v.exchangeOrder.totalOrderAmount.$invalid, invalid: $v.exchangeOrder.totalOrderAmount.$invalid }"
              v-model.number="$v.exchangeOrder.totalOrderAmount.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.exchangeOrder.paidAmount')" for="exchange-order-paidAmount"
              >Paid Amount</label
            >
            <input
              type="number"
              class="form-control"
              name="paidAmount"
              id="exchange-order-paidAmount"
              data-cy="paidAmount"
              :class="{ valid: !$v.exchangeOrder.paidAmount.$invalid, invalid: $v.exchangeOrder.paidAmount.$invalid }"
              v-model.number="$v.exchangeOrder.paidAmount.$model"
            />
          </div>
          <div class="form-group">
            <label
              class="form-control-label"
              v-text="$t('exchangeApp.exchangeOrder.codInitialPendingAmount')"
              for="exchange-order-codInitialPendingAmount"
              >Cod Initial Pending Amount</label
            >
            <input
              type="number"
              class="form-control"
              name="codInitialPendingAmount"
              id="exchange-order-codInitialPendingAmount"
              data-cy="codInitialPendingAmount"
              :class="{
                valid: !$v.exchangeOrder.codInitialPendingAmount.$invalid,
                invalid: $v.exchangeOrder.codInitialPendingAmount.$invalid,
              }"
              v-model.number="$v.exchangeOrder.codInitialPendingAmount.$model"
            />
          </div>
          <div class="form-group">
            <label
              class="form-control-label"
              v-text="$t('exchangeApp.exchangeOrder.exchangeEstimateAmount')"
              for="exchange-order-exchangeEstimateAmount"
              >Exchange Estimate Amount</label
            >
            <input
              type="number"
              class="form-control"
              name="exchangeEstimateAmount"
              id="exchange-order-exchangeEstimateAmount"
              data-cy="exchangeEstimateAmount"
              :class="{
                valid: !$v.exchangeOrder.exchangeEstimateAmount.$invalid,
                invalid: $v.exchangeOrder.exchangeEstimateAmount.$invalid,
              }"
              v-model.number="$v.exchangeOrder.exchangeEstimateAmount.$model"
            />
          </div>
          <div class="form-group">
            <label
              class="form-control-label"
              v-text="$t('exchangeApp.exchangeOrder.exchangeFinalAmountToUser')"
              for="exchange-order-exchangeFinalAmountToUser"
              >Exchange Final Amount To User</label
            >
            <input
              type="number"
              class="form-control"
              name="exchangeFinalAmountToUser"
              id="exchange-order-exchangeFinalAmountToUser"
              data-cy="exchangeFinalAmountToUser"
              :class="{
                valid: !$v.exchangeOrder.exchangeFinalAmountToUser.$invalid,
                invalid: $v.exchangeOrder.exchangeFinalAmountToUser.$invalid,
              }"
              v-model.number="$v.exchangeOrder.exchangeFinalAmountToUser.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.exchangeOrder.codFinalAmount')" for="exchange-order-codFinalAmount"
              >Cod Final Amount</label
            >
            <input
              type="number"
              class="form-control"
              name="codFinalAmount"
              id="exchange-order-codFinalAmount"
              data-cy="codFinalAmount"
              :class="{ valid: !$v.exchangeOrder.codFinalAmount.$invalid, invalid: $v.exchangeOrder.codFinalAmount.$invalid }"
              v-model.number="$v.exchangeOrder.codFinalAmount.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.exchangeOrder.codAmountPaid')" for="exchange-order-codAmountPaid"
              >Cod Amount Paid</label
            >
            <input
              type="number"
              class="form-control"
              name="codAmountPaid"
              id="exchange-order-codAmountPaid"
              data-cy="codAmountPaid"
              :class="{ valid: !$v.exchangeOrder.codAmountPaid.$invalid, invalid: $v.exchangeOrder.codAmountPaid.$invalid }"
              v-model.number="$v.exchangeOrder.codAmountPaid.$model"
            />
          </div>
          <div class="form-group">
            <label
              class="form-control-label"
              v-text="$t('exchangeApp.exchangeOrder.codPaymentTxnRefId')"
              for="exchange-order-codPaymentTxnRefId"
              >Cod Payment Txn Ref Id</label
            >
            <input
              type="text"
              class="form-control"
              name="codPaymentTxnRefId"
              id="exchange-order-codPaymentTxnRefId"
              data-cy="codPaymentTxnRefId"
              :class="{ valid: !$v.exchangeOrder.codPaymentTxnRefId.$invalid, invalid: $v.exchangeOrder.codPaymentTxnRefId.$invalid }"
              v-model="$v.exchangeOrder.codPaymentTxnRefId.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.exchangeOrder.status')" for="exchange-order-status">Status</label>
            <select
              class="form-control"
              name="status"
              :class="{ valid: !$v.exchangeOrder.status.$invalid, invalid: $v.exchangeOrder.status.$invalid }"
              v-model="$v.exchangeOrder.status.$model"
              id="exchange-order-status"
              data-cy="status"
            >
              <option
                v-for="exchangeOrderStatus in exchangeOrderStatusValues"
                :key="exchangeOrderStatus"
                v-bind:value="exchangeOrderStatus"
                v-bind:label="$t('exchangeApp.ExchangeOrderStatus.' + exchangeOrderStatus)"
              >
                {{ exchangeOrderStatus }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label
              class="form-control-label"
              v-text="$t('exchangeApp.exchangeOrder.cancellationReason')"
              for="exchange-order-cancellationReason"
              >Cancellation Reason</label
            >
            <select
              class="form-control"
              name="cancellationReason"
              :class="{ valid: !$v.exchangeOrder.cancellationReason.$invalid, invalid: $v.exchangeOrder.cancellationReason.$invalid }"
              v-model="$v.exchangeOrder.cancellationReason.$model"
              id="exchange-order-cancellationReason"
              data-cy="cancellationReason"
            >
              <option
                v-for="cancellationReason in cancellationReasonValues"
                :key="cancellationReason"
                v-bind:value="cancellationReason"
                v-bind:label="$t('exchangeApp.CancellationReason.' + cancellationReason)"
              >
                {{ cancellationReason }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label
              class="form-control-label"
              v-text="$t('exchangeApp.exchangeOrder.expectedPickupDate')"
              for="exchange-order-expectedPickupDate"
              >Expected Pickup Date</label
            >
            <b-input-group class="mb-3">
              <b-input-group-prepend>
                <b-form-datepicker
                  aria-controls="exchange-order-expectedPickupDate"
                  v-model="$v.exchangeOrder.expectedPickupDate.$model"
                  name="expectedPickupDate"
                  class="form-control"
                  :locale="currentLanguage"
                  button-only
                  today-button
                  reset-button
                  close-button
                >
                </b-form-datepicker>
              </b-input-group-prepend>
              <b-form-input
                id="exchange-order-expectedPickupDate"
                data-cy="expectedPickupDate"
                type="text"
                class="form-control"
                name="expectedPickupDate"
                :class="{ valid: !$v.exchangeOrder.expectedPickupDate.$invalid, invalid: $v.exchangeOrder.expectedPickupDate.$invalid }"
                v-model="$v.exchangeOrder.expectedPickupDate.$model"
              />
            </b-input-group>
          </div>
          <div class="form-group">
            <label
              class="form-control-label"
              v-text="$t('exchangeApp.exchangeOrder.customerPickupDate')"
              for="exchange-order-customerPickupDate"
              >Customer Pickup Date</label
            >
            <b-input-group class="mb-3">
              <b-input-group-prepend>
                <b-form-datepicker
                  aria-controls="exchange-order-customerPickupDate"
                  v-model="$v.exchangeOrder.customerPickupDate.$model"
                  name="customerPickupDate"
                  class="form-control"
                  :locale="currentLanguage"
                  button-only
                  today-button
                  reset-button
                  close-button
                >
                </b-form-datepicker>
              </b-input-group-prepend>
              <b-form-input
                id="exchange-order-customerPickupDate"
                data-cy="customerPickupDate"
                type="text"
                class="form-control"
                name="customerPickupDate"
                :class="{ valid: !$v.exchangeOrder.customerPickupDate.$invalid, invalid: $v.exchangeOrder.customerPickupDate.$invalid }"
                v-model="$v.exchangeOrder.customerPickupDate.$model"
              />
            </b-input-group>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.exchangeOrder.dcDeliveredDate')" for="exchange-order-dcDeliveredDate"
              >Dc Delivered Date</label
            >
            <b-input-group class="mb-3">
              <b-input-group-prepend>
                <b-form-datepicker
                  aria-controls="exchange-order-dcDeliveredDate"
                  v-model="$v.exchangeOrder.dcDeliveredDate.$model"
                  name="dcDeliveredDate"
                  class="form-control"
                  :locale="currentLanguage"
                  button-only
                  today-button
                  reset-button
                  close-button
                >
                </b-form-datepicker>
              </b-input-group-prepend>
              <b-form-input
                id="exchange-order-dcDeliveredDate"
                data-cy="dcDeliveredDate"
                type="text"
                class="form-control"
                name="dcDeliveredDate"
                :class="{ valid: !$v.exchangeOrder.dcDeliveredDate.$invalid, invalid: $v.exchangeOrder.dcDeliveredDate.$invalid }"
                v-model="$v.exchangeOrder.dcDeliveredDate.$model"
              />
            </b-input-group>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.exchangeOrder.dcPickupDate')" for="exchange-order-dcPickupDate"
              >Dc Pickup Date</label
            >
            <b-input-group class="mb-3">
              <b-input-group-prepend>
                <b-form-datepicker
                  aria-controls="exchange-order-dcPickupDate"
                  v-model="$v.exchangeOrder.dcPickupDate.$model"
                  name="dcPickupDate"
                  class="form-control"
                  :locale="currentLanguage"
                  button-only
                  today-button
                  reset-button
                  close-button
                >
                </b-form-datepicker>
              </b-input-group-prepend>
              <b-form-input
                id="exchange-order-dcPickupDate"
                data-cy="dcPickupDate"
                type="text"
                class="form-control"
                name="dcPickupDate"
                :class="{ valid: !$v.exchangeOrder.dcPickupDate.$invalid, invalid: $v.exchangeOrder.dcPickupDate.$invalid }"
                v-model="$v.exchangeOrder.dcPickupDate.$model"
              />
            </b-input-group>
          </div>
          <div class="form-group">
            <label
              class="form-control-label"
              v-text="$t('exchangeApp.exchangeOrder.exchangeFinalAmountToDc')"
              for="exchange-order-exchangeFinalAmountToDc"
              >Exchange Final Amount To Dc</label
            >
            <input
              type="number"
              class="form-control"
              name="exchangeFinalAmountToDc"
              id="exchange-order-exchangeFinalAmountToDc"
              data-cy="exchangeFinalAmountToDc"
              :class="{
                valid: !$v.exchangeOrder.exchangeFinalAmountToDc.$invalid,
                invalid: $v.exchangeOrder.exchangeFinalAmountToDc.$invalid,
              }"
              v-model.number="$v.exchangeOrder.exchangeFinalAmountToDc.$model"
            />
          </div>
          <div class="form-group">
            <label
              class="form-control-label"
              v-text="$t('exchangeApp.exchangeOrder.vendorDeliveredDate')"
              for="exchange-order-vendorDeliveredDate"
              >Vendor Delivered Date</label
            >
            <b-input-group class="mb-3">
              <b-input-group-prepend>
                <b-form-datepicker
                  aria-controls="exchange-order-vendorDeliveredDate"
                  v-model="$v.exchangeOrder.vendorDeliveredDate.$model"
                  name="vendorDeliveredDate"
                  class="form-control"
                  :locale="currentLanguage"
                  button-only
                  today-button
                  reset-button
                  close-button
                >
                </b-form-datepicker>
              </b-input-group-prepend>
              <b-form-input
                id="exchange-order-vendorDeliveredDate"
                data-cy="vendorDeliveredDate"
                type="text"
                class="form-control"
                name="vendorDeliveredDate"
                :class="{ valid: !$v.exchangeOrder.vendorDeliveredDate.$invalid, invalid: $v.exchangeOrder.vendorDeliveredDate.$invalid }"
                v-model="$v.exchangeOrder.vendorDeliveredDate.$model"
              />
            </b-input-group>
          </div>
          <div class="form-group">
            <label
              class="form-control-label"
              v-text="$t('exchangeApp.exchangeOrder.exchangeFinalAmountToVendor')"
              for="exchange-order-exchangeFinalAmountToVendor"
              >Exchange Final Amount To Vendor</label
            >
            <input
              type="number"
              class="form-control"
              name="exchangeFinalAmountToVendor"
              id="exchange-order-exchangeFinalAmountToVendor"
              data-cy="exchangeFinalAmountToVendor"
              :class="{
                valid: !$v.exchangeOrder.exchangeFinalAmountToVendor.$invalid,
                invalid: $v.exchangeOrder.exchangeFinalAmountToVendor.$invalid,
              }"
              v-model.number="$v.exchangeOrder.exchangeFinalAmountToVendor.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.exchangeOrder.createdAt')" for="exchange-order-createdAt"
              >Created At</label
            >
            <b-input-group class="mb-3">
              <b-input-group-prepend>
                <b-form-datepicker
                  aria-controls="exchange-order-createdAt"
                  v-model="$v.exchangeOrder.createdAt.$model"
                  name="createdAt"
                  class="form-control"
                  :locale="currentLanguage"
                  button-only
                  today-button
                  reset-button
                  close-button
                >
                </b-form-datepicker>
              </b-input-group-prepend>
              <b-form-input
                id="exchange-order-createdAt"
                data-cy="createdAt"
                type="text"
                class="form-control"
                name="createdAt"
                :class="{ valid: !$v.exchangeOrder.createdAt.$invalid, invalid: $v.exchangeOrder.createdAt.$invalid }"
                v-model="$v.exchangeOrder.createdAt.$model"
              />
            </b-input-group>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.exchangeOrder.updatedAt')" for="exchange-order-updatedAt"
              >Updated At</label
            >
            <b-input-group class="mb-3">
              <b-input-group-prepend>
                <b-form-datepicker
                  aria-controls="exchange-order-updatedAt"
                  v-model="$v.exchangeOrder.updatedAt.$model"
                  name="updatedAt"
                  class="form-control"
                  :locale="currentLanguage"
                  button-only
                  today-button
                  reset-button
                  close-button
                >
                </b-form-datepicker>
              </b-input-group-prepend>
              <b-form-input
                id="exchange-order-updatedAt"
                data-cy="updatedAt"
                type="text"
                class="form-control"
                name="updatedAt"
                :class="{ valid: !$v.exchangeOrder.updatedAt.$invalid, invalid: $v.exchangeOrder.updatedAt.$invalid }"
                v-model="$v.exchangeOrder.updatedAt.$model"
              />
            </b-input-group>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.exchangeOrder.customerAddress')" for="exchange-order-customerAddress"
              >Customer Address</label
            >
            <select
              class="form-control"
              id="exchange-order-customerAddress"
              data-cy="customerAddress"
              name="customerAddress"
              v-model="exchangeOrder.customerAddress"
            >
              <option v-bind:value="null"></option>
              <option
                v-bind:value="
                  exchangeOrder.customerAddress && addressOption.id === exchangeOrder.customerAddress.id
                    ? exchangeOrder.customerAddress
                    : addressOption
                "
                v-for="addressOption in addresses"
                :key="addressOption.id"
              >
                {{ addressOption.id }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.exchangeOrder.vendorAddress')" for="exchange-order-vendorAddress"
              >Vendor Address</label
            >
            <select
              class="form-control"
              id="exchange-order-vendorAddress"
              data-cy="vendorAddress"
              name="vendorAddress"
              v-model="exchangeOrder.vendorAddress"
            >
              <option v-bind:value="null"></option>
              <option
                v-bind:value="
                  exchangeOrder.vendorAddress && addressOption.id === exchangeOrder.vendorAddress.id
                    ? exchangeOrder.vendorAddress
                    : addressOption
                "
                v-for="addressOption in addresses"
                :key="addressOption.id"
              >
                {{ addressOption.id }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.exchangeOrder.dcAddress')" for="exchange-order-dcAddress"
              >Dc Address</label
            >
            <select
              class="form-control"
              id="exchange-order-dcAddress"
              data-cy="dcAddress"
              name="dcAddress"
              v-model="exchangeOrder.dcAddress"
            >
              <option v-bind:value="null"></option>
              <option
                v-bind:value="
                  exchangeOrder.dcAddress && addressOption.id === exchangeOrder.dcAddress.id ? exchangeOrder.dcAddress : addressOption
                "
                v-for="addressOption in addresses"
                :key="addressOption.id"
              >
                {{ addressOption.id }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.exchangeOrder.client')" for="exchange-order-client">Client</label>
            <select class="form-control" id="exchange-order-client" data-cy="client" name="client" v-model="exchangeOrder.client">
              <option v-bind:value="null"></option>
              <option
                v-bind:value="exchangeOrder.client && clientOption.id === exchangeOrder.client.id ? exchangeOrder.client : clientOption"
                v-for="clientOption in clients"
                :key="clientOption.id"
              >
                {{ clientOption.id }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.exchangeOrder.product')" for="exchange-order-product">Product</label>
            <select class="form-control" id="exchange-order-product" data-cy="product" name="product" v-model="exchangeOrder.product">
              <option v-bind:value="null"></option>
              <option
                v-bind:value="
                  exchangeOrder.product && productContextOption.id === exchangeOrder.product.id
                    ? exchangeOrder.product
                    : productContextOption
                "
                v-for="productContextOption in productContexts"
                :key="productContextOption.id"
              >
                {{ productContextOption.id }}
              </option>
            </select>
          </div>
        </div>
        <div>
          <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" v-on:click="previousState()">
            <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            :disabled="$v.exchangeOrder.$invalid || isSaving"
            class="btn btn-primary"
          >
            <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script lang="ts" src="./exchange-order-update.component.ts"></script>
