<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <div v-if="document">
        <h2 class="jh-entity-heading" data-cy="documentDetailsHeading">
          <span v-text="$t('exchangeApp.document.detail.title')">Document</span> {{ document.id }}
        </h2>
        <dl class="row jh-entity-details">
          <dt>
            <span v-text="$t('exchangeApp.document.tag')">Tag</span>
          </dt>
          <dd>
            <span>{{ document.tag }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.document.url')">Url</span>
          </dt>
          <dd>
            <span>{{ document.url }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.document.type')">Type</span>
          </dt>
          <dd>
            <span v-text="$t('exchangeApp.DocumentType.' + document.type)">{{ document.type }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.document.isActive')">Is Active</span>
          </dt>
          <dd>
            <span>{{ document.isActive }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.document.createdAt')">Created At</span>
          </dt>
          <dd>
            <span>{{ document.createdAt }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.document.updatedAt')">Updated At</span>
          </dt>
          <dd>
            <span>{{ document.updatedAt }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.document.createdBy')">Created By</span>
          </dt>
          <dd>
            <span>{{ document.createdBy }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.document.updatedBy')">Updated By</span>
          </dt>
          <dd>
            <span>{{ document.updatedBy }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.document.vendor')">Vendor</span>
          </dt>
          <dd>
            <div v-if="document.vendor">
              <router-link :to="{ name: 'VendorView', params: { vendorId: document.vendor.id } }">{{ document.vendor.id }}</router-link>
            </div>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.document.product')">Product</span>
          </dt>
          <dd>
            <div v-if="document.product">
              <router-link :to="{ name: 'ProductContextView', params: { productContextId: document.product.id } }">{{
                document.product.id
              }}</router-link>
            </div>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.document.order')">Order</span>
          </dt>
          <dd>
            <div v-if="document.order">
              <router-link :to="{ name: 'ExchangeOrderView', params: { exchangeOrderId: document.order.id } }">{{
                document.order.id
              }}</router-link>
            </div>
          </dd>
        </dl>
        <button type="submit" v-on:click.prevent="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
        </button>
        <router-link v-if="document.id" :to="{ name: 'DocumentEdit', params: { documentId: document.id } }" custom v-slot="{ navigate }">
          <button @click="navigate" class="btn btn-primary">
            <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
          </button>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./document-details.component.ts"></script>
