<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate v-on:submit.prevent="save()">
        <h2
          id="exchangeApp.document.home.createOrEditLabel"
          data-cy="DocumentCreateUpdateHeading"
          v-text="$t('exchangeApp.document.home.createOrEditLabel')"
        >
          Create or edit a Document
        </h2>
        <div>
          <div class="form-group" v-if="document.id">
            <label for="id" v-text="$t('global.field.id')">ID</label>
            <input type="text" class="form-control" id="id" name="id" v-model="document.id" readonly />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.document.tag')" for="document-tag">Tag</label>
            <input
              type="text"
              class="form-control"
              name="tag"
              id="document-tag"
              data-cy="tag"
              :class="{ valid: !$v.document.tag.$invalid, invalid: $v.document.tag.$invalid }"
              v-model="$v.document.tag.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.document.url')" for="document-url">Url</label>
            <input
              type="text"
              class="form-control"
              name="url"
              id="document-url"
              data-cy="url"
              :class="{ valid: !$v.document.url.$invalid, invalid: $v.document.url.$invalid }"
              v-model="$v.document.url.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.document.type')" for="document-type">Type</label>
            <select
              class="form-control"
              name="type"
              :class="{ valid: !$v.document.type.$invalid, invalid: $v.document.type.$invalid }"
              v-model="$v.document.type.$model"
              id="document-type"
              data-cy="type"
            >
              <option
                v-for="documentType in documentTypeValues"
                :key="documentType"
                v-bind:value="documentType"
                v-bind:label="$t('exchangeApp.DocumentType.' + documentType)"
              >
                {{ documentType }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.document.isActive')" for="document-isActive">Is Active</label>
            <input
              type="checkbox"
              class="form-check"
              name="isActive"
              id="document-isActive"
              data-cy="isActive"
              :class="{ valid: !$v.document.isActive.$invalid, invalid: $v.document.isActive.$invalid }"
              v-model="$v.document.isActive.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.document.createdAt')" for="document-createdAt">Created At</label>
            <b-input-group class="mb-3">
              <b-input-group-prepend>
                <b-form-datepicker
                  aria-controls="document-createdAt"
                  v-model="$v.document.createdAt.$model"
                  name="createdAt"
                  class="form-control"
                  :locale="currentLanguage"
                  button-only
                  today-button
                  reset-button
                  close-button
                >
                </b-form-datepicker>
              </b-input-group-prepend>
              <b-form-input
                id="document-createdAt"
                data-cy="createdAt"
                type="text"
                class="form-control"
                name="createdAt"
                :class="{ valid: !$v.document.createdAt.$invalid, invalid: $v.document.createdAt.$invalid }"
                v-model="$v.document.createdAt.$model"
              />
            </b-input-group>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.document.updatedAt')" for="document-updatedAt">Updated At</label>
            <b-input-group class="mb-3">
              <b-input-group-prepend>
                <b-form-datepicker
                  aria-controls="document-updatedAt"
                  v-model="$v.document.updatedAt.$model"
                  name="updatedAt"
                  class="form-control"
                  :locale="currentLanguage"
                  button-only
                  today-button
                  reset-button
                  close-button
                >
                </b-form-datepicker>
              </b-input-group-prepend>
              <b-form-input
                id="document-updatedAt"
                data-cy="updatedAt"
                type="text"
                class="form-control"
                name="updatedAt"
                :class="{ valid: !$v.document.updatedAt.$invalid, invalid: $v.document.updatedAt.$invalid }"
                v-model="$v.document.updatedAt.$model"
              />
            </b-input-group>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.document.createdBy')" for="document-createdBy">Created By</label>
            <input
              type="text"
              class="form-control"
              name="createdBy"
              id="document-createdBy"
              data-cy="createdBy"
              :class="{ valid: !$v.document.createdBy.$invalid, invalid: $v.document.createdBy.$invalid }"
              v-model="$v.document.createdBy.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.document.updatedBy')" for="document-updatedBy">Updated By</label>
            <input
              type="text"
              class="form-control"
              name="updatedBy"
              id="document-updatedBy"
              data-cy="updatedBy"
              :class="{ valid: !$v.document.updatedBy.$invalid, invalid: $v.document.updatedBy.$invalid }"
              v-model="$v.document.updatedBy.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.document.vendor')" for="document-vendor">Vendor</label>
            <select class="form-control" id="document-vendor" data-cy="vendor" name="vendor" v-model="document.vendor">
              <option v-bind:value="null"></option>
              <option
                v-bind:value="document.vendor && vendorOption.id === document.vendor.id ? document.vendor : vendorOption"
                v-for="vendorOption in vendors"
                :key="vendorOption.id"
              >
                {{ vendorOption.id }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.document.product')" for="document-product">Product</label>
            <select class="form-control" id="document-product" data-cy="product" name="product" v-model="document.product">
              <option v-bind:value="null"></option>
              <option
                v-bind:value="document.product && productContextOption.id === document.product.id ? document.product : productContextOption"
                v-for="productContextOption in productContexts"
                :key="productContextOption.id"
              >
                {{ productContextOption.id }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.document.order')" for="document-order">Order</label>
            <select class="form-control" id="document-order" data-cy="order" name="order" v-model="document.order">
              <option v-bind:value="null"></option>
              <option
                v-bind:value="document.order && exchangeOrderOption.id === document.order.id ? document.order : exchangeOrderOption"
                v-for="exchangeOrderOption in exchangeOrders"
                :key="exchangeOrderOption.id"
              >
                {{ exchangeOrderOption.id }}
              </option>
            </select>
          </div>
        </div>
        <div>
          <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" v-on:click="previousState()">
            <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            :disabled="$v.document.$invalid || isSaving"
            class="btn btn-primary"
          >
            <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script lang="ts" src="./document-update.component.ts"></script>
