<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate v-on:submit.prevent="save()">
        <h2
          id="exchangeApp.question.home.createOrEditLabel"
          data-cy="QuestionCreateUpdateHeading"
          v-text="$t('exchangeApp.question.home.createOrEditLabel')"
        >
          Create or edit a Question
        </h2>
        <div>
          <div class="form-group" v-if="question.id">
            <label for="id" v-text="$t('global.field.id')">ID</label>
            <input type="text" class="form-control" id="id" name="id" v-model="question.id" readonly />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.question.categoryContextType')" for="question-categoryContextType"
              >Category Context Type</label
            >
            <select
              class="form-control"
              name="categoryContextType"
              :class="{ valid: !$v.question.categoryContextType.$invalid, invalid: $v.question.categoryContextType.$invalid }"
              v-model="$v.question.categoryContextType.$model"
              id="question-categoryContextType"
              data-cy="categoryContextType"
            >
              <option
                v-for="categoryConetxtType in categoryConetxtTypeValues"
                :key="categoryConetxtType"
                v-bind:value="categoryConetxtType"
                v-bind:label="$t('exchangeApp.CategoryConetxtType.' + categoryConetxtType)"
              >
                {{ categoryConetxtType }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.question.question')" for="question-question">Question</label>
            <input
              type="text"
              class="form-control"
              name="question"
              id="question-question"
              data-cy="question"
              :class="{ valid: !$v.question.question.$invalid, invalid: $v.question.question.$invalid }"
              v-model="$v.question.question.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.question.isActive')" for="question-isActive">Is Active</label>
            <input
              type="checkbox"
              class="form-check"
              name="isActive"
              id="question-isActive"
              data-cy="isActive"
              :class="{ valid: !$v.question.isActive.$invalid, invalid: $v.question.isActive.$invalid }"
              v-model="$v.question.isActive.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.question.createdAt')" for="question-createdAt">Created At</label>
            <b-input-group class="mb-3">
              <b-input-group-prepend>
                <b-form-datepicker
                  aria-controls="question-createdAt"
                  v-model="$v.question.createdAt.$model"
                  name="createdAt"
                  class="form-control"
                  :locale="currentLanguage"
                  button-only
                  today-button
                  reset-button
                  close-button
                >
                </b-form-datepicker>
              </b-input-group-prepend>
              <b-form-input
                id="question-createdAt"
                data-cy="createdAt"
                type="text"
                class="form-control"
                name="createdAt"
                :class="{ valid: !$v.question.createdAt.$invalid, invalid: $v.question.createdAt.$invalid }"
                v-model="$v.question.createdAt.$model"
              />
            </b-input-group>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.question.updatedAt')" for="question-updatedAt">Updated At</label>
            <b-input-group class="mb-3">
              <b-input-group-prepend>
                <b-form-datepicker
                  aria-controls="question-updatedAt"
                  v-model="$v.question.updatedAt.$model"
                  name="updatedAt"
                  class="form-control"
                  :locale="currentLanguage"
                  button-only
                  today-button
                  reset-button
                  close-button
                >
                </b-form-datepicker>
              </b-input-group-prepend>
              <b-form-input
                id="question-updatedAt"
                data-cy="updatedAt"
                type="text"
                class="form-control"
                name="updatedAt"
                :class="{ valid: !$v.question.updatedAt.$invalid, invalid: $v.question.updatedAt.$invalid }"
                v-model="$v.question.updatedAt.$model"
              />
            </b-input-group>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.question.createdBy')" for="question-createdBy">Created By</label>
            <input
              type="text"
              class="form-control"
              name="createdBy"
              id="question-createdBy"
              data-cy="createdBy"
              :class="{ valid: !$v.question.createdBy.$invalid, invalid: $v.question.createdBy.$invalid }"
              v-model="$v.question.createdBy.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('exchangeApp.question.updatedBy')" for="question-updatedBy">Updated By</label>
            <input
              type="text"
              class="form-control"
              name="updatedBy"
              id="question-updatedBy"
              data-cy="updatedBy"
              :class="{ valid: !$v.question.updatedBy.$invalid, invalid: $v.question.updatedBy.$invalid }"
              v-model="$v.question.updatedBy.$model"
            />
          </div>
        </div>
        <div>
          <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" v-on:click="previousState()">
            <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            :disabled="$v.question.$invalid || isSaving"
            class="btn btn-primary"
          >
            <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script lang="ts" src="./question-update.component.ts"></script>
