<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <div v-if="question">
        <h2 class="jh-entity-heading" data-cy="questionDetailsHeading">
          <span v-text="$t('exchangeApp.question.detail.title')">Question</span> {{ question.id }}
        </h2>
        <dl class="row jh-entity-details">
          <dt>
            <span v-text="$t('exchangeApp.question.categoryContextType')">Category Context Type</span>
          </dt>
          <dd>
            <span v-text="$t('exchangeApp.CategoryConetxtType.' + question.categoryContextType)">{{ question.categoryContextType }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.question.question')">Question</span>
          </dt>
          <dd>
            <span>{{ question.question }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.question.isActive')">Is Active</span>
          </dt>
          <dd>
            <span>{{ question.isActive }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.question.createdAt')">Created At</span>
          </dt>
          <dd>
            <span>{{ question.createdAt }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.question.updatedAt')">Updated At</span>
          </dt>
          <dd>
            <span>{{ question.updatedAt }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.question.createdBy')">Created By</span>
          </dt>
          <dd>
            <span>{{ question.createdBy }}</span>
          </dd>
          <dt>
            <span v-text="$t('exchangeApp.question.updatedBy')">Updated By</span>
          </dt>
          <dd>
            <span>{{ question.updatedBy }}</span>
          </dd>
        </dl>
        <button type="submit" v-on:click.prevent="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
        </button>
        <router-link v-if="question.id" :to="{ name: 'QuestionEdit', params: { questionId: question.id } }" custom v-slot="{ navigate }">
          <button @click="navigate" class="btn btn-primary">
            <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
          </button>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./question-details.component.ts"></script>
